.c1_0 { color: #000; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c1_1 { color: #001; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c1_2 { color: #002; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c1_3 { color: #003; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c1_4 { color: #004; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c1_5 { color: #005; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c1_6 { color: #006; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c1_7 { color: #007; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c1_8 { color: #008; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c1_9 { color: #009; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c1_10 { color: #00a; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c1_11 { color: #00b; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c1_12 { color: #00c; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c1_13 { color: #00d; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c1_14 { color: #00e; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c1_15 { color: #00f; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c1_16 { color: #010; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c1_17 { color: #011; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c1_18 { color: #012; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c1_19 { color: #013; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c1_20 { color: #014; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c1_21 { color: #015; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c1_22 { color: #016; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c1_23 { color: #017; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c1_24 { color: #018; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c1_25 { color: #019; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c1_26 { color: #01a; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c1_27 { color: #01b; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c1_28 { color: #01c; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c1_29 { color: #01d; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c1_30 { color: #01e; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c1_31 { color: #01f; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c1_32 { color: #020; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c1_33 { color: #021; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c1_34 { color: #022; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c1_35 { color: #023; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c1_36 { color: #024; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c1_37 { color: #025; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c1_38 { color: #026; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c1_39 { color: #027; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c1_40 { color: #028; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c1_41 { color: #029; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c1_42 { color: #02a; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c1_43 { color: #02b; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c1_44 { color: #02c; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c1_45 { color: #02d; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c1_46 { color: #02e; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c1_47 { color: #02f; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c1_48 { color: #030; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c1_49 { color: #031; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c1_50 { color: #032; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c1_51 { color: #033; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c1_52 { color: #034; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c1_53 { color: #035; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c1_54 { color: #036; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c1_55 { color: #037; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c1_56 { color: #038; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c1_57 { color: #039; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c1_58 { color: #03a; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c1_59 { color: #03b; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c1_60 { color: #03c; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c1_61 { color: #03d; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c1_62 { color: #03e; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c1_63 { color: #03f; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c1_64 { color: #040; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c1_65 { color: #041; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c1_66 { color: #042; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c1_67 { color: #043; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c1_68 { color: #044; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c1_69 { color: #045; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c1_70 { color: #046; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c1_71 { color: #047; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c1_72 { color: #048; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c1_73 { color: #049; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c1_74 { color: #04a; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c1_75 { color: #04b; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c1_76 { color: #04c; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c1_77 { color: #04d; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c1_78 { color: #04e; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c1_79 { color: #04f; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c1_80 { color: #050; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c1_81 { color: #051; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c1_82 { color: #052; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c1_83 { color: #053; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c1_84 { color: #054; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c1_85 { color: #055; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c1_86 { color: #056; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c1_87 { color: #057; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c1_88 { color: #058; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c1_89 { color: #059; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c1_90 { color: #05a; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c1_91 { color: #05b; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c1_92 { color: #05c; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c1_93 { color: #05d; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c1_94 { color: #05e; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c1_95 { color: #05f; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c1_96 { color: #060; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c1_97 { color: #061; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c1_98 { color: #062; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c1_99 { color: #063; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c1_100 { color: #064; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c1_101 { color: #065; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c1_102 { color: #066; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c1_103 { color: #067; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c1_104 { color: #068; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c1_105 { color: #069; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c1_106 { color: #06a; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c1_107 { color: #06b; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c1_108 { color: #06c; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c1_109 { color: #06d; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c1_110 { color: #06e; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c1_111 { color: #06f; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c1_112 { color: #070; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c1_113 { color: #071; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c1_114 { color: #072; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c1_115 { color: #073; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c1_116 { color: #074; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c1_117 { color: #075; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c1_118 { color: #076; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c1_119 { color: #077; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c1_120 { color: #078; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c1_121 { color: #079; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c1_122 { color: #07a; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c1_123 { color: #07b; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c1_124 { color: #07c; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c1_125 { color: #07d; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c1_126 { color: #07e; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c1_127 { color: #07f; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c1_128 { color: #080; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c1_129 { color: #081; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c1_130 { color: #082; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c1_131 { color: #083; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c1_132 { color: #084; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c1_133 { color: #085; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c1_134 { color: #086; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c1_135 { color: #087; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c1_136 { color: #088; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c1_137 { color: #089; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c1_138 { color: #08a; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c1_139 { color: #08b; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c1_140 { color: #08c; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c1_141 { color: #08d; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c1_142 { color: #08e; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c1_143 { color: #08f; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c1_144 { color: #090; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c1_145 { color: #091; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c1_146 { color: #092; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c1_147 { color: #093; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c1_148 { color: #094; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c1_149 { color: #095; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c1_150 { color: #096; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c1_151 { color: #097; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c1_152 { color: #098; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c1_153 { color: #099; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c1_154 { color: #09a; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c1_155 { color: #09b; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c1_156 { color: #09c; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c1_157 { color: #09d; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c1_158 { color: #09e; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c1_159 { color: #09f; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c1_160 { color: #0a0; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c1_161 { color: #0a1; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c1_162 { color: #0a2; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c1_163 { color: #0a3; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c1_164 { color: #0a4; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c1_165 { color: #0a5; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c1_166 { color: #0a6; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c1_167 { color: #0a7; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c1_168 { color: #0a8; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c1_169 { color: #0a9; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c1_170 { color: #0aa; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c1_171 { color: #0ab; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c1_172 { color: #0ac; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c1_173 { color: #0ad; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c1_174 { color: #0ae; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c1_175 { color: #0af; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c1_176 { color: #0b0; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c1_177 { color: #0b1; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c1_178 { color: #0b2; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c1_179 { color: #0b3; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c1_180 { color: #0b4; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c1_181 { color: #0b5; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c1_182 { color: #0b6; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c1_183 { color: #0b7; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c1_184 { color: #0b8; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c1_185 { color: #0b9; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c1_186 { color: #0ba; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c1_187 { color: #0bb; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c1_188 { color: #0bc; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c1_189 { color: #0bd; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c1_190 { color: #0be; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c1_191 { color: #0bf; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c1_192 { color: #0c0; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c1_193 { color: #0c1; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c1_194 { color: #0c2; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c1_195 { color: #0c3; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c1_196 { color: #0c4; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c1_197 { color: #0c5; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c1_198 { color: #0c6; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c1_199 { color: #0c7; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c1_200 { color: #0c8; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c1_201 { color: #0c9; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c1_202 { color: #0ca; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c1_203 { color: #0cb; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c1_204 { color: #0cc; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c1_205 { color: #0cd; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c1_206 { color: #0ce; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c1_207 { color: #0cf; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c1_208 { color: #0d0; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c1_209 { color: #0d1; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c1_210 { color: #0d2; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c1_211 { color: #0d3; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c1_212 { color: #0d4; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c1_213 { color: #0d5; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c1_214 { color: #0d6; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c1_215 { color: #0d7; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c1_216 { color: #0d8; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c1_217 { color: #0d9; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c1_218 { color: #0da; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c1_219 { color: #0db; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c1_220 { color: #0dc; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c1_221 { color: #0dd; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c1_222 { color: #0de; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c1_223 { color: #0df; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c1_224 { color: #0e0; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c1_225 { color: #0e1; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c1_226 { color: #0e2; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c1_227 { color: #0e3; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c1_228 { color: #0e4; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c1_229 { color: #0e5; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c1_230 { color: #0e6; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c1_231 { color: #0e7; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c1_232 { color: #0e8; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c1_233 { color: #0e9; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c1_234 { color: #0ea; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c1_235 { color: #0eb; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c1_236 { color: #0ec; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c1_237 { color: #0ed; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c1_238 { color: #0ee; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c1_239 { color: #0ef; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c1_240 { color: #0f0; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c1_241 { color: #0f1; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c1_242 { color: #0f2; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c1_243 { color: #0f3; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c1_244 { color: #0f4; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c1_245 { color: #0f5; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c1_246 { color: #0f6; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c1_247 { color: #0f7; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c1_248 { color: #0f8; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c1_249 { color: #0f9; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c1_250 { color: #0fa; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c1_251 { color: #0fb; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c1_252 { color: #0fc; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c1_253 { color: #0fd; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c1_254 { color: #0fe; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c1_255 { color: #0ff; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c1_256 { color: #100; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c1_257 { color: #101; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c1_258 { color: #102; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c1_259 { color: #103; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c1_260 { color: #104; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c1_261 { color: #105; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c1_262 { color: #106; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c1_263 { color: #107; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c1_264 { color: #108; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c1_265 { color: #109; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c1_266 { color: #10a; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c1_267 { color: #10b; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c1_268 { color: #10c; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c1_269 { color: #10d; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c1_270 { color: #10e; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c1_271 { color: #10f; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c1_272 { color: #110; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c1_273 { color: #111; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c1_274 { color: #112; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c1_275 { color: #113; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c1_276 { color: #114; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c1_277 { color: #115; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c1_278 { color: #116; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c1_279 { color: #117; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c1_280 { color: #118; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c1_281 { color: #119; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c1_282 { color: #11a; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c1_283 { color: #11b; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c1_284 { color: #11c; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c1_285 { color: #11d; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c1_286 { color: #11e; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c1_287 { color: #11f; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c1_288 { color: #120; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c1_289 { color: #121; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c1_290 { color: #122; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c1_291 { color: #123; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c1_292 { color: #124; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c1_293 { color: #125; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c1_294 { color: #126; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c1_295 { color: #127; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c1_296 { color: #128; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c1_297 { color: #129; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c1_298 { color: #12a; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c1_299 { color: #12b; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c1_300 { color: #12c; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c1_301 { color: #12d; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c1_302 { color: #12e; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c1_303 { color: #12f; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c1_304 { color: #130; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c1_305 { color: #131; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c1_306 { color: #132; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c1_307 { color: #133; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c1_308 { color: #134; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c1_309 { color: #135; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c1_310 { color: #136; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c1_311 { color: #137; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c1_312 { color: #138; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c1_313 { color: #139; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c1_314 { color: #13a; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c1_315 { color: #13b; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c1_316 { color: #13c; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c1_317 { color: #13d; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c1_318 { color: #13e; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c1_319 { color: #13f; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c1_320 { color: #140; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c1_321 { color: #141; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c1_322 { color: #142; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c1_323 { color: #143; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c1_324 { color: #144; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c1_325 { color: #145; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c1_326 { color: #146; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c1_327 { color: #147; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c1_328 { color: #148; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c1_329 { color: #149; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c1_330 { color: #14a; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c1_331 { color: #14b; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c1_332 { color: #14c; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c1_333 { color: #14d; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c1_334 { color: #14e; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c1_335 { color: #14f; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c1_336 { color: #150; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c1_337 { color: #151; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c1_338 { color: #152; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c1_339 { color: #153; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c1_340 { color: #154; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c1_341 { color: #155; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c1_342 { color: #156; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c1_343 { color: #157; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c1_344 { color: #158; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c1_345 { color: #159; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c1_346 { color: #15a; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c1_347 { color: #15b; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c1_348 { color: #15c; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c1_349 { color: #15d; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c1_350 { color: #15e; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c1_351 { color: #15f; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c1_352 { color: #160; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c1_353 { color: #161; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c1_354 { color: #162; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c1_355 { color: #163; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c1_356 { color: #164; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c1_357 { color: #165; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c1_358 { color: #166; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c1_359 { color: #167; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c1_360 { color: #168; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c1_361 { color: #169; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c1_362 { color: #16a; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c1_363 { color: #16b; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c1_364 { color: #16c; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c1_365 { color: #16d; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c1_366 { color: #16e; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c1_367 { color: #16f; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c1_368 { color: #170; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c1_369 { color: #171; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c1_370 { color: #172; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c1_371 { color: #173; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c1_372 { color: #174; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c1_373 { color: #175; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c1_374 { color: #176; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c1_375 { color: #177; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c1_376 { color: #178; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c1_377 { color: #179; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c1_378 { color: #17a; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c1_379 { color: #17b; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c1_380 { color: #17c; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c1_381 { color: #17d; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c1_382 { color: #17e; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c1_383 { color: #17f; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c1_384 { color: #180; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c1_385 { color: #181; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c1_386 { color: #182; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c1_387 { color: #183; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c1_388 { color: #184; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c1_389 { color: #185; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c1_390 { color: #186; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c1_391 { color: #187; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c1_392 { color: #188; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c1_393 { color: #189; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c1_394 { color: #18a; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c1_395 { color: #18b; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c1_396 { color: #18c; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c1_397 { color: #18d; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c1_398 { color: #18e; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c1_399 { color: #18f; margin: 19px; padding: 9px; border: 1px solid #ccc; }