.c10_0 { color: #000; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c10_1 { color: #00a; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c10_2 { color: #014; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c10_3 { color: #01e; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c10_4 { color: #028; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c10_5 { color: #032; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c10_6 { color: #03c; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c10_7 { color: #046; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c10_8 { color: #050; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c10_9 { color: #05a; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c10_10 { color: #064; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c10_11 { color: #06e; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c10_12 { color: #078; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c10_13 { color: #082; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c10_14 { color: #08c; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c10_15 { color: #096; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c10_16 { color: #0a0; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c10_17 { color: #0aa; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c10_18 { color: #0b4; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c10_19 { color: #0be; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c10_20 { color: #0c8; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c10_21 { color: #0d2; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c10_22 { color: #0dc; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c10_23 { color: #0e6; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c10_24 { color: #0f0; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c10_25 { color: #0fa; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c10_26 { color: #104; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c10_27 { color: #10e; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c10_28 { color: #118; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c10_29 { color: #122; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c10_30 { color: #12c; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c10_31 { color: #136; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c10_32 { color: #140; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c10_33 { color: #14a; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c10_34 { color: #154; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c10_35 { color: #15e; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c10_36 { color: #168; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c10_37 { color: #172; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c10_38 { color: #17c; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c10_39 { color: #186; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c10_40 { color: #190; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c10_41 { color: #19a; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c10_42 { color: #1a4; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c10_43 { color: #1ae; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c10_44 { color: #1b8; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c10_45 { color: #1c2; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c10_46 { color: #1cc; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c10_47 { color: #1d6; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c10_48 { color: #1e0; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c10_49 { color: #1ea; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c10_50 { color: #1f4; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c10_51 { color: #1fe; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c10_52 { color: #208; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c10_53 { color: #212; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c10_54 { color: #21c; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c10_55 { color: #226; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c10_56 { color: #230; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c10_57 { color: #23a; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c10_58 { color: #244; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c10_59 { color: #24e; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c10_60 { color: #258; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c10_61 { color: #262; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c10_62 { color: #26c; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c10_63 { color: #276; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c10_64 { color: #280; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c10_65 { color: #28a; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c10_66 { color: #294; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c10_67 { color: #29e; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c10_68 { color: #2a8; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c10_69 { color: #2b2; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c10_70 { color: #2bc; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c10_71 { color: #2c6; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c10_72 { color: #2d0; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c10_73 { color: #2da; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c10_74 { color: #2e4; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c10_75 { color: #2ee; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c10_76 { color: #2f8; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c10_77 { color: #302; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c10_78 { color: #30c; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c10_79 { color: #316; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c10_80 { color: #320; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c10_81 { color: #32a; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c10_82 { color: #334; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c10_83 { color: #33e; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c10_84 { color: #348; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c10_85 { color: #352; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c10_86 { color: #35c; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c10_87 { color: #366; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c10_88 { color: #370; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c10_89 { color: #37a; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c10_90 { color: #384; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c10_91 { color: #38e; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c10_92 { color: #398; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c10_93 { color: #3a2; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c10_94 { color: #3ac; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c10_95 { color: #3b6; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c10_96 { color: #3c0; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c10_97 { color: #3ca; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c10_98 { color: #3d4; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c10_99 { color: #3de; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c10_100 { color: #3e8; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c10_101 { color: #3f2; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c10_102 { color: #3fc; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c10_103 { color: #406; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c10_104 { color: #410; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c10_105 { color: #41a; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c10_106 { color: #424; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c10_107 { color: #42e; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c10_108 { color: #438; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c10_109 { color: #442; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c10_110 { color: #44c; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c10_111 { color: #456; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c10_112 { color: #460; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c10_113 { color: #46a; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c10_114 { color: #474; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c10_115 { color: #47e; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c10_116 { color: #488; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c10_117 { color: #492; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c10_118 { color: #49c; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c10_119 { color: #4a6; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c10_120 { color: #4b0; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c10_121 { color: #4ba; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c10_122 { color: #4c4; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c10_123 { color: #4ce; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c10_124 { color: #4d8; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c10_125 { color: #4e2; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c10_126 { color: #4ec; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c10_127 { color: #4f6; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c10_128 { color: #500; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c10_129 { color: #50a; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c10_130 { color: #514; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c10_131 { color: #51e; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c10_132 { color: #528; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c10_133 { color: #532; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c10_134 { color: #53c; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c10_135 { color: #546; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c10_136 { color: #550; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c10_137 { color: #55a; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c10_138 { color: #564; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c10_139 { color: #56e; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c10_140 { color: #578; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c10_141 { color: #582; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c10_142 { color: #58c; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c10_143 { color: #596; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c10_144 { color: #5a0; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c10_145 { color: #5aa; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c10_146 { color: #5b4; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c10_147 { color: #5be; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c10_148 { color: #5c8; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c10_149 { color: #5d2; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c10_150 { color: #5dc; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c10_151 { color: #5e6; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c10_152 { color: #5f0; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c10_153 { color: #5fa; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c10_154 { color: #604; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c10_155 { color: #60e; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c10_156 { color: #618; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c10_157 { color: #622; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c10_158 { color: #62c; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c10_159 { color: #636; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c10_160 { color: #640; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c10_161 { color: #64a; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c10_162 { color: #654; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c10_163 { color: #65e; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c10_164 { color: #668; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c10_165 { color: #672; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c10_166 { color: #67c; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c10_167 { color: #686; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c10_168 { color: #690; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c10_169 { color: #69a; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c10_170 { color: #6a4; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c10_171 { color: #6ae; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c10_172 { color: #6b8; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c10_173 { color: #6c2; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c10_174 { color: #6cc; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c10_175 { color: #6d6; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c10_176 { color: #6e0; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c10_177 { color: #6ea; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c10_178 { color: #6f4; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c10_179 { color: #6fe; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c10_180 { color: #708; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c10_181 { color: #712; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c10_182 { color: #71c; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c10_183 { color: #726; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c10_184 { color: #730; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c10_185 { color: #73a; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c10_186 { color: #744; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c10_187 { color: #74e; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c10_188 { color: #758; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c10_189 { color: #762; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c10_190 { color: #76c; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c10_191 { color: #776; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c10_192 { color: #780; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c10_193 { color: #78a; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c10_194 { color: #794; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c10_195 { color: #79e; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c10_196 { color: #7a8; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c10_197 { color: #7b2; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c10_198 { color: #7bc; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c10_199 { color: #7c6; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c10_200 { color: #7d0; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c10_201 { color: #7da; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c10_202 { color: #7e4; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c10_203 { color: #7ee; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c10_204 { color: #7f8; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c10_205 { color: #802; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c10_206 { color: #80c; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c10_207 { color: #816; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c10_208 { color: #820; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c10_209 { color: #82a; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c10_210 { color: #834; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c10_211 { color: #83e; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c10_212 { color: #848; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c10_213 { color: #852; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c10_214 { color: #85c; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c10_215 { color: #866; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c10_216 { color: #870; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c10_217 { color: #87a; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c10_218 { color: #884; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c10_219 { color: #88e; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c10_220 { color: #898; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c10_221 { color: #8a2; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c10_222 { color: #8ac; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c10_223 { color: #8b6; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c10_224 { color: #8c0; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c10_225 { color: #8ca; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c10_226 { color: #8d4; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c10_227 { color: #8de; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c10_228 { color: #8e8; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c10_229 { color: #8f2; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c10_230 { color: #8fc; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c10_231 { color: #906; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c10_232 { color: #910; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c10_233 { color: #91a; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c10_234 { color: #924; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c10_235 { color: #92e; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c10_236 { color: #938; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c10_237 { color: #942; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c10_238 { color: #94c; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c10_239 { color: #956; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c10_240 { color: #960; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c10_241 { color: #96a; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c10_242 { color: #974; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c10_243 { color: #97e; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c10_244 { color: #988; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c10_245 { color: #992; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c10_246 { color: #99c; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c10_247 { color: #9a6; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c10_248 { color: #9b0; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c10_249 { color: #9ba; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c10_250 { color: #9c4; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c10_251 { color: #9ce; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c10_252 { color: #9d8; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c10_253 { color: #9e2; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c10_254 { color: #9ec; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c10_255 { color: #9f6; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c10_256 { color: #a00; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c10_257 { color: #a0a; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c10_258 { color: #a14; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c10_259 { color: #a1e; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c10_260 { color: #a28; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c10_261 { color: #a32; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c10_262 { color: #a3c; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c10_263 { color: #a46; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c10_264 { color: #a50; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c10_265 { color: #a5a; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c10_266 { color: #a64; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c10_267 { color: #a6e; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c10_268 { color: #a78; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c10_269 { color: #a82; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c10_270 { color: #a8c; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c10_271 { color: #a96; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c10_272 { color: #aa0; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c10_273 { color: #aaa; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c10_274 { color: #ab4; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c10_275 { color: #abe; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c10_276 { color: #ac8; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c10_277 { color: #ad2; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c10_278 { color: #adc; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c10_279 { color: #ae6; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c10_280 { color: #af0; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c10_281 { color: #afa; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c10_282 { color: #b04; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c10_283 { color: #b0e; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c10_284 { color: #b18; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c10_285 { color: #b22; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c10_286 { color: #b2c; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c10_287 { color: #b36; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c10_288 { color: #b40; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c10_289 { color: #b4a; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c10_290 { color: #b54; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c10_291 { color: #b5e; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c10_292 { color: #b68; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c10_293 { color: #b72; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c10_294 { color: #b7c; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c10_295 { color: #b86; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c10_296 { color: #b90; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c10_297 { color: #b9a; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c10_298 { color: #ba4; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c10_299 { color: #bae; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c10_300 { color: #bb8; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c10_301 { color: #bc2; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c10_302 { color: #bcc; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c10_303 { color: #bd6; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c10_304 { color: #be0; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c10_305 { color: #bea; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c10_306 { color: #bf4; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c10_307 { color: #bfe; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c10_308 { color: #c08; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c10_309 { color: #c12; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c10_310 { color: #c1c; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c10_311 { color: #c26; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c10_312 { color: #c30; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c10_313 { color: #c3a; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c10_314 { color: #c44; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c10_315 { color: #c4e; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c10_316 { color: #c58; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c10_317 { color: #c62; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c10_318 { color: #c6c; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c10_319 { color: #c76; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c10_320 { color: #c80; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c10_321 { color: #c8a; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c10_322 { color: #c94; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c10_323 { color: #c9e; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c10_324 { color: #ca8; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c10_325 { color: #cb2; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c10_326 { color: #cbc; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c10_327 { color: #cc6; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c10_328 { color: #cd0; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c10_329 { color: #cda; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c10_330 { color: #ce4; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c10_331 { color: #cee; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c10_332 { color: #cf8; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c10_333 { color: #d02; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c10_334 { color: #d0c; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c10_335 { color: #d16; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c10_336 { color: #d20; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c10_337 { color: #d2a; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c10_338 { color: #d34; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c10_339 { color: #d3e; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c10_340 { color: #d48; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c10_341 { color: #d52; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c10_342 { color: #d5c; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c10_343 { color: #d66; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c10_344 { color: #d70; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c10_345 { color: #d7a; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c10_346 { color: #d84; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c10_347 { color: #d8e; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c10_348 { color: #d98; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c10_349 { color: #da2; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c10_350 { color: #dac; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c10_351 { color: #db6; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c10_352 { color: #dc0; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c10_353 { color: #dca; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c10_354 { color: #dd4; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c10_355 { color: #dde; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c10_356 { color: #de8; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c10_357 { color: #df2; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c10_358 { color: #dfc; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c10_359 { color: #e06; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c10_360 { color: #e10; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c10_361 { color: #e1a; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c10_362 { color: #e24; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c10_363 { color: #e2e; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c10_364 { color: #e38; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c10_365 { color: #e42; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c10_366 { color: #e4c; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c10_367 { color: #e56; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c10_368 { color: #e60; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c10_369 { color: #e6a; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c10_370 { color: #e74; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c10_371 { color: #e7e; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c10_372 { color: #e88; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c10_373 { color: #e92; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c10_374 { color: #e9c; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c10_375 { color: #ea6; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c10_376 { color: #eb0; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c10_377 { color: #eba; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c10_378 { color: #ec4; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c10_379 { color: #ece; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c10_380 { color: #ed8; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c10_381 { color: #ee2; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c10_382 { color: #eec; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c10_383 { color: #ef6; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c10_384 { color: #f00; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c10_385 { color: #f0a; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c10_386 { color: #f14; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c10_387 { color: #f1e; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c10_388 { color: #f28; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c10_389 { color: #f32; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c10_390 { color: #f3c; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c10_391 { color: #f46; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c10_392 { color: #f50; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c10_393 { color: #f5a; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c10_394 { color: #f64; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c10_395 { color: #f6e; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c10_396 { color: #f78; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c10_397 { color: #f82; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c10_398 { color: #f8c; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c10_399 { color: #f96; margin: 19px; padding: 9px; border: 1px solid #ccc; }