.c12_0 { color: #000; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c12_1 { color: #00c; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c12_2 { color: #018; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c12_3 { color: #024; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c12_4 { color: #030; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c12_5 { color: #03c; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c12_6 { color: #048; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c12_7 { color: #054; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c12_8 { color: #060; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c12_9 { color: #06c; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c12_10 { color: #078; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c12_11 { color: #084; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c12_12 { color: #090; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c12_13 { color: #09c; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c12_14 { color: #0a8; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c12_15 { color: #0b4; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c12_16 { color: #0c0; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c12_17 { color: #0cc; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c12_18 { color: #0d8; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c12_19 { color: #0e4; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c12_20 { color: #0f0; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c12_21 { color: #0fc; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c12_22 { color: #108; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c12_23 { color: #114; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c12_24 { color: #120; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c12_25 { color: #12c; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c12_26 { color: #138; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c12_27 { color: #144; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c12_28 { color: #150; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c12_29 { color: #15c; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c12_30 { color: #168; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c12_31 { color: #174; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c12_32 { color: #180; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c12_33 { color: #18c; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c12_34 { color: #198; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c12_35 { color: #1a4; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c12_36 { color: #1b0; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c12_37 { color: #1bc; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c12_38 { color: #1c8; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c12_39 { color: #1d4; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c12_40 { color: #1e0; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c12_41 { color: #1ec; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c12_42 { color: #1f8; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c12_43 { color: #204; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c12_44 { color: #210; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c12_45 { color: #21c; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c12_46 { color: #228; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c12_47 { color: #234; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c12_48 { color: #240; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c12_49 { color: #24c; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c12_50 { color: #258; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c12_51 { color: #264; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c12_52 { color: #270; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c12_53 { color: #27c; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c12_54 { color: #288; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c12_55 { color: #294; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c12_56 { color: #2a0; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c12_57 { color: #2ac; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c12_58 { color: #2b8; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c12_59 { color: #2c4; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c12_60 { color: #2d0; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c12_61 { color: #2dc; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c12_62 { color: #2e8; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c12_63 { color: #2f4; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c12_64 { color: #300; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c12_65 { color: #30c; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c12_66 { color: #318; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c12_67 { color: #324; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c12_68 { color: #330; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c12_69 { color: #33c; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c12_70 { color: #348; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c12_71 { color: #354; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c12_72 { color: #360; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c12_73 { color: #36c; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c12_74 { color: #378; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c12_75 { color: #384; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c12_76 { color: #390; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c12_77 { color: #39c; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c12_78 { color: #3a8; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c12_79 { color: #3b4; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c12_80 { color: #3c0; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c12_81 { color: #3cc; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c12_82 { color: #3d8; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c12_83 { color: #3e4; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c12_84 { color: #3f0; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c12_85 { color: #3fc; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c12_86 { color: #408; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c12_87 { color: #414; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c12_88 { color: #420; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c12_89 { color: #42c; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c12_90 { color: #438; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c12_91 { color: #444; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c12_92 { color: #450; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c12_93 { color: #45c; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c12_94 { color: #468; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c12_95 { color: #474; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c12_96 { color: #480; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c12_97 { color: #48c; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c12_98 { color: #498; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c12_99 { color: #4a4; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c12_100 { color: #4b0; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c12_101 { color: #4bc; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c12_102 { color: #4c8; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c12_103 { color: #4d4; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c12_104 { color: #4e0; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c12_105 { color: #4ec; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c12_106 { color: #4f8; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c12_107 { color: #504; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c12_108 { color: #510; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c12_109 { color: #51c; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c12_110 { color: #528; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c12_111 { color: #534; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c12_112 { color: #540; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c12_113 { color: #54c; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c12_114 { color: #558; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c12_115 { color: #564; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c12_116 { color: #570; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c12_117 { color: #57c; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c12_118 { color: #588; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c12_119 { color: #594; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c12_120 { color: #5a0; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c12_121 { color: #5ac; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c12_122 { color: #5b8; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c12_123 { color: #5c4; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c12_124 { color: #5d0; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c12_125 { color: #5dc; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c12_126 { color: #5e8; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c12_127 { color: #5f4; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c12_128 { color: #600; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c12_129 { color: #60c; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c12_130 { color: #618; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c12_131 { color: #624; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c12_132 { color: #630; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c12_133 { color: #63c; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c12_134 { color: #648; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c12_135 { color: #654; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c12_136 { color: #660; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c12_137 { color: #66c; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c12_138 { color: #678; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c12_139 { color: #684; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c12_140 { color: #690; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c12_141 { color: #69c; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c12_142 { color: #6a8; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c12_143 { color: #6b4; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c12_144 { color: #6c0; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c12_145 { color: #6cc; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c12_146 { color: #6d8; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c12_147 { color: #6e4; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c12_148 { color: #6f0; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c12_149 { color: #6fc; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c12_150 { color: #708; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c12_151 { color: #714; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c12_152 { color: #720; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c12_153 { color: #72c; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c12_154 { color: #738; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c12_155 { color: #744; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c12_156 { color: #750; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c12_157 { color: #75c; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c12_158 { color: #768; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c12_159 { color: #774; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c12_160 { color: #780; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c12_161 { color: #78c; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c12_162 { color: #798; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c12_163 { color: #7a4; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c12_164 { color: #7b0; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c12_165 { color: #7bc; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c12_166 { color: #7c8; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c12_167 { color: #7d4; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c12_168 { color: #7e0; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c12_169 { color: #7ec; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c12_170 { color: #7f8; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c12_171 { color: #804; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c12_172 { color: #810; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c12_173 { color: #81c; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c12_174 { color: #828; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c12_175 { color: #834; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c12_176 { color: #840; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c12_177 { color: #84c; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c12_178 { color: #858; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c12_179 { color: #864; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c12_180 { color: #870; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c12_181 { color: #87c; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c12_182 { color: #888; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c12_183 { color: #894; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c12_184 { color: #8a0; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c12_185 { color: #8ac; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c12_186 { color: #8b8; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c12_187 { color: #8c4; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c12_188 { color: #8d0; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c12_189 { color: #8dc; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c12_190 { color: #8e8; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c12_191 { color: #8f4; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c12_192 { color: #900; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c12_193 { color: #90c; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c12_194 { color: #918; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c12_195 { color: #924; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c12_196 { color: #930; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c12_197 { color: #93c; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c12_198 { color: #948; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c12_199 { color: #954; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c12_200 { color: #960; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c12_201 { color: #96c; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c12_202 { color: #978; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c12_203 { color: #984; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c12_204 { color: #990; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c12_205 { color: #99c; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c12_206 { color: #9a8; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c12_207 { color: #9b4; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c12_208 { color: #9c0; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c12_209 { color: #9cc; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c12_210 { color: #9d8; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c12_211 { color: #9e4; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c12_212 { color: #9f0; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c12_213 { color: #9fc; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c12_214 { color: #a08; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c12_215 { color: #a14; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c12_216 { color: #a20; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c12_217 { color: #a2c; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c12_218 { color: #a38; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c12_219 { color: #a44; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c12_220 { color: #a50; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c12_221 { color: #a5c; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c12_222 { color: #a68; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c12_223 { color: #a74; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c12_224 { color: #a80; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c12_225 { color: #a8c; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c12_226 { color: #a98; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c12_227 { color: #aa4; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c12_228 { color: #ab0; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c12_229 { color: #abc; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c12_230 { color: #ac8; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c12_231 { color: #ad4; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c12_232 { color: #ae0; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c12_233 { color: #aec; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c12_234 { color: #af8; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c12_235 { color: #b04; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c12_236 { color: #b10; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c12_237 { color: #b1c; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c12_238 { color: #b28; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c12_239 { color: #b34; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c12_240 { color: #b40; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c12_241 { color: #b4c; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c12_242 { color: #b58; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c12_243 { color: #b64; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c12_244 { color: #b70; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c12_245 { color: #b7c; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c12_246 { color: #b88; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c12_247 { color: #b94; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c12_248 { color: #ba0; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c12_249 { color: #bac; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c12_250 { color: #bb8; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c12_251 { color: #bc4; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c12_252 { color: #bd0; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c12_253 { color: #bdc; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c12_254 { color: #be8; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c12_255 { color: #bf4; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c12_256 { color: #c00; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c12_257 { color: #c0c; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c12_258 { color: #c18; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c12_259 { color: #c24; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c12_260 { color: #c30; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c12_261 { color: #c3c; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c12_262 { color: #c48; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c12_263 { color: #c54; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c12_264 { color: #c60; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c12_265 { color: #c6c; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c12_266 { color: #c78; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c12_267 { color: #c84; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c12_268 { color: #c90; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c12_269 { color: #c9c; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c12_270 { color: #ca8; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c12_271 { color: #cb4; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c12_272 { color: #cc0; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c12_273 { color: #ccc; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c12_274 { color: #cd8; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c12_275 { color: #ce4; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c12_276 { color: #cf0; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c12_277 { color: #cfc; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c12_278 { color: #d08; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c12_279 { color: #d14; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c12_280 { color: #d20; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c12_281 { color: #d2c; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c12_282 { color: #d38; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c12_283 { color: #d44; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c12_284 { color: #d50; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c12_285 { color: #d5c; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c12_286 { color: #d68; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c12_287 { color: #d74; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c12_288 { color: #d80; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c12_289 { color: #d8c; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c12_290 { color: #d98; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c12_291 { color: #da4; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c12_292 { color: #db0; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c12_293 { color: #dbc; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c12_294 { color: #dc8; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c12_295 { color: #dd4; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c12_296 { color: #de0; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c12_297 { color: #dec; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c12_298 { color: #df8; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c12_299 { color: #e04; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c12_300 { color: #e10; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c12_301 { color: #e1c; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c12_302 { color: #e28; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c12_303 { color: #e34; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c12_304 { color: #e40; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c12_305 { color: #e4c; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c12_306 { color: #e58; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c12_307 { color: #e64; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c12_308 { color: #e70; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c12_309 { color: #e7c; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c12_310 { color: #e88; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c12_311 { color: #e94; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c12_312 { color: #ea0; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c12_313 { color: #eac; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c12_314 { color: #eb8; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c12_315 { color: #ec4; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c12_316 { color: #ed0; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c12_317 { color: #edc; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c12_318 { color: #ee8; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c12_319 { color: #ef4; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c12_320 { color: #f00; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c12_321 { color: #f0c; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c12_322 { color: #f18; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c12_323 { color: #f24; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c12_324 { color: #f30; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c12_325 { color: #f3c; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c12_326 { color: #f48; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c12_327 { color: #f54; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c12_328 { color: #f60; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c12_329 { color: #f6c; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c12_330 { color: #f78; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c12_331 { color: #f84; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c12_332 { color: #f90; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c12_333 { color: #f9c; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c12_334 { color: #fa8; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c12_335 { color: #fb4; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c12_336 { color: #fc0; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c12_337 { color: #fcc; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c12_338 { color: #fd8; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c12_339 { color: #fe4; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c12_340 { color: #ff0; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c12_341 { color: #ffc; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c12_342 { color: #009; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c12_343 { color: #015; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c12_344 { color: #021; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c12_345 { color: #02d; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c12_346 { color: #039; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c12_347 { color: #045; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c12_348 { color: #051; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c12_349 { color: #05d; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c12_350 { color: #069; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c12_351 { color: #075; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c12_352 { color: #081; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c12_353 { color: #08d; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c12_354 { color: #099; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c12_355 { color: #0a5; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c12_356 { color: #0b1; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c12_357 { color: #0bd; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c12_358 { color: #0c9; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c12_359 { color: #0d5; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c12_360 { color: #0e1; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c12_361 { color: #0ed; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c12_362 { color: #0f9; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c12_363 { color: #105; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c12_364 { color: #111; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c12_365 { color: #11d; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c12_366 { color: #129; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c12_367 { color: #135; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c12_368 { color: #141; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c12_369 { color: #14d; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c12_370 { color: #159; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c12_371 { color: #165; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c12_372 { color: #171; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c12_373 { color: #17d; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c12_374 { color: #189; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c12_375 { color: #195; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c12_376 { color: #1a1; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c12_377 { color: #1ad; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c12_378 { color: #1b9; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c12_379 { color: #1c5; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c12_380 { color: #1d1; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c12_381 { color: #1dd; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c12_382 { color: #1e9; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c12_383 { color: #1f5; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c12_384 { color: #201; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c12_385 { color: #20d; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c12_386 { color: #219; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c12_387 { color: #225; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c12_388 { color: #231; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c12_389 { color: #23d; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c12_390 { color: #249; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c12_391 { color: #255; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c12_392 { color: #261; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c12_393 { color: #26d; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c12_394 { color: #279; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c12_395 { color: #285; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c12_396 { color: #291; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c12_397 { color: #29d; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c12_398 { color: #2a9; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c12_399 { color: #2b5; margin: 19px; padding: 9px; border: 1px solid #ccc; }