.c14_0 { color: #000; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c14_1 { color: #00e; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c14_2 { color: #01c; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c14_3 { color: #02a; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c14_4 { color: #038; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c14_5 { color: #046; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c14_6 { color: #054; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c14_7 { color: #062; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c14_8 { color: #070; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c14_9 { color: #07e; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c14_10 { color: #08c; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c14_11 { color: #09a; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c14_12 { color: #0a8; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c14_13 { color: #0b6; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c14_14 { color: #0c4; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c14_15 { color: #0d2; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c14_16 { color: #0e0; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c14_17 { color: #0ee; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c14_18 { color: #0fc; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c14_19 { color: #10a; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c14_20 { color: #118; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c14_21 { color: #126; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c14_22 { color: #134; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c14_23 { color: #142; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c14_24 { color: #150; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c14_25 { color: #15e; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c14_26 { color: #16c; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c14_27 { color: #17a; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c14_28 { color: #188; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c14_29 { color: #196; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c14_30 { color: #1a4; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c14_31 { color: #1b2; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c14_32 { color: #1c0; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c14_33 { color: #1ce; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c14_34 { color: #1dc; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c14_35 { color: #1ea; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c14_36 { color: #1f8; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c14_37 { color: #206; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c14_38 { color: #214; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c14_39 { color: #222; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c14_40 { color: #230; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c14_41 { color: #23e; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c14_42 { color: #24c; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c14_43 { color: #25a; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c14_44 { color: #268; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c14_45 { color: #276; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c14_46 { color: #284; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c14_47 { color: #292; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c14_48 { color: #2a0; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c14_49 { color: #2ae; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c14_50 { color: #2bc; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c14_51 { color: #2ca; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c14_52 { color: #2d8; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c14_53 { color: #2e6; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c14_54 { color: #2f4; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c14_55 { color: #302; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c14_56 { color: #310; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c14_57 { color: #31e; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c14_58 { color: #32c; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c14_59 { color: #33a; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c14_60 { color: #348; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c14_61 { color: #356; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c14_62 { color: #364; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c14_63 { color: #372; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c14_64 { color: #380; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c14_65 { color: #38e; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c14_66 { color: #39c; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c14_67 { color: #3aa; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c14_68 { color: #3b8; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c14_69 { color: #3c6; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c14_70 { color: #3d4; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c14_71 { color: #3e2; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c14_72 { color: #3f0; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c14_73 { color: #3fe; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c14_74 { color: #40c; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c14_75 { color: #41a; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c14_76 { color: #428; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c14_77 { color: #436; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c14_78 { color: #444; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c14_79 { color: #452; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c14_80 { color: #460; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c14_81 { color: #46e; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c14_82 { color: #47c; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c14_83 { color: #48a; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c14_84 { color: #498; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c14_85 { color: #4a6; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c14_86 { color: #4b4; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c14_87 { color: #4c2; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c14_88 { color: #4d0; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c14_89 { color: #4de; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c14_90 { color: #4ec; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c14_91 { color: #4fa; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c14_92 { color: #508; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c14_93 { color: #516; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c14_94 { color: #524; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c14_95 { color: #532; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c14_96 { color: #540; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c14_97 { color: #54e; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c14_98 { color: #55c; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c14_99 { color: #56a; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c14_100 { color: #578; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c14_101 { color: #586; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c14_102 { color: #594; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c14_103 { color: #5a2; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c14_104 { color: #5b0; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c14_105 { color: #5be; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c14_106 { color: #5cc; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c14_107 { color: #5da; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c14_108 { color: #5e8; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c14_109 { color: #5f6; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c14_110 { color: #604; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c14_111 { color: #612; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c14_112 { color: #620; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c14_113 { color: #62e; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c14_114 { color: #63c; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c14_115 { color: #64a; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c14_116 { color: #658; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c14_117 { color: #666; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c14_118 { color: #674; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c14_119 { color: #682; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c14_120 { color: #690; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c14_121 { color: #69e; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c14_122 { color: #6ac; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c14_123 { color: #6ba; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c14_124 { color: #6c8; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c14_125 { color: #6d6; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c14_126 { color: #6e4; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c14_127 { color: #6f2; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c14_128 { color: #700; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c14_129 { color: #70e; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c14_130 { color: #71c; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c14_131 { color: #72a; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c14_132 { color: #738; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c14_133 { color: #746; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c14_134 { color: #754; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c14_135 { color: #762; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c14_136 { color: #770; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c14_137 { color: #77e; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c14_138 { color: #78c; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c14_139 { color: #79a; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c14_140 { color: #7a8; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c14_141 { color: #7b6; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c14_142 { color: #7c4; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c14_143 { color: #7d2; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c14_144 { color: #7e0; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c14_145 { color: #7ee; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c14_146 { color: #7fc; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c14_147 { color: #80a; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c14_148 { color: #818; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c14_149 { color: #826; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c14_150 { color: #834; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c14_151 { color: #842; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c14_152 { color: #850; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c14_153 { color: #85e; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c14_154 { color: #86c; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c14_155 { color: #87a; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c14_156 { color: #888; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c14_157 { color: #896; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c14_158 { color: #8a4; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c14_159 { color: #8b2; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c14_160 { color: #8c0; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c14_161 { color: #8ce; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c14_162 { color: #8dc; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c14_163 { color: #8ea; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c14_164 { color: #8f8; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c14_165 { color: #906; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c14_166 { color: #914; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c14_167 { color: #922; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c14_168 { color: #930; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c14_169 { color: #93e; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c14_170 { color: #94c; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c14_171 { color: #95a; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c14_172 { color: #968; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c14_173 { color: #976; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c14_174 { color: #984; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c14_175 { color: #992; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c14_176 { color: #9a0; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c14_177 { color: #9ae; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c14_178 { color: #9bc; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c14_179 { color: #9ca; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c14_180 { color: #9d8; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c14_181 { color: #9e6; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c14_182 { color: #9f4; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c14_183 { color: #a02; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c14_184 { color: #a10; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c14_185 { color: #a1e; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c14_186 { color: #a2c; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c14_187 { color: #a3a; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c14_188 { color: #a48; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c14_189 { color: #a56; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c14_190 { color: #a64; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c14_191 { color: #a72; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c14_192 { color: #a80; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c14_193 { color: #a8e; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c14_194 { color: #a9c; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c14_195 { color: #aaa; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c14_196 { color: #ab8; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c14_197 { color: #ac6; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c14_198 { color: #ad4; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c14_199 { color: #ae2; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c14_200 { color: #af0; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c14_201 { color: #afe; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c14_202 { color: #b0c; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c14_203 { color: #b1a; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c14_204 { color: #b28; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c14_205 { color: #b36; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c14_206 { color: #b44; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c14_207 { color: #b52; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c14_208 { color: #b60; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c14_209 { color: #b6e; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c14_210 { color: #b7c; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c14_211 { color: #b8a; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c14_212 { color: #b98; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c14_213 { color: #ba6; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c14_214 { color: #bb4; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c14_215 { color: #bc2; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c14_216 { color: #bd0; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c14_217 { color: #bde; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c14_218 { color: #bec; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c14_219 { color: #bfa; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c14_220 { color: #c08; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c14_221 { color: #c16; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c14_222 { color: #c24; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c14_223 { color: #c32; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c14_224 { color: #c40; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c14_225 { color: #c4e; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c14_226 { color: #c5c; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c14_227 { color: #c6a; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c14_228 { color: #c78; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c14_229 { color: #c86; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c14_230 { color: #c94; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c14_231 { color: #ca2; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c14_232 { color: #cb0; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c14_233 { color: #cbe; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c14_234 { color: #ccc; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c14_235 { color: #cda; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c14_236 { color: #ce8; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c14_237 { color: #cf6; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c14_238 { color: #d04; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c14_239 { color: #d12; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c14_240 { color: #d20; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c14_241 { color: #d2e; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c14_242 { color: #d3c; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c14_243 { color: #d4a; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c14_244 { color: #d58; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c14_245 { color: #d66; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c14_246 { color: #d74; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c14_247 { color: #d82; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c14_248 { color: #d90; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c14_249 { color: #d9e; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c14_250 { color: #dac; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c14_251 { color: #dba; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c14_252 { color: #dc8; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c14_253 { color: #dd6; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c14_254 { color: #de4; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c14_255 { color: #df2; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c14_256 { color: #e00; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c14_257 { color: #e0e; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c14_258 { color: #e1c; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c14_259 { color: #e2a; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c14_260 { color: #e38; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c14_261 { color: #e46; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c14_262 { color: #e54; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c14_263 { color: #e62; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c14_264 { color: #e70; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c14_265 { color: #e7e; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c14_266 { color: #e8c; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c14_267 { color: #e9a; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c14_268 { color: #ea8; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c14_269 { color: #eb6; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c14_270 { color: #ec4; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c14_271 { color: #ed2; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c14_272 { color: #ee0; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c14_273 { color: #eee; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c14_274 { color: #efc; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c14_275 { color: #f0a; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c14_276 { color: #f18; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c14_277 { color: #f26; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c14_278 { color: #f34; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c14_279 { color: #f42; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c14_280 { color: #f50; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c14_281 { color: #f5e; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c14_282 { color: #f6c; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c14_283 { color: #f7a; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c14_284 { color: #f88; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c14_285 { color: #f96; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c14_286 { color: #fa4; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c14_287 { color: #fb2; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c14_288 { color: #fc0; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c14_289 { color: #fce; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c14_290 { color: #fdc; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c14_291 { color: #fea; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c14_292 { color: #ff8; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c14_293 { color: #007; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c14_294 { color: #015; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c14_295 { color: #023; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c14_296 { color: #031; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c14_297 { color: #03f; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c14_298 { color: #04d; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c14_299 { color: #05b; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c14_300 { color: #069; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c14_301 { color: #077; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c14_302 { color: #085; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c14_303 { color: #093; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c14_304 { color: #0a1; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c14_305 { color: #0af; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c14_306 { color: #0bd; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c14_307 { color: #0cb; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c14_308 { color: #0d9; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c14_309 { color: #0e7; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c14_310 { color: #0f5; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c14_311 { color: #103; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c14_312 { color: #111; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c14_313 { color: #11f; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c14_314 { color: #12d; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c14_315 { color: #13b; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c14_316 { color: #149; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c14_317 { color: #157; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c14_318 { color: #165; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c14_319 { color: #173; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c14_320 { color: #181; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c14_321 { color: #18f; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c14_322 { color: #19d; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c14_323 { color: #1ab; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c14_324 { color: #1b9; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c14_325 { color: #1c7; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c14_326 { color: #1d5; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c14_327 { color: #1e3; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c14_328 { color: #1f1; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c14_329 { color: #1ff; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c14_330 { color: #20d; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c14_331 { color: #21b; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c14_332 { color: #229; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c14_333 { color: #237; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c14_334 { color: #245; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c14_335 { color: #253; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c14_336 { color: #261; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c14_337 { color: #26f; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c14_338 { color: #27d; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c14_339 { color: #28b; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c14_340 { color: #299; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c14_341 { color: #2a7; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c14_342 { color: #2b5; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c14_343 { color: #2c3; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c14_344 { color: #2d1; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c14_345 { color: #2df; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c14_346 { color: #2ed; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c14_347 { color: #2fb; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c14_348 { color: #309; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c14_349 { color: #317; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c14_350 { color: #325; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c14_351 { color: #333; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c14_352 { color: #341; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c14_353 { color: #34f; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c14_354 { color: #35d; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c14_355 { color: #36b; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c14_356 { color: #379; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c14_357 { color: #387; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c14_358 { color: #395; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c14_359 { color: #3a3; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c14_360 { color: #3b1; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c14_361 { color: #3bf; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c14_362 { color: #3cd; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c14_363 { color: #3db; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c14_364 { color: #3e9; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c14_365 { color: #3f7; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c14_366 { color: #405; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c14_367 { color: #413; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c14_368 { color: #421; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c14_369 { color: #42f; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c14_370 { color: #43d; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c14_371 { color: #44b; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c14_372 { color: #459; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c14_373 { color: #467; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c14_374 { color: #475; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c14_375 { color: #483; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c14_376 { color: #491; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c14_377 { color: #49f; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c14_378 { color: #4ad; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c14_379 { color: #4bb; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c14_380 { color: #4c9; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c14_381 { color: #4d7; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c14_382 { color: #4e5; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c14_383 { color: #4f3; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c14_384 { color: #501; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c14_385 { color: #50f; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c14_386 { color: #51d; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c14_387 { color: #52b; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c14_388 { color: #539; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c14_389 { color: #547; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c14_390 { color: #555; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c14_391 { color: #563; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c14_392 { color: #571; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c14_393 { color: #57f; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c14_394 { color: #58d; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c14_395 { color: #59b; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c14_396 { color: #5a9; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c14_397 { color: #5b7; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c14_398 { color: #5c5; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c14_399 { color: #5d3; margin: 19px; padding: 9px; border: 1px solid #ccc; }