.c18_0 { color: #000; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c18_1 { color: #012; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c18_2 { color: #024; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c18_3 { color: #036; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c18_4 { color: #048; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c18_5 { color: #05a; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c18_6 { color: #06c; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c18_7 { color: #07e; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c18_8 { color: #090; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c18_9 { color: #0a2; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c18_10 { color: #0b4; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c18_11 { color: #0c6; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c18_12 { color: #0d8; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c18_13 { color: #0ea; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c18_14 { color: #0fc; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c18_15 { color: #10e; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c18_16 { color: #120; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c18_17 { color: #132; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c18_18 { color: #144; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c18_19 { color: #156; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c18_20 { color: #168; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c18_21 { color: #17a; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c18_22 { color: #18c; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c18_23 { color: #19e; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c18_24 { color: #1b0; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c18_25 { color: #1c2; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c18_26 { color: #1d4; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c18_27 { color: #1e6; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c18_28 { color: #1f8; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c18_29 { color: #20a; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c18_30 { color: #21c; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c18_31 { color: #22e; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c18_32 { color: #240; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c18_33 { color: #252; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c18_34 { color: #264; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c18_35 { color: #276; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c18_36 { color: #288; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c18_37 { color: #29a; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c18_38 { color: #2ac; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c18_39 { color: #2be; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c18_40 { color: #2d0; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c18_41 { color: #2e2; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c18_42 { color: #2f4; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c18_43 { color: #306; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c18_44 { color: #318; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c18_45 { color: #32a; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c18_46 { color: #33c; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c18_47 { color: #34e; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c18_48 { color: #360; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c18_49 { color: #372; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c18_50 { color: #384; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c18_51 { color: #396; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c18_52 { color: #3a8; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c18_53 { color: #3ba; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c18_54 { color: #3cc; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c18_55 { color: #3de; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c18_56 { color: #3f0; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c18_57 { color: #402; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c18_58 { color: #414; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c18_59 { color: #426; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c18_60 { color: #438; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c18_61 { color: #44a; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c18_62 { color: #45c; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c18_63 { color: #46e; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c18_64 { color: #480; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c18_65 { color: #492; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c18_66 { color: #4a4; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c18_67 { color: #4b6; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c18_68 { color: #4c8; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c18_69 { color: #4da; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c18_70 { color: #4ec; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c18_71 { color: #4fe; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c18_72 { color: #510; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c18_73 { color: #522; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c18_74 { color: #534; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c18_75 { color: #546; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c18_76 { color: #558; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c18_77 { color: #56a; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c18_78 { color: #57c; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c18_79 { color: #58e; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c18_80 { color: #5a0; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c18_81 { color: #5b2; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c18_82 { color: #5c4; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c18_83 { color: #5d6; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c18_84 { color: #5e8; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c18_85 { color: #5fa; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c18_86 { color: #60c; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c18_87 { color: #61e; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c18_88 { color: #630; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c18_89 { color: #642; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c18_90 { color: #654; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c18_91 { color: #666; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c18_92 { color: #678; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c18_93 { color: #68a; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c18_94 { color: #69c; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c18_95 { color: #6ae; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c18_96 { color: #6c0; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c18_97 { color: #6d2; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c18_98 { color: #6e4; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c18_99 { color: #6f6; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c18_100 { color: #708; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c18_101 { color: #71a; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c18_102 { color: #72c; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c18_103 { color: #73e; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c18_104 { color: #750; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c18_105 { color: #762; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c18_106 { color: #774; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c18_107 { color: #786; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c18_108 { color: #798; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c18_109 { color: #7aa; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c18_110 { color: #7bc; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c18_111 { color: #7ce; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c18_112 { color: #7e0; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c18_113 { color: #7f2; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c18_114 { color: #804; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c18_115 { color: #816; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c18_116 { color: #828; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c18_117 { color: #83a; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c18_118 { color: #84c; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c18_119 { color: #85e; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c18_120 { color: #870; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c18_121 { color: #882; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c18_122 { color: #894; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c18_123 { color: #8a6; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c18_124 { color: #8b8; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c18_125 { color: #8ca; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c18_126 { color: #8dc; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c18_127 { color: #8ee; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c18_128 { color: #900; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c18_129 { color: #912; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c18_130 { color: #924; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c18_131 { color: #936; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c18_132 { color: #948; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c18_133 { color: #95a; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c18_134 { color: #96c; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c18_135 { color: #97e; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c18_136 { color: #990; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c18_137 { color: #9a2; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c18_138 { color: #9b4; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c18_139 { color: #9c6; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c18_140 { color: #9d8; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c18_141 { color: #9ea; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c18_142 { color: #9fc; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c18_143 { color: #a0e; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c18_144 { color: #a20; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c18_145 { color: #a32; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c18_146 { color: #a44; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c18_147 { color: #a56; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c18_148 { color: #a68; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c18_149 { color: #a7a; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c18_150 { color: #a8c; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c18_151 { color: #a9e; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c18_152 { color: #ab0; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c18_153 { color: #ac2; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c18_154 { color: #ad4; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c18_155 { color: #ae6; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c18_156 { color: #af8; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c18_157 { color: #b0a; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c18_158 { color: #b1c; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c18_159 { color: #b2e; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c18_160 { color: #b40; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c18_161 { color: #b52; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c18_162 { color: #b64; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c18_163 { color: #b76; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c18_164 { color: #b88; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c18_165 { color: #b9a; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c18_166 { color: #bac; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c18_167 { color: #bbe; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c18_168 { color: #bd0; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c18_169 { color: #be2; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c18_170 { color: #bf4; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c18_171 { color: #c06; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c18_172 { color: #c18; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c18_173 { color: #c2a; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c18_174 { color: #c3c; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c18_175 { color: #c4e; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c18_176 { color: #c60; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c18_177 { color: #c72; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c18_178 { color: #c84; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c18_179 { color: #c96; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c18_180 { color: #ca8; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c18_181 { color: #cba; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c18_182 { color: #ccc; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c18_183 { color: #cde; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c18_184 { color: #cf0; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c18_185 { color: #d02; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c18_186 { color: #d14; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c18_187 { color: #d26; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c18_188 { color: #d38; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c18_189 { color: #d4a; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c18_190 { color: #d5c; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c18_191 { color: #d6e; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c18_192 { color: #d80; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c18_193 { color: #d92; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c18_194 { color: #da4; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c18_195 { color: #db6; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c18_196 { color: #dc8; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c18_197 { color: #dda; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c18_198 { color: #dec; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c18_199 { color: #dfe; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c18_200 { color: #e10; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c18_201 { color: #e22; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c18_202 { color: #e34; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c18_203 { color: #e46; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c18_204 { color: #e58; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c18_205 { color: #e6a; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c18_206 { color: #e7c; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c18_207 { color: #e8e; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c18_208 { color: #ea0; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c18_209 { color: #eb2; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c18_210 { color: #ec4; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c18_211 { color: #ed6; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c18_212 { color: #ee8; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c18_213 { color: #efa; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c18_214 { color: #f0c; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c18_215 { color: #f1e; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c18_216 { color: #f30; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c18_217 { color: #f42; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c18_218 { color: #f54; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c18_219 { color: #f66; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c18_220 { color: #f78; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c18_221 { color: #f8a; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c18_222 { color: #f9c; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c18_223 { color: #fae; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c18_224 { color: #fc0; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c18_225 { color: #fd2; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c18_226 { color: #fe4; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c18_227 { color: #ff6; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c18_228 { color: #009; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c18_229 { color: #01b; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c18_230 { color: #02d; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c18_231 { color: #03f; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c18_232 { color: #051; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c18_233 { color: #063; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c18_234 { color: #075; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c18_235 { color: #087; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c18_236 { color: #099; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c18_237 { color: #0ab; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c18_238 { color: #0bd; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c18_239 { color: #0cf; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c18_240 { color: #0e1; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c18_241 { color: #0f3; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c18_242 { color: #105; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c18_243 { color: #117; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c18_244 { color: #129; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c18_245 { color: #13b; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c18_246 { color: #14d; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c18_247 { color: #15f; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c18_248 { color: #171; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c18_249 { color: #183; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c18_250 { color: #195; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c18_251 { color: #1a7; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c18_252 { color: #1b9; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c18_253 { color: #1cb; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c18_254 { color: #1dd; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c18_255 { color: #1ef; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c18_256 { color: #201; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c18_257 { color: #213; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c18_258 { color: #225; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c18_259 { color: #237; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c18_260 { color: #249; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c18_261 { color: #25b; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c18_262 { color: #26d; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c18_263 { color: #27f; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c18_264 { color: #291; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c18_265 { color: #2a3; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c18_266 { color: #2b5; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c18_267 { color: #2c7; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c18_268 { color: #2d9; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c18_269 { color: #2eb; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c18_270 { color: #2fd; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c18_271 { color: #30f; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c18_272 { color: #321; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c18_273 { color: #333; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c18_274 { color: #345; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c18_275 { color: #357; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c18_276 { color: #369; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c18_277 { color: #37b; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c18_278 { color: #38d; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c18_279 { color: #39f; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c18_280 { color: #3b1; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c18_281 { color: #3c3; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c18_282 { color: #3d5; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c18_283 { color: #3e7; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c18_284 { color: #3f9; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c18_285 { color: #40b; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c18_286 { color: #41d; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c18_287 { color: #42f; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c18_288 { color: #441; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c18_289 { color: #453; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c18_290 { color: #465; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c18_291 { color: #477; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c18_292 { color: #489; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c18_293 { color: #49b; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c18_294 { color: #4ad; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c18_295 { color: #4bf; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c18_296 { color: #4d1; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c18_297 { color: #4e3; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c18_298 { color: #4f5; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c18_299 { color: #507; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c18_300 { color: #519; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c18_301 { color: #52b; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c18_302 { color: #53d; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c18_303 { color: #54f; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c18_304 { color: #561; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c18_305 { color: #573; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c18_306 { color: #585; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c18_307 { color: #597; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c18_308 { color: #5a9; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c18_309 { color: #5bb; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c18_310 { color: #5cd; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c18_311 { color: #5df; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c18_312 { color: #5f1; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c18_313 { color: #603; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c18_314 { color: #615; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c18_315 { color: #627; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c18_316 { color: #639; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c18_317 { color: #64b; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c18_318 { color: #65d; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c18_319 { color: #66f; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c18_320 { color: #681; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c18_321 { color: #693; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c18_322 { color: #6a5; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c18_323 { color: #6b7; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c18_324 { color: #6c9; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c18_325 { color: #6db; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c18_326 { color: #6ed; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c18_327 { color: #6ff; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c18_328 { color: #711; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c18_329 { color: #723; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c18_330 { color: #735; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c18_331 { color: #747; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c18_332 { color: #759; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c18_333 { color: #76b; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c18_334 { color: #77d; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c18_335 { color: #78f; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c18_336 { color: #7a1; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c18_337 { color: #7b3; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c18_338 { color: #7c5; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c18_339 { color: #7d7; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c18_340 { color: #7e9; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c18_341 { color: #7fb; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c18_342 { color: #80d; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c18_343 { color: #81f; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c18_344 { color: #831; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c18_345 { color: #843; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c18_346 { color: #855; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c18_347 { color: #867; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c18_348 { color: #879; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c18_349 { color: #88b; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c18_350 { color: #89d; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c18_351 { color: #8af; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c18_352 { color: #8c1; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c18_353 { color: #8d3; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c18_354 { color: #8e5; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c18_355 { color: #8f7; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c18_356 { color: #909; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c18_357 { color: #91b; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c18_358 { color: #92d; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c18_359 { color: #93f; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c18_360 { color: #951; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c18_361 { color: #963; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c18_362 { color: #975; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c18_363 { color: #987; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c18_364 { color: #999; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c18_365 { color: #9ab; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c18_366 { color: #9bd; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c18_367 { color: #9cf; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c18_368 { color: #9e1; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c18_369 { color: #9f3; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c18_370 { color: #a05; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c18_371 { color: #a17; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c18_372 { color: #a29; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c18_373 { color: #a3b; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c18_374 { color: #a4d; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c18_375 { color: #a5f; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c18_376 { color: #a71; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c18_377 { color: #a83; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c18_378 { color: #a95; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c18_379 { color: #aa7; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c18_380 { color: #ab9; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c18_381 { color: #acb; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c18_382 { color: #add; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c18_383 { color: #aef; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c18_384 { color: #b01; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c18_385 { color: #b13; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c18_386 { color: #b25; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c18_387 { color: #b37; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c18_388 { color: #b49; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c18_389 { color: #b5b; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c18_390 { color: #b6d; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c18_391 { color: #b7f; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c18_392 { color: #b91; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c18_393 { color: #ba3; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c18_394 { color: #bb5; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c18_395 { color: #bc7; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c18_396 { color: #bd9; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c18_397 { color: #beb; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c18_398 { color: #bfd; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c18_399 { color: #c0f; margin: 19px; padding: 9px; border: 1px solid #ccc; }