.c19_0 { color: #000; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c19_1 { color: #013; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c19_2 { color: #026; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c19_3 { color: #039; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c19_4 { color: #04c; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c19_5 { color: #05f; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c19_6 { color: #072; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c19_7 { color: #085; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c19_8 { color: #098; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c19_9 { color: #0ab; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c19_10 { color: #0be; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c19_11 { color: #0d1; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c19_12 { color: #0e4; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c19_13 { color: #0f7; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c19_14 { color: #10a; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c19_15 { color: #11d; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c19_16 { color: #130; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c19_17 { color: #143; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c19_18 { color: #156; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c19_19 { color: #169; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c19_20 { color: #17c; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c19_21 { color: #18f; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c19_22 { color: #1a2; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c19_23 { color: #1b5; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c19_24 { color: #1c8; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c19_25 { color: #1db; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c19_26 { color: #1ee; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c19_27 { color: #201; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c19_28 { color: #214; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c19_29 { color: #227; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c19_30 { color: #23a; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c19_31 { color: #24d; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c19_32 { color: #260; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c19_33 { color: #273; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c19_34 { color: #286; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c19_35 { color: #299; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c19_36 { color: #2ac; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c19_37 { color: #2bf; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c19_38 { color: #2d2; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c19_39 { color: #2e5; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c19_40 { color: #2f8; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c19_41 { color: #30b; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c19_42 { color: #31e; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c19_43 { color: #331; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c19_44 { color: #344; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c19_45 { color: #357; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c19_46 { color: #36a; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c19_47 { color: #37d; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c19_48 { color: #390; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c19_49 { color: #3a3; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c19_50 { color: #3b6; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c19_51 { color: #3c9; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c19_52 { color: #3dc; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c19_53 { color: #3ef; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c19_54 { color: #402; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c19_55 { color: #415; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c19_56 { color: #428; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c19_57 { color: #43b; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c19_58 { color: #44e; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c19_59 { color: #461; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c19_60 { color: #474; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c19_61 { color: #487; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c19_62 { color: #49a; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c19_63 { color: #4ad; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c19_64 { color: #4c0; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c19_65 { color: #4d3; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c19_66 { color: #4e6; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c19_67 { color: #4f9; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c19_68 { color: #50c; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c19_69 { color: #51f; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c19_70 { color: #532; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c19_71 { color: #545; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c19_72 { color: #558; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c19_73 { color: #56b; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c19_74 { color: #57e; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c19_75 { color: #591; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c19_76 { color: #5a4; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c19_77 { color: #5b7; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c19_78 { color: #5ca; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c19_79 { color: #5dd; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c19_80 { color: #5f0; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c19_81 { color: #603; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c19_82 { color: #616; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c19_83 { color: #629; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c19_84 { color: #63c; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c19_85 { color: #64f; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c19_86 { color: #662; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c19_87 { color: #675; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c19_88 { color: #688; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c19_89 { color: #69b; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c19_90 { color: #6ae; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c19_91 { color: #6c1; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c19_92 { color: #6d4; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c19_93 { color: #6e7; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c19_94 { color: #6fa; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c19_95 { color: #70d; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c19_96 { color: #720; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c19_97 { color: #733; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c19_98 { color: #746; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c19_99 { color: #759; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c19_100 { color: #76c; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c19_101 { color: #77f; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c19_102 { color: #792; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c19_103 { color: #7a5; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c19_104 { color: #7b8; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c19_105 { color: #7cb; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c19_106 { color: #7de; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c19_107 { color: #7f1; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c19_108 { color: #804; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c19_109 { color: #817; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c19_110 { color: #82a; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c19_111 { color: #83d; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c19_112 { color: #850; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c19_113 { color: #863; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c19_114 { color: #876; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c19_115 { color: #889; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c19_116 { color: #89c; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c19_117 { color: #8af; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c19_118 { color: #8c2; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c19_119 { color: #8d5; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c19_120 { color: #8e8; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c19_121 { color: #8fb; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c19_122 { color: #90e; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c19_123 { color: #921; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c19_124 { color: #934; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c19_125 { color: #947; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c19_126 { color: #95a; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c19_127 { color: #96d; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c19_128 { color: #980; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c19_129 { color: #993; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c19_130 { color: #9a6; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c19_131 { color: #9b9; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c19_132 { color: #9cc; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c19_133 { color: #9df; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c19_134 { color: #9f2; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c19_135 { color: #a05; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c19_136 { color: #a18; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c19_137 { color: #a2b; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c19_138 { color: #a3e; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c19_139 { color: #a51; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c19_140 { color: #a64; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c19_141 { color: #a77; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c19_142 { color: #a8a; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c19_143 { color: #a9d; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c19_144 { color: #ab0; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c19_145 { color: #ac3; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c19_146 { color: #ad6; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c19_147 { color: #ae9; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c19_148 { color: #afc; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c19_149 { color: #b0f; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c19_150 { color: #b22; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c19_151 { color: #b35; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c19_152 { color: #b48; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c19_153 { color: #b5b; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c19_154 { color: #b6e; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c19_155 { color: #b81; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c19_156 { color: #b94; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c19_157 { color: #ba7; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c19_158 { color: #bba; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c19_159 { color: #bcd; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c19_160 { color: #be0; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c19_161 { color: #bf3; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c19_162 { color: #c06; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c19_163 { color: #c19; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c19_164 { color: #c2c; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c19_165 { color: #c3f; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c19_166 { color: #c52; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c19_167 { color: #c65; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c19_168 { color: #c78; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c19_169 { color: #c8b; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c19_170 { color: #c9e; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c19_171 { color: #cb1; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c19_172 { color: #cc4; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c19_173 { color: #cd7; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c19_174 { color: #cea; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c19_175 { color: #cfd; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c19_176 { color: #d10; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c19_177 { color: #d23; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c19_178 { color: #d36; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c19_179 { color: #d49; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c19_180 { color: #d5c; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c19_181 { color: #d6f; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c19_182 { color: #d82; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c19_183 { color: #d95; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c19_184 { color: #da8; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c19_185 { color: #dbb; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c19_186 { color: #dce; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c19_187 { color: #de1; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c19_188 { color: #df4; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c19_189 { color: #e07; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c19_190 { color: #e1a; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c19_191 { color: #e2d; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c19_192 { color: #e40; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c19_193 { color: #e53; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c19_194 { color: #e66; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c19_195 { color: #e79; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c19_196 { color: #e8c; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c19_197 { color: #e9f; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c19_198 { color: #eb2; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c19_199 { color: #ec5; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c19_200 { color: #ed8; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c19_201 { color: #eeb; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c19_202 { color: #efe; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c19_203 { color: #f11; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c19_204 { color: #f24; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c19_205 { color: #f37; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c19_206 { color: #f4a; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c19_207 { color: #f5d; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c19_208 { color: #f70; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c19_209 { color: #f83; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c19_210 { color: #f96; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c19_211 { color: #fa9; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c19_212 { color: #fbc; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c19_213 { color: #fcf; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c19_214 { color: #fe2; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c19_215 { color: #ff5; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c19_216 { color: #009; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c19_217 { color: #01c; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c19_218 { color: #02f; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c19_219 { color: #042; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c19_220 { color: #055; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c19_221 { color: #068; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c19_222 { color: #07b; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c19_223 { color: #08e; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c19_224 { color: #0a1; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c19_225 { color: #0b4; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c19_226 { color: #0c7; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c19_227 { color: #0da; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c19_228 { color: #0ed; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c19_229 { color: #100; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c19_230 { color: #113; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c19_231 { color: #126; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c19_232 { color: #139; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c19_233 { color: #14c; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c19_234 { color: #15f; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c19_235 { color: #172; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c19_236 { color: #185; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c19_237 { color: #198; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c19_238 { color: #1ab; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c19_239 { color: #1be; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c19_240 { color: #1d1; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c19_241 { color: #1e4; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c19_242 { color: #1f7; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c19_243 { color: #20a; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c19_244 { color: #21d; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c19_245 { color: #230; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c19_246 { color: #243; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c19_247 { color: #256; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c19_248 { color: #269; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c19_249 { color: #27c; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c19_250 { color: #28f; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c19_251 { color: #2a2; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c19_252 { color: #2b5; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c19_253 { color: #2c8; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c19_254 { color: #2db; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c19_255 { color: #2ee; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c19_256 { color: #301; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c19_257 { color: #314; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c19_258 { color: #327; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c19_259 { color: #33a; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c19_260 { color: #34d; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c19_261 { color: #360; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c19_262 { color: #373; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c19_263 { color: #386; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c19_264 { color: #399; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c19_265 { color: #3ac; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c19_266 { color: #3bf; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c19_267 { color: #3d2; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c19_268 { color: #3e5; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c19_269 { color: #3f8; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c19_270 { color: #40b; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c19_271 { color: #41e; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c19_272 { color: #431; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c19_273 { color: #444; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c19_274 { color: #457; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c19_275 { color: #46a; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c19_276 { color: #47d; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c19_277 { color: #490; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c19_278 { color: #4a3; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c19_279 { color: #4b6; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c19_280 { color: #4c9; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c19_281 { color: #4dc; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c19_282 { color: #4ef; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c19_283 { color: #502; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c19_284 { color: #515; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c19_285 { color: #528; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c19_286 { color: #53b; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c19_287 { color: #54e; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c19_288 { color: #561; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c19_289 { color: #574; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c19_290 { color: #587; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c19_291 { color: #59a; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c19_292 { color: #5ad; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c19_293 { color: #5c0; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c19_294 { color: #5d3; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c19_295 { color: #5e6; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c19_296 { color: #5f9; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c19_297 { color: #60c; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c19_298 { color: #61f; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c19_299 { color: #632; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c19_300 { color: #645; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c19_301 { color: #658; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c19_302 { color: #66b; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c19_303 { color: #67e; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c19_304 { color: #691; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c19_305 { color: #6a4; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c19_306 { color: #6b7; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c19_307 { color: #6ca; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c19_308 { color: #6dd; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c19_309 { color: #6f0; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c19_310 { color: #703; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c19_311 { color: #716; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c19_312 { color: #729; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c19_313 { color: #73c; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c19_314 { color: #74f; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c19_315 { color: #762; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c19_316 { color: #775; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c19_317 { color: #788; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c19_318 { color: #79b; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c19_319 { color: #7ae; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c19_320 { color: #7c1; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c19_321 { color: #7d4; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c19_322 { color: #7e7; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c19_323 { color: #7fa; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c19_324 { color: #80d; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c19_325 { color: #820; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c19_326 { color: #833; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c19_327 { color: #846; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c19_328 { color: #859; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c19_329 { color: #86c; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c19_330 { color: #87f; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c19_331 { color: #892; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c19_332 { color: #8a5; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c19_333 { color: #8b8; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c19_334 { color: #8cb; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c19_335 { color: #8de; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c19_336 { color: #8f1; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c19_337 { color: #904; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c19_338 { color: #917; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c19_339 { color: #92a; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c19_340 { color: #93d; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c19_341 { color: #950; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c19_342 { color: #963; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c19_343 { color: #976; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c19_344 { color: #989; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c19_345 { color: #99c; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c19_346 { color: #9af; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c19_347 { color: #9c2; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c19_348 { color: #9d5; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c19_349 { color: #9e8; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c19_350 { color: #9fb; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c19_351 { color: #a0e; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c19_352 { color: #a21; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c19_353 { color: #a34; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c19_354 { color: #a47; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c19_355 { color: #a5a; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c19_356 { color: #a6d; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c19_357 { color: #a80; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c19_358 { color: #a93; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c19_359 { color: #aa6; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c19_360 { color: #ab9; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c19_361 { color: #acc; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c19_362 { color: #adf; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c19_363 { color: #af2; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c19_364 { color: #b05; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c19_365 { color: #b18; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c19_366 { color: #b2b; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c19_367 { color: #b3e; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c19_368 { color: #b51; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c19_369 { color: #b64; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c19_370 { color: #b77; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c19_371 { color: #b8a; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c19_372 { color: #b9d; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c19_373 { color: #bb0; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c19_374 { color: #bc3; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c19_375 { color: #bd6; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c19_376 { color: #be9; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c19_377 { color: #bfc; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c19_378 { color: #c0f; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c19_379 { color: #c22; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c19_380 { color: #c35; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c19_381 { color: #c48; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c19_382 { color: #c5b; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c19_383 { color: #c6e; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c19_384 { color: #c81; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c19_385 { color: #c94; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c19_386 { color: #ca7; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c19_387 { color: #cba; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c19_388 { color: #ccd; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c19_389 { color: #ce0; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c19_390 { color: #cf3; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c19_391 { color: #d06; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c19_392 { color: #d19; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c19_393 { color: #d2c; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c19_394 { color: #d3f; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c19_395 { color: #d52; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c19_396 { color: #d65; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c19_397 { color: #d78; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c19_398 { color: #d8b; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c19_399 { color: #d9e; margin: 19px; padding: 9px; border: 1px solid #ccc; }