.c20_0 { color: #000; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c20_1 { color: #014; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c20_2 { color: #028; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c20_3 { color: #03c; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c20_4 { color: #050; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c20_5 { color: #064; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c20_6 { color: #078; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c20_7 { color: #08c; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c20_8 { color: #0a0; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c20_9 { color: #0b4; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c20_10 { color: #0c8; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c20_11 { color: #0dc; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c20_12 { color: #0f0; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c20_13 { color: #104; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c20_14 { color: #118; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c20_15 { color: #12c; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c20_16 { color: #140; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c20_17 { color: #154; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c20_18 { color: #168; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c20_19 { color: #17c; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c20_20 { color: #190; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c20_21 { color: #1a4; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c20_22 { color: #1b8; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c20_23 { color: #1cc; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c20_24 { color: #1e0; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c20_25 { color: #1f4; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c20_26 { color: #208; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c20_27 { color: #21c; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c20_28 { color: #230; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c20_29 { color: #244; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c20_30 { color: #258; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c20_31 { color: #26c; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c20_32 { color: #280; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c20_33 { color: #294; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c20_34 { color: #2a8; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c20_35 { color: #2bc; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c20_36 { color: #2d0; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c20_37 { color: #2e4; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c20_38 { color: #2f8; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c20_39 { color: #30c; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c20_40 { color: #320; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c20_41 { color: #334; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c20_42 { color: #348; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c20_43 { color: #35c; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c20_44 { color: #370; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c20_45 { color: #384; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c20_46 { color: #398; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c20_47 { color: #3ac; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c20_48 { color: #3c0; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c20_49 { color: #3d4; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c20_50 { color: #3e8; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c20_51 { color: #3fc; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c20_52 { color: #410; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c20_53 { color: #424; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c20_54 { color: #438; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c20_55 { color: #44c; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c20_56 { color: #460; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c20_57 { color: #474; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c20_58 { color: #488; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c20_59 { color: #49c; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c20_60 { color: #4b0; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c20_61 { color: #4c4; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c20_62 { color: #4d8; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c20_63 { color: #4ec; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c20_64 { color: #500; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c20_65 { color: #514; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c20_66 { color: #528; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c20_67 { color: #53c; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c20_68 { color: #550; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c20_69 { color: #564; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c20_70 { color: #578; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c20_71 { color: #58c; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c20_72 { color: #5a0; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c20_73 { color: #5b4; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c20_74 { color: #5c8; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c20_75 { color: #5dc; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c20_76 { color: #5f0; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c20_77 { color: #604; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c20_78 { color: #618; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c20_79 { color: #62c; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c20_80 { color: #640; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c20_81 { color: #654; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c20_82 { color: #668; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c20_83 { color: #67c; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c20_84 { color: #690; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c20_85 { color: #6a4; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c20_86 { color: #6b8; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c20_87 { color: #6cc; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c20_88 { color: #6e0; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c20_89 { color: #6f4; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c20_90 { color: #708; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c20_91 { color: #71c; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c20_92 { color: #730; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c20_93 { color: #744; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c20_94 { color: #758; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c20_95 { color: #76c; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c20_96 { color: #780; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c20_97 { color: #794; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c20_98 { color: #7a8; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c20_99 { color: #7bc; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c20_100 { color: #7d0; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c20_101 { color: #7e4; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c20_102 { color: #7f8; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c20_103 { color: #80c; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c20_104 { color: #820; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c20_105 { color: #834; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c20_106 { color: #848; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c20_107 { color: #85c; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c20_108 { color: #870; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c20_109 { color: #884; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c20_110 { color: #898; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c20_111 { color: #8ac; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c20_112 { color: #8c0; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c20_113 { color: #8d4; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c20_114 { color: #8e8; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c20_115 { color: #8fc; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c20_116 { color: #910; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c20_117 { color: #924; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c20_118 { color: #938; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c20_119 { color: #94c; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c20_120 { color: #960; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c20_121 { color: #974; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c20_122 { color: #988; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c20_123 { color: #99c; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c20_124 { color: #9b0; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c20_125 { color: #9c4; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c20_126 { color: #9d8; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c20_127 { color: #9ec; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c20_128 { color: #a00; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c20_129 { color: #a14; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c20_130 { color: #a28; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c20_131 { color: #a3c; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c20_132 { color: #a50; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c20_133 { color: #a64; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c20_134 { color: #a78; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c20_135 { color: #a8c; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c20_136 { color: #aa0; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c20_137 { color: #ab4; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c20_138 { color: #ac8; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c20_139 { color: #adc; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c20_140 { color: #af0; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c20_141 { color: #b04; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c20_142 { color: #b18; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c20_143 { color: #b2c; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c20_144 { color: #b40; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c20_145 { color: #b54; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c20_146 { color: #b68; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c20_147 { color: #b7c; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c20_148 { color: #b90; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c20_149 { color: #ba4; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c20_150 { color: #bb8; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c20_151 { color: #bcc; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c20_152 { color: #be0; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c20_153 { color: #bf4; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c20_154 { color: #c08; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c20_155 { color: #c1c; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c20_156 { color: #c30; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c20_157 { color: #c44; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c20_158 { color: #c58; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c20_159 { color: #c6c; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c20_160 { color: #c80; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c20_161 { color: #c94; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c20_162 { color: #ca8; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c20_163 { color: #cbc; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c20_164 { color: #cd0; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c20_165 { color: #ce4; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c20_166 { color: #cf8; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c20_167 { color: #d0c; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c20_168 { color: #d20; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c20_169 { color: #d34; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c20_170 { color: #d48; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c20_171 { color: #d5c; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c20_172 { color: #d70; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c20_173 { color: #d84; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c20_174 { color: #d98; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c20_175 { color: #dac; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c20_176 { color: #dc0; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c20_177 { color: #dd4; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c20_178 { color: #de8; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c20_179 { color: #dfc; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c20_180 { color: #e10; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c20_181 { color: #e24; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c20_182 { color: #e38; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c20_183 { color: #e4c; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c20_184 { color: #e60; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c20_185 { color: #e74; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c20_186 { color: #e88; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c20_187 { color: #e9c; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c20_188 { color: #eb0; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c20_189 { color: #ec4; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c20_190 { color: #ed8; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c20_191 { color: #eec; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c20_192 { color: #f00; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c20_193 { color: #f14; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c20_194 { color: #f28; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c20_195 { color: #f3c; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c20_196 { color: #f50; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c20_197 { color: #f64; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c20_198 { color: #f78; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c20_199 { color: #f8c; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c20_200 { color: #fa0; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c20_201 { color: #fb4; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c20_202 { color: #fc8; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c20_203 { color: #fdc; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c20_204 { color: #ff0; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c20_205 { color: #005; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c20_206 { color: #019; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c20_207 { color: #02d; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c20_208 { color: #041; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c20_209 { color: #055; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c20_210 { color: #069; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c20_211 { color: #07d; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c20_212 { color: #091; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c20_213 { color: #0a5; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c20_214 { color: #0b9; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c20_215 { color: #0cd; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c20_216 { color: #0e1; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c20_217 { color: #0f5; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c20_218 { color: #109; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c20_219 { color: #11d; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c20_220 { color: #131; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c20_221 { color: #145; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c20_222 { color: #159; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c20_223 { color: #16d; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c20_224 { color: #181; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c20_225 { color: #195; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c20_226 { color: #1a9; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c20_227 { color: #1bd; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c20_228 { color: #1d1; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c20_229 { color: #1e5; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c20_230 { color: #1f9; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c20_231 { color: #20d; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c20_232 { color: #221; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c20_233 { color: #235; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c20_234 { color: #249; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c20_235 { color: #25d; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c20_236 { color: #271; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c20_237 { color: #285; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c20_238 { color: #299; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c20_239 { color: #2ad; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c20_240 { color: #2c1; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c20_241 { color: #2d5; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c20_242 { color: #2e9; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c20_243 { color: #2fd; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c20_244 { color: #311; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c20_245 { color: #325; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c20_246 { color: #339; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c20_247 { color: #34d; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c20_248 { color: #361; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c20_249 { color: #375; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c20_250 { color: #389; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c20_251 { color: #39d; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c20_252 { color: #3b1; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c20_253 { color: #3c5; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c20_254 { color: #3d9; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c20_255 { color: #3ed; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c20_256 { color: #401; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c20_257 { color: #415; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c20_258 { color: #429; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c20_259 { color: #43d; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c20_260 { color: #451; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c20_261 { color: #465; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c20_262 { color: #479; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c20_263 { color: #48d; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c20_264 { color: #4a1; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c20_265 { color: #4b5; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c20_266 { color: #4c9; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c20_267 { color: #4dd; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c20_268 { color: #4f1; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c20_269 { color: #505; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c20_270 { color: #519; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c20_271 { color: #52d; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c20_272 { color: #541; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c20_273 { color: #555; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c20_274 { color: #569; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c20_275 { color: #57d; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c20_276 { color: #591; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c20_277 { color: #5a5; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c20_278 { color: #5b9; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c20_279 { color: #5cd; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c20_280 { color: #5e1; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c20_281 { color: #5f5; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c20_282 { color: #609; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c20_283 { color: #61d; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c20_284 { color: #631; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c20_285 { color: #645; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c20_286 { color: #659; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c20_287 { color: #66d; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c20_288 { color: #681; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c20_289 { color: #695; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c20_290 { color: #6a9; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c20_291 { color: #6bd; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c20_292 { color: #6d1; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c20_293 { color: #6e5; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c20_294 { color: #6f9; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c20_295 { color: #70d; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c20_296 { color: #721; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c20_297 { color: #735; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c20_298 { color: #749; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c20_299 { color: #75d; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c20_300 { color: #771; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c20_301 { color: #785; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c20_302 { color: #799; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c20_303 { color: #7ad; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c20_304 { color: #7c1; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c20_305 { color: #7d5; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c20_306 { color: #7e9; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c20_307 { color: #7fd; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c20_308 { color: #811; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c20_309 { color: #825; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c20_310 { color: #839; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c20_311 { color: #84d; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c20_312 { color: #861; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c20_313 { color: #875; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c20_314 { color: #889; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c20_315 { color: #89d; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c20_316 { color: #8b1; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c20_317 { color: #8c5; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c20_318 { color: #8d9; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c20_319 { color: #8ed; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c20_320 { color: #901; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c20_321 { color: #915; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c20_322 { color: #929; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c20_323 { color: #93d; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c20_324 { color: #951; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c20_325 { color: #965; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c20_326 { color: #979; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c20_327 { color: #98d; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c20_328 { color: #9a1; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c20_329 { color: #9b5; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c20_330 { color: #9c9; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c20_331 { color: #9dd; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c20_332 { color: #9f1; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c20_333 { color: #a05; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c20_334 { color: #a19; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c20_335 { color: #a2d; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c20_336 { color: #a41; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c20_337 { color: #a55; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c20_338 { color: #a69; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c20_339 { color: #a7d; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c20_340 { color: #a91; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c20_341 { color: #aa5; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c20_342 { color: #ab9; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c20_343 { color: #acd; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c20_344 { color: #ae1; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c20_345 { color: #af5; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c20_346 { color: #b09; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c20_347 { color: #b1d; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c20_348 { color: #b31; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c20_349 { color: #b45; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c20_350 { color: #b59; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c20_351 { color: #b6d; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c20_352 { color: #b81; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c20_353 { color: #b95; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c20_354 { color: #ba9; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c20_355 { color: #bbd; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c20_356 { color: #bd1; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c20_357 { color: #be5; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c20_358 { color: #bf9; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c20_359 { color: #c0d; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c20_360 { color: #c21; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c20_361 { color: #c35; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c20_362 { color: #c49; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c20_363 { color: #c5d; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c20_364 { color: #c71; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c20_365 { color: #c85; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c20_366 { color: #c99; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c20_367 { color: #cad; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c20_368 { color: #cc1; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c20_369 { color: #cd5; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c20_370 { color: #ce9; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c20_371 { color: #cfd; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c20_372 { color: #d11; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c20_373 { color: #d25; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c20_374 { color: #d39; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c20_375 { color: #d4d; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c20_376 { color: #d61; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c20_377 { color: #d75; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c20_378 { color: #d89; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c20_379 { color: #d9d; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c20_380 { color: #db1; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c20_381 { color: #dc5; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c20_382 { color: #dd9; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c20_383 { color: #ded; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c20_384 { color: #e01; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c20_385 { color: #e15; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c20_386 { color: #e29; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c20_387 { color: #e3d; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c20_388 { color: #e51; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c20_389 { color: #e65; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c20_390 { color: #e79; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c20_391 { color: #e8d; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c20_392 { color: #ea1; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c20_393 { color: #eb5; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c20_394 { color: #ec9; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c20_395 { color: #edd; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c20_396 { color: #ef1; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c20_397 { color: #f05; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c20_398 { color: #f19; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c20_399 { color: #f2d; margin: 19px; padding: 9px; border: 1px solid #ccc; }