.c28_0 { color: #000; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c28_1 { color: #01c; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c28_2 { color: #038; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c28_3 { color: #054; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c28_4 { color: #070; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c28_5 { color: #08c; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c28_6 { color: #0a8; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c28_7 { color: #0c4; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c28_8 { color: #0e0; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c28_9 { color: #0fc; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c28_10 { color: #118; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c28_11 { color: #134; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c28_12 { color: #150; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c28_13 { color: #16c; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c28_14 { color: #188; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c28_15 { color: #1a4; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c28_16 { color: #1c0; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c28_17 { color: #1dc; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c28_18 { color: #1f8; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c28_19 { color: #214; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c28_20 { color: #230; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c28_21 { color: #24c; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c28_22 { color: #268; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c28_23 { color: #284; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c28_24 { color: #2a0; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c28_25 { color: #2bc; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c28_26 { color: #2d8; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c28_27 { color: #2f4; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c28_28 { color: #310; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c28_29 { color: #32c; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c28_30 { color: #348; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c28_31 { color: #364; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c28_32 { color: #380; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c28_33 { color: #39c; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c28_34 { color: #3b8; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c28_35 { color: #3d4; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c28_36 { color: #3f0; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c28_37 { color: #40c; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c28_38 { color: #428; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c28_39 { color: #444; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c28_40 { color: #460; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c28_41 { color: #47c; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c28_42 { color: #498; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c28_43 { color: #4b4; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c28_44 { color: #4d0; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c28_45 { color: #4ec; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c28_46 { color: #508; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c28_47 { color: #524; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c28_48 { color: #540; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c28_49 { color: #55c; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c28_50 { color: #578; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c28_51 { color: #594; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c28_52 { color: #5b0; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c28_53 { color: #5cc; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c28_54 { color: #5e8; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c28_55 { color: #604; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c28_56 { color: #620; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c28_57 { color: #63c; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c28_58 { color: #658; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c28_59 { color: #674; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c28_60 { color: #690; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c28_61 { color: #6ac; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c28_62 { color: #6c8; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c28_63 { color: #6e4; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c28_64 { color: #700; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c28_65 { color: #71c; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c28_66 { color: #738; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c28_67 { color: #754; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c28_68 { color: #770; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c28_69 { color: #78c; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c28_70 { color: #7a8; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c28_71 { color: #7c4; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c28_72 { color: #7e0; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c28_73 { color: #7fc; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c28_74 { color: #818; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c28_75 { color: #834; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c28_76 { color: #850; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c28_77 { color: #86c; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c28_78 { color: #888; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c28_79 { color: #8a4; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c28_80 { color: #8c0; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c28_81 { color: #8dc; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c28_82 { color: #8f8; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c28_83 { color: #914; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c28_84 { color: #930; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c28_85 { color: #94c; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c28_86 { color: #968; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c28_87 { color: #984; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c28_88 { color: #9a0; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c28_89 { color: #9bc; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c28_90 { color: #9d8; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c28_91 { color: #9f4; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c28_92 { color: #a10; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c28_93 { color: #a2c; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c28_94 { color: #a48; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c28_95 { color: #a64; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c28_96 { color: #a80; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c28_97 { color: #a9c; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c28_98 { color: #ab8; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c28_99 { color: #ad4; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c28_100 { color: #af0; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c28_101 { color: #b0c; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c28_102 { color: #b28; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c28_103 { color: #b44; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c28_104 { color: #b60; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c28_105 { color: #b7c; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c28_106 { color: #b98; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c28_107 { color: #bb4; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c28_108 { color: #bd0; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c28_109 { color: #bec; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c28_110 { color: #c08; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c28_111 { color: #c24; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c28_112 { color: #c40; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c28_113 { color: #c5c; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c28_114 { color: #c78; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c28_115 { color: #c94; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c28_116 { color: #cb0; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c28_117 { color: #ccc; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c28_118 { color: #ce8; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c28_119 { color: #d04; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c28_120 { color: #d20; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c28_121 { color: #d3c; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c28_122 { color: #d58; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c28_123 { color: #d74; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c28_124 { color: #d90; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c28_125 { color: #dac; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c28_126 { color: #dc8; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c28_127 { color: #de4; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c28_128 { color: #e00; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c28_129 { color: #e1c; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c28_130 { color: #e38; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c28_131 { color: #e54; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c28_132 { color: #e70; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c28_133 { color: #e8c; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c28_134 { color: #ea8; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c28_135 { color: #ec4; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c28_136 { color: #ee0; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c28_137 { color: #efc; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c28_138 { color: #f18; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c28_139 { color: #f34; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c28_140 { color: #f50; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c28_141 { color: #f6c; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c28_142 { color: #f88; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c28_143 { color: #fa4; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c28_144 { color: #fc0; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c28_145 { color: #fdc; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c28_146 { color: #ff8; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c28_147 { color: #015; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c28_148 { color: #031; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c28_149 { color: #04d; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c28_150 { color: #069; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c28_151 { color: #085; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c28_152 { color: #0a1; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c28_153 { color: #0bd; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c28_154 { color: #0d9; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c28_155 { color: #0f5; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c28_156 { color: #111; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c28_157 { color: #12d; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c28_158 { color: #149; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c28_159 { color: #165; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c28_160 { color: #181; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c28_161 { color: #19d; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c28_162 { color: #1b9; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c28_163 { color: #1d5; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c28_164 { color: #1f1; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c28_165 { color: #20d; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c28_166 { color: #229; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c28_167 { color: #245; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c28_168 { color: #261; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c28_169 { color: #27d; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c28_170 { color: #299; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c28_171 { color: #2b5; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c28_172 { color: #2d1; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c28_173 { color: #2ed; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c28_174 { color: #309; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c28_175 { color: #325; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c28_176 { color: #341; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c28_177 { color: #35d; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c28_178 { color: #379; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c28_179 { color: #395; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c28_180 { color: #3b1; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c28_181 { color: #3cd; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c28_182 { color: #3e9; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c28_183 { color: #405; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c28_184 { color: #421; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c28_185 { color: #43d; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c28_186 { color: #459; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c28_187 { color: #475; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c28_188 { color: #491; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c28_189 { color: #4ad; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c28_190 { color: #4c9; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c28_191 { color: #4e5; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c28_192 { color: #501; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c28_193 { color: #51d; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c28_194 { color: #539; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c28_195 { color: #555; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c28_196 { color: #571; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c28_197 { color: #58d; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c28_198 { color: #5a9; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c28_199 { color: #5c5; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c28_200 { color: #5e1; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c28_201 { color: #5fd; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c28_202 { color: #619; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c28_203 { color: #635; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c28_204 { color: #651; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c28_205 { color: #66d; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c28_206 { color: #689; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c28_207 { color: #6a5; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c28_208 { color: #6c1; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c28_209 { color: #6dd; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c28_210 { color: #6f9; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c28_211 { color: #715; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c28_212 { color: #731; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c28_213 { color: #74d; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c28_214 { color: #769; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c28_215 { color: #785; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c28_216 { color: #7a1; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c28_217 { color: #7bd; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c28_218 { color: #7d9; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c28_219 { color: #7f5; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c28_220 { color: #811; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c28_221 { color: #82d; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c28_222 { color: #849; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c28_223 { color: #865; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c28_224 { color: #881; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c28_225 { color: #89d; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c28_226 { color: #8b9; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c28_227 { color: #8d5; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c28_228 { color: #8f1; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c28_229 { color: #90d; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c28_230 { color: #929; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c28_231 { color: #945; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c28_232 { color: #961; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c28_233 { color: #97d; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c28_234 { color: #999; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c28_235 { color: #9b5; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c28_236 { color: #9d1; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c28_237 { color: #9ed; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c28_238 { color: #a09; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c28_239 { color: #a25; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c28_240 { color: #a41; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c28_241 { color: #a5d; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c28_242 { color: #a79; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c28_243 { color: #a95; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c28_244 { color: #ab1; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c28_245 { color: #acd; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c28_246 { color: #ae9; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c28_247 { color: #b05; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c28_248 { color: #b21; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c28_249 { color: #b3d; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c28_250 { color: #b59; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c28_251 { color: #b75; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c28_252 { color: #b91; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c28_253 { color: #bad; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c28_254 { color: #bc9; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c28_255 { color: #be5; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c28_256 { color: #c01; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c28_257 { color: #c1d; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c28_258 { color: #c39; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c28_259 { color: #c55; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c28_260 { color: #c71; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c28_261 { color: #c8d; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c28_262 { color: #ca9; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c28_263 { color: #cc5; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c28_264 { color: #ce1; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c28_265 { color: #cfd; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c28_266 { color: #d19; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c28_267 { color: #d35; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c28_268 { color: #d51; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c28_269 { color: #d6d; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c28_270 { color: #d89; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c28_271 { color: #da5; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c28_272 { color: #dc1; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c28_273 { color: #ddd; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c28_274 { color: #df9; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c28_275 { color: #e15; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c28_276 { color: #e31; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c28_277 { color: #e4d; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c28_278 { color: #e69; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c28_279 { color: #e85; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c28_280 { color: #ea1; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c28_281 { color: #ebd; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c28_282 { color: #ed9; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c28_283 { color: #ef5; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c28_284 { color: #f11; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c28_285 { color: #f2d; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c28_286 { color: #f49; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c28_287 { color: #f65; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c28_288 { color: #f81; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c28_289 { color: #f9d; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c28_290 { color: #fb9; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c28_291 { color: #fd5; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c28_292 { color: #ff1; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c28_293 { color: #00e; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c28_294 { color: #02a; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c28_295 { color: #046; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c28_296 { color: #062; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c28_297 { color: #07e; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c28_298 { color: #09a; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c28_299 { color: #0b6; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c28_300 { color: #0d2; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c28_301 { color: #0ee; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c28_302 { color: #10a; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c28_303 { color: #126; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c28_304 { color: #142; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c28_305 { color: #15e; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c28_306 { color: #17a; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c28_307 { color: #196; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c28_308 { color: #1b2; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c28_309 { color: #1ce; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c28_310 { color: #1ea; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c28_311 { color: #206; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c28_312 { color: #222; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c28_313 { color: #23e; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c28_314 { color: #25a; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c28_315 { color: #276; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c28_316 { color: #292; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c28_317 { color: #2ae; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c28_318 { color: #2ca; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c28_319 { color: #2e6; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c28_320 { color: #302; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c28_321 { color: #31e; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c28_322 { color: #33a; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c28_323 { color: #356; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c28_324 { color: #372; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c28_325 { color: #38e; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c28_326 { color: #3aa; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c28_327 { color: #3c6; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c28_328 { color: #3e2; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c28_329 { color: #3fe; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c28_330 { color: #41a; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c28_331 { color: #436; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c28_332 { color: #452; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c28_333 { color: #46e; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c28_334 { color: #48a; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c28_335 { color: #4a6; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c28_336 { color: #4c2; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c28_337 { color: #4de; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c28_338 { color: #4fa; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c28_339 { color: #516; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c28_340 { color: #532; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c28_341 { color: #54e; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c28_342 { color: #56a; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c28_343 { color: #586; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c28_344 { color: #5a2; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c28_345 { color: #5be; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c28_346 { color: #5da; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c28_347 { color: #5f6; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c28_348 { color: #612; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c28_349 { color: #62e; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c28_350 { color: #64a; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c28_351 { color: #666; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c28_352 { color: #682; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c28_353 { color: #69e; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c28_354 { color: #6ba; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c28_355 { color: #6d6; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c28_356 { color: #6f2; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c28_357 { color: #70e; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c28_358 { color: #72a; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c28_359 { color: #746; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c28_360 { color: #762; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c28_361 { color: #77e; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c28_362 { color: #79a; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c28_363 { color: #7b6; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c28_364 { color: #7d2; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c28_365 { color: #7ee; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c28_366 { color: #80a; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c28_367 { color: #826; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c28_368 { color: #842; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c28_369 { color: #85e; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c28_370 { color: #87a; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c28_371 { color: #896; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c28_372 { color: #8b2; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c28_373 { color: #8ce; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c28_374 { color: #8ea; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c28_375 { color: #906; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c28_376 { color: #922; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c28_377 { color: #93e; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c28_378 { color: #95a; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c28_379 { color: #976; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c28_380 { color: #992; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c28_381 { color: #9ae; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c28_382 { color: #9ca; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c28_383 { color: #9e6; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c28_384 { color: #a02; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c28_385 { color: #a1e; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c28_386 { color: #a3a; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c28_387 { color: #a56; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c28_388 { color: #a72; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c28_389 { color: #a8e; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c28_390 { color: #aaa; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c28_391 { color: #ac6; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c28_392 { color: #ae2; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c28_393 { color: #afe; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c28_394 { color: #b1a; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c28_395 { color: #b36; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c28_396 { color: #b52; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c28_397 { color: #b6e; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c28_398 { color: #b8a; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c28_399 { color: #ba6; margin: 19px; padding: 9px; border: 1px solid #ccc; }