.c32_0 { color: #000; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c32_1 { color: #020; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c32_2 { color: #040; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c32_3 { color: #060; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c32_4 { color: #080; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c32_5 { color: #0a0; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c32_6 { color: #0c0; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c32_7 { color: #0e0; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c32_8 { color: #100; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c32_9 { color: #120; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c32_10 { color: #140; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c32_11 { color: #160; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c32_12 { color: #180; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c32_13 { color: #1a0; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c32_14 { color: #1c0; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c32_15 { color: #1e0; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c32_16 { color: #200; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c32_17 { color: #220; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c32_18 { color: #240; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c32_19 { color: #260; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c32_20 { color: #280; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c32_21 { color: #2a0; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c32_22 { color: #2c0; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c32_23 { color: #2e0; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c32_24 { color: #300; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c32_25 { color: #320; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c32_26 { color: #340; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c32_27 { color: #360; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c32_28 { color: #380; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c32_29 { color: #3a0; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c32_30 { color: #3c0; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c32_31 { color: #3e0; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c32_32 { color: #400; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c32_33 { color: #420; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c32_34 { color: #440; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c32_35 { color: #460; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c32_36 { color: #480; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c32_37 { color: #4a0; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c32_38 { color: #4c0; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c32_39 { color: #4e0; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c32_40 { color: #500; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c32_41 { color: #520; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c32_42 { color: #540; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c32_43 { color: #560; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c32_44 { color: #580; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c32_45 { color: #5a0; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c32_46 { color: #5c0; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c32_47 { color: #5e0; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c32_48 { color: #600; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c32_49 { color: #620; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c32_50 { color: #640; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c32_51 { color: #660; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c32_52 { color: #680; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c32_53 { color: #6a0; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c32_54 { color: #6c0; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c32_55 { color: #6e0; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c32_56 { color: #700; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c32_57 { color: #720; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c32_58 { color: #740; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c32_59 { color: #760; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c32_60 { color: #780; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c32_61 { color: #7a0; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c32_62 { color: #7c0; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c32_63 { color: #7e0; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c32_64 { color: #800; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c32_65 { color: #820; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c32_66 { color: #840; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c32_67 { color: #860; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c32_68 { color: #880; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c32_69 { color: #8a0; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c32_70 { color: #8c0; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c32_71 { color: #8e0; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c32_72 { color: #900; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c32_73 { color: #920; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c32_74 { color: #940; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c32_75 { color: #960; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c32_76 { color: #980; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c32_77 { color: #9a0; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c32_78 { color: #9c0; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c32_79 { color: #9e0; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c32_80 { color: #a00; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c32_81 { color: #a20; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c32_82 { color: #a40; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c32_83 { color: #a60; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c32_84 { color: #a80; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c32_85 { color: #aa0; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c32_86 { color: #ac0; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c32_87 { color: #ae0; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c32_88 { color: #b00; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c32_89 { color: #b20; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c32_90 { color: #b40; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c32_91 { color: #b60; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c32_92 { color: #b80; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c32_93 { color: #ba0; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c32_94 { color: #bc0; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c32_95 { color: #be0; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c32_96 { color: #c00; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c32_97 { color: #c20; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c32_98 { color: #c40; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c32_99 { color: #c60; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c32_100 { color: #c80; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c32_101 { color: #ca0; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c32_102 { color: #cc0; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c32_103 { color: #ce0; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c32_104 { color: #d00; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c32_105 { color: #d20; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c32_106 { color: #d40; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c32_107 { color: #d60; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c32_108 { color: #d80; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c32_109 { color: #da0; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c32_110 { color: #dc0; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c32_111 { color: #de0; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c32_112 { color: #e00; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c32_113 { color: #e20; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c32_114 { color: #e40; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c32_115 { color: #e60; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c32_116 { color: #e80; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c32_117 { color: #ea0; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c32_118 { color: #ec0; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c32_119 { color: #ee0; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c32_120 { color: #f00; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c32_121 { color: #f20; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c32_122 { color: #f40; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c32_123 { color: #f60; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c32_124 { color: #f80; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c32_125 { color: #fa0; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c32_126 { color: #fc0; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c32_127 { color: #fe0; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c32_128 { color: #001; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c32_129 { color: #021; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c32_130 { color: #041; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c32_131 { color: #061; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c32_132 { color: #081; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c32_133 { color: #0a1; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c32_134 { color: #0c1; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c32_135 { color: #0e1; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c32_136 { color: #101; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c32_137 { color: #121; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c32_138 { color: #141; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c32_139 { color: #161; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c32_140 { color: #181; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c32_141 { color: #1a1; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c32_142 { color: #1c1; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c32_143 { color: #1e1; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c32_144 { color: #201; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c32_145 { color: #221; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c32_146 { color: #241; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c32_147 { color: #261; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c32_148 { color: #281; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c32_149 { color: #2a1; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c32_150 { color: #2c1; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c32_151 { color: #2e1; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c32_152 { color: #301; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c32_153 { color: #321; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c32_154 { color: #341; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c32_155 { color: #361; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c32_156 { color: #381; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c32_157 { color: #3a1; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c32_158 { color: #3c1; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c32_159 { color: #3e1; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c32_160 { color: #401; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c32_161 { color: #421; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c32_162 { color: #441; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c32_163 { color: #461; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c32_164 { color: #481; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c32_165 { color: #4a1; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c32_166 { color: #4c1; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c32_167 { color: #4e1; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c32_168 { color: #501; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c32_169 { color: #521; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c32_170 { color: #541; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c32_171 { color: #561; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c32_172 { color: #581; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c32_173 { color: #5a1; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c32_174 { color: #5c1; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c32_175 { color: #5e1; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c32_176 { color: #601; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c32_177 { color: #621; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c32_178 { color: #641; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c32_179 { color: #661; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c32_180 { color: #681; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c32_181 { color: #6a1; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c32_182 { color: #6c1; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c32_183 { color: #6e1; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c32_184 { color: #701; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c32_185 { color: #721; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c32_186 { color: #741; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c32_187 { color: #761; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c32_188 { color: #781; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c32_189 { color: #7a1; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c32_190 { color: #7c1; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c32_191 { color: #7e1; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c32_192 { color: #801; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c32_193 { color: #821; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c32_194 { color: #841; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c32_195 { color: #861; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c32_196 { color: #881; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c32_197 { color: #8a1; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c32_198 { color: #8c1; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c32_199 { color: #8e1; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c32_200 { color: #901; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c32_201 { color: #921; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c32_202 { color: #941; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c32_203 { color: #961; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c32_204 { color: #981; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c32_205 { color: #9a1; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c32_206 { color: #9c1; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c32_207 { color: #9e1; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c32_208 { color: #a01; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c32_209 { color: #a21; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c32_210 { color: #a41; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c32_211 { color: #a61; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c32_212 { color: #a81; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c32_213 { color: #aa1; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c32_214 { color: #ac1; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c32_215 { color: #ae1; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c32_216 { color: #b01; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c32_217 { color: #b21; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c32_218 { color: #b41; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c32_219 { color: #b61; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c32_220 { color: #b81; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c32_221 { color: #ba1; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c32_222 { color: #bc1; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c32_223 { color: #be1; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c32_224 { color: #c01; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c32_225 { color: #c21; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c32_226 { color: #c41; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c32_227 { color: #c61; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c32_228 { color: #c81; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c32_229 { color: #ca1; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c32_230 { color: #cc1; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c32_231 { color: #ce1; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c32_232 { color: #d01; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c32_233 { color: #d21; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c32_234 { color: #d41; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c32_235 { color: #d61; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c32_236 { color: #d81; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c32_237 { color: #da1; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c32_238 { color: #dc1; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c32_239 { color: #de1; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c32_240 { color: #e01; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c32_241 { color: #e21; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c32_242 { color: #e41; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c32_243 { color: #e61; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c32_244 { color: #e81; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c32_245 { color: #ea1; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c32_246 { color: #ec1; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c32_247 { color: #ee1; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c32_248 { color: #f01; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c32_249 { color: #f21; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c32_250 { color: #f41; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c32_251 { color: #f61; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c32_252 { color: #f81; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c32_253 { color: #fa1; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c32_254 { color: #fc1; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c32_255 { color: #fe1; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c32_256 { color: #002; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c32_257 { color: #022; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c32_258 { color: #042; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c32_259 { color: #062; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c32_260 { color: #082; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c32_261 { color: #0a2; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c32_262 { color: #0c2; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c32_263 { color: #0e2; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c32_264 { color: #102; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c32_265 { color: #122; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c32_266 { color: #142; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c32_267 { color: #162; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c32_268 { color: #182; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c32_269 { color: #1a2; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c32_270 { color: #1c2; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c32_271 { color: #1e2; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c32_272 { color: #202; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c32_273 { color: #222; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c32_274 { color: #242; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c32_275 { color: #262; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c32_276 { color: #282; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c32_277 { color: #2a2; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c32_278 { color: #2c2; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c32_279 { color: #2e2; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c32_280 { color: #302; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c32_281 { color: #322; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c32_282 { color: #342; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c32_283 { color: #362; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c32_284 { color: #382; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c32_285 { color: #3a2; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c32_286 { color: #3c2; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c32_287 { color: #3e2; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c32_288 { color: #402; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c32_289 { color: #422; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c32_290 { color: #442; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c32_291 { color: #462; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c32_292 { color: #482; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c32_293 { color: #4a2; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c32_294 { color: #4c2; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c32_295 { color: #4e2; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c32_296 { color: #502; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c32_297 { color: #522; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c32_298 { color: #542; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c32_299 { color: #562; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c32_300 { color: #582; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c32_301 { color: #5a2; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c32_302 { color: #5c2; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c32_303 { color: #5e2; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c32_304 { color: #602; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c32_305 { color: #622; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c32_306 { color: #642; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c32_307 { color: #662; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c32_308 { color: #682; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c32_309 { color: #6a2; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c32_310 { color: #6c2; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c32_311 { color: #6e2; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c32_312 { color: #702; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c32_313 { color: #722; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c32_314 { color: #742; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c32_315 { color: #762; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c32_316 { color: #782; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c32_317 { color: #7a2; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c32_318 { color: #7c2; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c32_319 { color: #7e2; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c32_320 { color: #802; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c32_321 { color: #822; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c32_322 { color: #842; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c32_323 { color: #862; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c32_324 { color: #882; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c32_325 { color: #8a2; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c32_326 { color: #8c2; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c32_327 { color: #8e2; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c32_328 { color: #902; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c32_329 { color: #922; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c32_330 { color: #942; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c32_331 { color: #962; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c32_332 { color: #982; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c32_333 { color: #9a2; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c32_334 { color: #9c2; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c32_335 { color: #9e2; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c32_336 { color: #a02; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c32_337 { color: #a22; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c32_338 { color: #a42; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c32_339 { color: #a62; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c32_340 { color: #a82; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c32_341 { color: #aa2; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c32_342 { color: #ac2; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c32_343 { color: #ae2; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c32_344 { color: #b02; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c32_345 { color: #b22; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c32_346 { color: #b42; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c32_347 { color: #b62; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c32_348 { color: #b82; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c32_349 { color: #ba2; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c32_350 { color: #bc2; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c32_351 { color: #be2; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c32_352 { color: #c02; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c32_353 { color: #c22; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c32_354 { color: #c42; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c32_355 { color: #c62; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c32_356 { color: #c82; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c32_357 { color: #ca2; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c32_358 { color: #cc2; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c32_359 { color: #ce2; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c32_360 { color: #d02; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c32_361 { color: #d22; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c32_362 { color: #d42; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c32_363 { color: #d62; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c32_364 { color: #d82; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c32_365 { color: #da2; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c32_366 { color: #dc2; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c32_367 { color: #de2; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c32_368 { color: #e02; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c32_369 { color: #e22; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c32_370 { color: #e42; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c32_371 { color: #e62; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c32_372 { color: #e82; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c32_373 { color: #ea2; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c32_374 { color: #ec2; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c32_375 { color: #ee2; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c32_376 { color: #f02; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c32_377 { color: #f22; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c32_378 { color: #f42; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c32_379 { color: #f62; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c32_380 { color: #f82; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c32_381 { color: #fa2; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c32_382 { color: #fc2; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c32_383 { color: #fe2; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c32_384 { color: #003; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c32_385 { color: #023; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c32_386 { color: #043; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c32_387 { color: #063; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c32_388 { color: #083; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c32_389 { color: #0a3; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c32_390 { color: #0c3; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c32_391 { color: #0e3; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c32_392 { color: #103; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c32_393 { color: #123; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c32_394 { color: #143; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c32_395 { color: #163; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c32_396 { color: #183; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c32_397 { color: #1a3; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c32_398 { color: #1c3; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c32_399 { color: #1e3; margin: 19px; padding: 9px; border: 1px solid #ccc; }