.c36_0 { color: #000; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c36_1 { color: #024; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c36_2 { color: #048; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c36_3 { color: #06c; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c36_4 { color: #090; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c36_5 { color: #0b4; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c36_6 { color: #0d8; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c36_7 { color: #0fc; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c36_8 { color: #120; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c36_9 { color: #144; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c36_10 { color: #168; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c36_11 { color: #18c; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c36_12 { color: #1b0; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c36_13 { color: #1d4; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c36_14 { color: #1f8; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c36_15 { color: #21c; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c36_16 { color: #240; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c36_17 { color: #264; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c36_18 { color: #288; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c36_19 { color: #2ac; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c36_20 { color: #2d0; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c36_21 { color: #2f4; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c36_22 { color: #318; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c36_23 { color: #33c; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c36_24 { color: #360; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c36_25 { color: #384; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c36_26 { color: #3a8; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c36_27 { color: #3cc; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c36_28 { color: #3f0; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c36_29 { color: #414; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c36_30 { color: #438; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c36_31 { color: #45c; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c36_32 { color: #480; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c36_33 { color: #4a4; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c36_34 { color: #4c8; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c36_35 { color: #4ec; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c36_36 { color: #510; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c36_37 { color: #534; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c36_38 { color: #558; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c36_39 { color: #57c; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c36_40 { color: #5a0; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c36_41 { color: #5c4; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c36_42 { color: #5e8; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c36_43 { color: #60c; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c36_44 { color: #630; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c36_45 { color: #654; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c36_46 { color: #678; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c36_47 { color: #69c; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c36_48 { color: #6c0; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c36_49 { color: #6e4; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c36_50 { color: #708; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c36_51 { color: #72c; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c36_52 { color: #750; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c36_53 { color: #774; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c36_54 { color: #798; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c36_55 { color: #7bc; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c36_56 { color: #7e0; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c36_57 { color: #804; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c36_58 { color: #828; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c36_59 { color: #84c; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c36_60 { color: #870; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c36_61 { color: #894; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c36_62 { color: #8b8; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c36_63 { color: #8dc; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c36_64 { color: #900; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c36_65 { color: #924; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c36_66 { color: #948; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c36_67 { color: #96c; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c36_68 { color: #990; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c36_69 { color: #9b4; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c36_70 { color: #9d8; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c36_71 { color: #9fc; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c36_72 { color: #a20; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c36_73 { color: #a44; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c36_74 { color: #a68; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c36_75 { color: #a8c; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c36_76 { color: #ab0; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c36_77 { color: #ad4; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c36_78 { color: #af8; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c36_79 { color: #b1c; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c36_80 { color: #b40; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c36_81 { color: #b64; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c36_82 { color: #b88; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c36_83 { color: #bac; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c36_84 { color: #bd0; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c36_85 { color: #bf4; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c36_86 { color: #c18; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c36_87 { color: #c3c; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c36_88 { color: #c60; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c36_89 { color: #c84; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c36_90 { color: #ca8; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c36_91 { color: #ccc; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c36_92 { color: #cf0; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c36_93 { color: #d14; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c36_94 { color: #d38; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c36_95 { color: #d5c; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c36_96 { color: #d80; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c36_97 { color: #da4; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c36_98 { color: #dc8; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c36_99 { color: #dec; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c36_100 { color: #e10; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c36_101 { color: #e34; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c36_102 { color: #e58; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c36_103 { color: #e7c; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c36_104 { color: #ea0; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c36_105 { color: #ec4; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c36_106 { color: #ee8; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c36_107 { color: #f0c; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c36_108 { color: #f30; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c36_109 { color: #f54; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c36_110 { color: #f78; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c36_111 { color: #f9c; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c36_112 { color: #fc0; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c36_113 { color: #fe4; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c36_114 { color: #009; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c36_115 { color: #02d; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c36_116 { color: #051; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c36_117 { color: #075; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c36_118 { color: #099; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c36_119 { color: #0bd; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c36_120 { color: #0e1; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c36_121 { color: #105; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c36_122 { color: #129; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c36_123 { color: #14d; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c36_124 { color: #171; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c36_125 { color: #195; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c36_126 { color: #1b9; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c36_127 { color: #1dd; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c36_128 { color: #201; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c36_129 { color: #225; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c36_130 { color: #249; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c36_131 { color: #26d; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c36_132 { color: #291; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c36_133 { color: #2b5; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c36_134 { color: #2d9; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c36_135 { color: #2fd; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c36_136 { color: #321; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c36_137 { color: #345; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c36_138 { color: #369; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c36_139 { color: #38d; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c36_140 { color: #3b1; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c36_141 { color: #3d5; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c36_142 { color: #3f9; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c36_143 { color: #41d; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c36_144 { color: #441; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c36_145 { color: #465; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c36_146 { color: #489; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c36_147 { color: #4ad; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c36_148 { color: #4d1; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c36_149 { color: #4f5; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c36_150 { color: #519; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c36_151 { color: #53d; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c36_152 { color: #561; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c36_153 { color: #585; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c36_154 { color: #5a9; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c36_155 { color: #5cd; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c36_156 { color: #5f1; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c36_157 { color: #615; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c36_158 { color: #639; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c36_159 { color: #65d; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c36_160 { color: #681; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c36_161 { color: #6a5; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c36_162 { color: #6c9; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c36_163 { color: #6ed; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c36_164 { color: #711; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c36_165 { color: #735; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c36_166 { color: #759; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c36_167 { color: #77d; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c36_168 { color: #7a1; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c36_169 { color: #7c5; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c36_170 { color: #7e9; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c36_171 { color: #80d; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c36_172 { color: #831; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c36_173 { color: #855; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c36_174 { color: #879; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c36_175 { color: #89d; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c36_176 { color: #8c1; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c36_177 { color: #8e5; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c36_178 { color: #909; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c36_179 { color: #92d; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c36_180 { color: #951; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c36_181 { color: #975; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c36_182 { color: #999; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c36_183 { color: #9bd; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c36_184 { color: #9e1; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c36_185 { color: #a05; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c36_186 { color: #a29; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c36_187 { color: #a4d; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c36_188 { color: #a71; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c36_189 { color: #a95; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c36_190 { color: #ab9; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c36_191 { color: #add; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c36_192 { color: #b01; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c36_193 { color: #b25; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c36_194 { color: #b49; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c36_195 { color: #b6d; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c36_196 { color: #b91; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c36_197 { color: #bb5; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c36_198 { color: #bd9; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c36_199 { color: #bfd; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c36_200 { color: #c21; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c36_201 { color: #c45; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c36_202 { color: #c69; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c36_203 { color: #c8d; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c36_204 { color: #cb1; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c36_205 { color: #cd5; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c36_206 { color: #cf9; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c36_207 { color: #d1d; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c36_208 { color: #d41; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c36_209 { color: #d65; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c36_210 { color: #d89; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c36_211 { color: #dad; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c36_212 { color: #dd1; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c36_213 { color: #df5; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c36_214 { color: #e19; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c36_215 { color: #e3d; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c36_216 { color: #e61; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c36_217 { color: #e85; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c36_218 { color: #ea9; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c36_219 { color: #ecd; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c36_220 { color: #ef1; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c36_221 { color: #f15; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c36_222 { color: #f39; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c36_223 { color: #f5d; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c36_224 { color: #f81; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c36_225 { color: #fa5; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c36_226 { color: #fc9; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c36_227 { color: #fed; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c36_228 { color: #012; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c36_229 { color: #036; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c36_230 { color: #05a; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c36_231 { color: #07e; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c36_232 { color: #0a2; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c36_233 { color: #0c6; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c36_234 { color: #0ea; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c36_235 { color: #10e; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c36_236 { color: #132; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c36_237 { color: #156; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c36_238 { color: #17a; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c36_239 { color: #19e; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c36_240 { color: #1c2; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c36_241 { color: #1e6; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c36_242 { color: #20a; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c36_243 { color: #22e; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c36_244 { color: #252; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c36_245 { color: #276; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c36_246 { color: #29a; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c36_247 { color: #2be; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c36_248 { color: #2e2; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c36_249 { color: #306; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c36_250 { color: #32a; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c36_251 { color: #34e; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c36_252 { color: #372; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c36_253 { color: #396; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c36_254 { color: #3ba; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c36_255 { color: #3de; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c36_256 { color: #402; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c36_257 { color: #426; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c36_258 { color: #44a; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c36_259 { color: #46e; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c36_260 { color: #492; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c36_261 { color: #4b6; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c36_262 { color: #4da; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c36_263 { color: #4fe; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c36_264 { color: #522; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c36_265 { color: #546; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c36_266 { color: #56a; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c36_267 { color: #58e; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c36_268 { color: #5b2; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c36_269 { color: #5d6; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c36_270 { color: #5fa; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c36_271 { color: #61e; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c36_272 { color: #642; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c36_273 { color: #666; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c36_274 { color: #68a; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c36_275 { color: #6ae; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c36_276 { color: #6d2; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c36_277 { color: #6f6; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c36_278 { color: #71a; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c36_279 { color: #73e; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c36_280 { color: #762; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c36_281 { color: #786; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c36_282 { color: #7aa; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c36_283 { color: #7ce; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c36_284 { color: #7f2; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c36_285 { color: #816; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c36_286 { color: #83a; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c36_287 { color: #85e; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c36_288 { color: #882; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c36_289 { color: #8a6; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c36_290 { color: #8ca; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c36_291 { color: #8ee; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c36_292 { color: #912; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c36_293 { color: #936; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c36_294 { color: #95a; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c36_295 { color: #97e; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c36_296 { color: #9a2; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c36_297 { color: #9c6; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c36_298 { color: #9ea; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c36_299 { color: #a0e; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c36_300 { color: #a32; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c36_301 { color: #a56; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c36_302 { color: #a7a; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c36_303 { color: #a9e; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c36_304 { color: #ac2; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c36_305 { color: #ae6; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c36_306 { color: #b0a; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c36_307 { color: #b2e; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c36_308 { color: #b52; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c36_309 { color: #b76; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c36_310 { color: #b9a; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c36_311 { color: #bbe; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c36_312 { color: #be2; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c36_313 { color: #c06; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c36_314 { color: #c2a; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c36_315 { color: #c4e; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c36_316 { color: #c72; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c36_317 { color: #c96; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c36_318 { color: #cba; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c36_319 { color: #cde; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c36_320 { color: #d02; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c36_321 { color: #d26; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c36_322 { color: #d4a; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c36_323 { color: #d6e; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c36_324 { color: #d92; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c36_325 { color: #db6; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c36_326 { color: #dda; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c36_327 { color: #dfe; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c36_328 { color: #e22; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c36_329 { color: #e46; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c36_330 { color: #e6a; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c36_331 { color: #e8e; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c36_332 { color: #eb2; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c36_333 { color: #ed6; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c36_334 { color: #efa; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c36_335 { color: #f1e; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c36_336 { color: #f42; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c36_337 { color: #f66; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c36_338 { color: #f8a; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c36_339 { color: #fae; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c36_340 { color: #fd2; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c36_341 { color: #ff6; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c36_342 { color: #01b; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c36_343 { color: #03f; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c36_344 { color: #063; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c36_345 { color: #087; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c36_346 { color: #0ab; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c36_347 { color: #0cf; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c36_348 { color: #0f3; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c36_349 { color: #117; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c36_350 { color: #13b; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c36_351 { color: #15f; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c36_352 { color: #183; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c36_353 { color: #1a7; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c36_354 { color: #1cb; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c36_355 { color: #1ef; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c36_356 { color: #213; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c36_357 { color: #237; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c36_358 { color: #25b; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c36_359 { color: #27f; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c36_360 { color: #2a3; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c36_361 { color: #2c7; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c36_362 { color: #2eb; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c36_363 { color: #30f; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c36_364 { color: #333; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c36_365 { color: #357; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c36_366 { color: #37b; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c36_367 { color: #39f; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c36_368 { color: #3c3; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c36_369 { color: #3e7; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c36_370 { color: #40b; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c36_371 { color: #42f; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c36_372 { color: #453; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c36_373 { color: #477; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c36_374 { color: #49b; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c36_375 { color: #4bf; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c36_376 { color: #4e3; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c36_377 { color: #507; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c36_378 { color: #52b; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c36_379 { color: #54f; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c36_380 { color: #573; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c36_381 { color: #597; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c36_382 { color: #5bb; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c36_383 { color: #5df; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c36_384 { color: #603; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c36_385 { color: #627; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c36_386 { color: #64b; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c36_387 { color: #66f; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c36_388 { color: #693; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c36_389 { color: #6b7; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c36_390 { color: #6db; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c36_391 { color: #6ff; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c36_392 { color: #723; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c36_393 { color: #747; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c36_394 { color: #76b; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c36_395 { color: #78f; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c36_396 { color: #7b3; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c36_397 { color: #7d7; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c36_398 { color: #7fb; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c36_399 { color: #81f; margin: 19px; padding: 9px; border: 1px solid #ccc; }