.c40_0 { color: #000; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c40_1 { color: #028; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c40_2 { color: #050; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c40_3 { color: #078; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c40_4 { color: #0a0; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c40_5 { color: #0c8; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c40_6 { color: #0f0; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c40_7 { color: #118; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c40_8 { color: #140; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c40_9 { color: #168; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c40_10 { color: #190; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c40_11 { color: #1b8; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c40_12 { color: #1e0; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c40_13 { color: #208; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c40_14 { color: #230; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c40_15 { color: #258; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c40_16 { color: #280; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c40_17 { color: #2a8; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c40_18 { color: #2d0; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c40_19 { color: #2f8; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c40_20 { color: #320; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c40_21 { color: #348; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c40_22 { color: #370; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c40_23 { color: #398; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c40_24 { color: #3c0; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c40_25 { color: #3e8; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c40_26 { color: #410; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c40_27 { color: #438; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c40_28 { color: #460; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c40_29 { color: #488; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c40_30 { color: #4b0; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c40_31 { color: #4d8; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c40_32 { color: #500; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c40_33 { color: #528; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c40_34 { color: #550; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c40_35 { color: #578; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c40_36 { color: #5a0; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c40_37 { color: #5c8; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c40_38 { color: #5f0; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c40_39 { color: #618; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c40_40 { color: #640; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c40_41 { color: #668; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c40_42 { color: #690; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c40_43 { color: #6b8; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c40_44 { color: #6e0; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c40_45 { color: #708; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c40_46 { color: #730; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c40_47 { color: #758; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c40_48 { color: #780; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c40_49 { color: #7a8; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c40_50 { color: #7d0; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c40_51 { color: #7f8; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c40_52 { color: #820; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c40_53 { color: #848; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c40_54 { color: #870; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c40_55 { color: #898; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c40_56 { color: #8c0; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c40_57 { color: #8e8; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c40_58 { color: #910; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c40_59 { color: #938; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c40_60 { color: #960; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c40_61 { color: #988; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c40_62 { color: #9b0; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c40_63 { color: #9d8; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c40_64 { color: #a00; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c40_65 { color: #a28; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c40_66 { color: #a50; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c40_67 { color: #a78; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c40_68 { color: #aa0; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c40_69 { color: #ac8; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c40_70 { color: #af0; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c40_71 { color: #b18; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c40_72 { color: #b40; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c40_73 { color: #b68; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c40_74 { color: #b90; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c40_75 { color: #bb8; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c40_76 { color: #be0; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c40_77 { color: #c08; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c40_78 { color: #c30; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c40_79 { color: #c58; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c40_80 { color: #c80; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c40_81 { color: #ca8; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c40_82 { color: #cd0; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c40_83 { color: #cf8; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c40_84 { color: #d20; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c40_85 { color: #d48; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c40_86 { color: #d70; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c40_87 { color: #d98; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c40_88 { color: #dc0; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c40_89 { color: #de8; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c40_90 { color: #e10; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c40_91 { color: #e38; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c40_92 { color: #e60; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c40_93 { color: #e88; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c40_94 { color: #eb0; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c40_95 { color: #ed8; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c40_96 { color: #f00; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c40_97 { color: #f28; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c40_98 { color: #f50; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c40_99 { color: #f78; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c40_100 { color: #fa0; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c40_101 { color: #fc8; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c40_102 { color: #ff0; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c40_103 { color: #019; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c40_104 { color: #041; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c40_105 { color: #069; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c40_106 { color: #091; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c40_107 { color: #0b9; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c40_108 { color: #0e1; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c40_109 { color: #109; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c40_110 { color: #131; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c40_111 { color: #159; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c40_112 { color: #181; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c40_113 { color: #1a9; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c40_114 { color: #1d1; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c40_115 { color: #1f9; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c40_116 { color: #221; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c40_117 { color: #249; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c40_118 { color: #271; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c40_119 { color: #299; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c40_120 { color: #2c1; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c40_121 { color: #2e9; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c40_122 { color: #311; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c40_123 { color: #339; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c40_124 { color: #361; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c40_125 { color: #389; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c40_126 { color: #3b1; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c40_127 { color: #3d9; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c40_128 { color: #401; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c40_129 { color: #429; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c40_130 { color: #451; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c40_131 { color: #479; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c40_132 { color: #4a1; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c40_133 { color: #4c9; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c40_134 { color: #4f1; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c40_135 { color: #519; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c40_136 { color: #541; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c40_137 { color: #569; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c40_138 { color: #591; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c40_139 { color: #5b9; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c40_140 { color: #5e1; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c40_141 { color: #609; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c40_142 { color: #631; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c40_143 { color: #659; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c40_144 { color: #681; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c40_145 { color: #6a9; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c40_146 { color: #6d1; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c40_147 { color: #6f9; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c40_148 { color: #721; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c40_149 { color: #749; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c40_150 { color: #771; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c40_151 { color: #799; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c40_152 { color: #7c1; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c40_153 { color: #7e9; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c40_154 { color: #811; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c40_155 { color: #839; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c40_156 { color: #861; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c40_157 { color: #889; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c40_158 { color: #8b1; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c40_159 { color: #8d9; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c40_160 { color: #901; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c40_161 { color: #929; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c40_162 { color: #951; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c40_163 { color: #979; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c40_164 { color: #9a1; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c40_165 { color: #9c9; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c40_166 { color: #9f1; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c40_167 { color: #a19; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c40_168 { color: #a41; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c40_169 { color: #a69; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c40_170 { color: #a91; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c40_171 { color: #ab9; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c40_172 { color: #ae1; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c40_173 { color: #b09; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c40_174 { color: #b31; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c40_175 { color: #b59; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c40_176 { color: #b81; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c40_177 { color: #ba9; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c40_178 { color: #bd1; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c40_179 { color: #bf9; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c40_180 { color: #c21; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c40_181 { color: #c49; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c40_182 { color: #c71; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c40_183 { color: #c99; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c40_184 { color: #cc1; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c40_185 { color: #ce9; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c40_186 { color: #d11; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c40_187 { color: #d39; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c40_188 { color: #d61; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c40_189 { color: #d89; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c40_190 { color: #db1; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c40_191 { color: #dd9; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c40_192 { color: #e01; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c40_193 { color: #e29; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c40_194 { color: #e51; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c40_195 { color: #e79; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c40_196 { color: #ea1; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c40_197 { color: #ec9; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c40_198 { color: #ef1; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c40_199 { color: #f19; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c40_200 { color: #f41; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c40_201 { color: #f69; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c40_202 { color: #f91; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c40_203 { color: #fb9; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c40_204 { color: #fe1; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c40_205 { color: #00a; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c40_206 { color: #032; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c40_207 { color: #05a; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c40_208 { color: #082; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c40_209 { color: #0aa; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c40_210 { color: #0d2; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c40_211 { color: #0fa; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c40_212 { color: #122; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c40_213 { color: #14a; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c40_214 { color: #172; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c40_215 { color: #19a; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c40_216 { color: #1c2; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c40_217 { color: #1ea; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c40_218 { color: #212; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c40_219 { color: #23a; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c40_220 { color: #262; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c40_221 { color: #28a; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c40_222 { color: #2b2; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c40_223 { color: #2da; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c40_224 { color: #302; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c40_225 { color: #32a; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c40_226 { color: #352; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c40_227 { color: #37a; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c40_228 { color: #3a2; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c40_229 { color: #3ca; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c40_230 { color: #3f2; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c40_231 { color: #41a; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c40_232 { color: #442; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c40_233 { color: #46a; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c40_234 { color: #492; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c40_235 { color: #4ba; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c40_236 { color: #4e2; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c40_237 { color: #50a; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c40_238 { color: #532; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c40_239 { color: #55a; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c40_240 { color: #582; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c40_241 { color: #5aa; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c40_242 { color: #5d2; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c40_243 { color: #5fa; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c40_244 { color: #622; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c40_245 { color: #64a; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c40_246 { color: #672; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c40_247 { color: #69a; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c40_248 { color: #6c2; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c40_249 { color: #6ea; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c40_250 { color: #712; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c40_251 { color: #73a; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c40_252 { color: #762; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c40_253 { color: #78a; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c40_254 { color: #7b2; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c40_255 { color: #7da; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c40_256 { color: #802; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c40_257 { color: #82a; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c40_258 { color: #852; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c40_259 { color: #87a; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c40_260 { color: #8a2; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c40_261 { color: #8ca; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c40_262 { color: #8f2; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c40_263 { color: #91a; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c40_264 { color: #942; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c40_265 { color: #96a; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c40_266 { color: #992; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c40_267 { color: #9ba; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c40_268 { color: #9e2; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c40_269 { color: #a0a; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c40_270 { color: #a32; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c40_271 { color: #a5a; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c40_272 { color: #a82; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c40_273 { color: #aaa; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c40_274 { color: #ad2; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c40_275 { color: #afa; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c40_276 { color: #b22; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c40_277 { color: #b4a; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c40_278 { color: #b72; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c40_279 { color: #b9a; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c40_280 { color: #bc2; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c40_281 { color: #bea; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c40_282 { color: #c12; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c40_283 { color: #c3a; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c40_284 { color: #c62; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c40_285 { color: #c8a; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c40_286 { color: #cb2; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c40_287 { color: #cda; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c40_288 { color: #d02; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c40_289 { color: #d2a; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c40_290 { color: #d52; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c40_291 { color: #d7a; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c40_292 { color: #da2; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c40_293 { color: #dca; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c40_294 { color: #df2; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c40_295 { color: #e1a; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c40_296 { color: #e42; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c40_297 { color: #e6a; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c40_298 { color: #e92; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c40_299 { color: #eba; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c40_300 { color: #ee2; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c40_301 { color: #f0a; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c40_302 { color: #f32; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c40_303 { color: #f5a; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c40_304 { color: #f82; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c40_305 { color: #faa; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c40_306 { color: #fd2; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c40_307 { color: #ffa; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c40_308 { color: #023; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c40_309 { color: #04b; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c40_310 { color: #073; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c40_311 { color: #09b; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c40_312 { color: #0c3; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c40_313 { color: #0eb; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c40_314 { color: #113; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c40_315 { color: #13b; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c40_316 { color: #163; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c40_317 { color: #18b; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c40_318 { color: #1b3; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c40_319 { color: #1db; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c40_320 { color: #203; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c40_321 { color: #22b; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c40_322 { color: #253; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c40_323 { color: #27b; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c40_324 { color: #2a3; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c40_325 { color: #2cb; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c40_326 { color: #2f3; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c40_327 { color: #31b; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c40_328 { color: #343; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c40_329 { color: #36b; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c40_330 { color: #393; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c40_331 { color: #3bb; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c40_332 { color: #3e3; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c40_333 { color: #40b; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c40_334 { color: #433; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c40_335 { color: #45b; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c40_336 { color: #483; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c40_337 { color: #4ab; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c40_338 { color: #4d3; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c40_339 { color: #4fb; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c40_340 { color: #523; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c40_341 { color: #54b; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c40_342 { color: #573; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c40_343 { color: #59b; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c40_344 { color: #5c3; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c40_345 { color: #5eb; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c40_346 { color: #613; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c40_347 { color: #63b; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c40_348 { color: #663; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c40_349 { color: #68b; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c40_350 { color: #6b3; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c40_351 { color: #6db; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c40_352 { color: #703; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c40_353 { color: #72b; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c40_354 { color: #753; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c40_355 { color: #77b; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c40_356 { color: #7a3; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c40_357 { color: #7cb; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c40_358 { color: #7f3; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c40_359 { color: #81b; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c40_360 { color: #843; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c40_361 { color: #86b; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c40_362 { color: #893; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c40_363 { color: #8bb; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c40_364 { color: #8e3; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c40_365 { color: #90b; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c40_366 { color: #933; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c40_367 { color: #95b; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c40_368 { color: #983; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c40_369 { color: #9ab; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c40_370 { color: #9d3; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c40_371 { color: #9fb; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c40_372 { color: #a23; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c40_373 { color: #a4b; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c40_374 { color: #a73; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c40_375 { color: #a9b; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c40_376 { color: #ac3; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c40_377 { color: #aeb; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c40_378 { color: #b13; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c40_379 { color: #b3b; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c40_380 { color: #b63; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c40_381 { color: #b8b; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c40_382 { color: #bb3; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c40_383 { color: #bdb; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c40_384 { color: #c03; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c40_385 { color: #c2b; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c40_386 { color: #c53; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c40_387 { color: #c7b; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c40_388 { color: #ca3; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c40_389 { color: #ccb; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c40_390 { color: #cf3; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c40_391 { color: #d1b; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c40_392 { color: #d43; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c40_393 { color: #d6b; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c40_394 { color: #d93; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c40_395 { color: #dbb; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c40_396 { color: #de3; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c40_397 { color: #e0b; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c40_398 { color: #e33; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c40_399 { color: #e5b; margin: 19px; padding: 9px; border: 1px solid #ccc; }