.c42_0 { color: #000; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c42_1 { color: #02a; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c42_2 { color: #054; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c42_3 { color: #07e; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c42_4 { color: #0a8; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c42_5 { color: #0d2; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c42_6 { color: #0fc; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c42_7 { color: #126; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c42_8 { color: #150; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c42_9 { color: #17a; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c42_10 { color: #1a4; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c42_11 { color: #1ce; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c42_12 { color: #1f8; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c42_13 { color: #222; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c42_14 { color: #24c; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c42_15 { color: #276; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c42_16 { color: #2a0; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c42_17 { color: #2ca; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c42_18 { color: #2f4; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c42_19 { color: #31e; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c42_20 { color: #348; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c42_21 { color: #372; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c42_22 { color: #39c; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c42_23 { color: #3c6; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c42_24 { color: #3f0; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c42_25 { color: #41a; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c42_26 { color: #444; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c42_27 { color: #46e; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c42_28 { color: #498; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c42_29 { color: #4c2; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c42_30 { color: #4ec; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c42_31 { color: #516; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c42_32 { color: #540; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c42_33 { color: #56a; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c42_34 { color: #594; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c42_35 { color: #5be; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c42_36 { color: #5e8; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c42_37 { color: #612; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c42_38 { color: #63c; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c42_39 { color: #666; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c42_40 { color: #690; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c42_41 { color: #6ba; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c42_42 { color: #6e4; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c42_43 { color: #70e; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c42_44 { color: #738; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c42_45 { color: #762; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c42_46 { color: #78c; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c42_47 { color: #7b6; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c42_48 { color: #7e0; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c42_49 { color: #80a; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c42_50 { color: #834; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c42_51 { color: #85e; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c42_52 { color: #888; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c42_53 { color: #8b2; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c42_54 { color: #8dc; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c42_55 { color: #906; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c42_56 { color: #930; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c42_57 { color: #95a; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c42_58 { color: #984; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c42_59 { color: #9ae; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c42_60 { color: #9d8; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c42_61 { color: #a02; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c42_62 { color: #a2c; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c42_63 { color: #a56; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c42_64 { color: #a80; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c42_65 { color: #aaa; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c42_66 { color: #ad4; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c42_67 { color: #afe; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c42_68 { color: #b28; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c42_69 { color: #b52; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c42_70 { color: #b7c; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c42_71 { color: #ba6; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c42_72 { color: #bd0; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c42_73 { color: #bfa; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c42_74 { color: #c24; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c42_75 { color: #c4e; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c42_76 { color: #c78; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c42_77 { color: #ca2; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c42_78 { color: #ccc; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c42_79 { color: #cf6; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c42_80 { color: #d20; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c42_81 { color: #d4a; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c42_82 { color: #d74; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c42_83 { color: #d9e; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c42_84 { color: #dc8; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c42_85 { color: #df2; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c42_86 { color: #e1c; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c42_87 { color: #e46; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c42_88 { color: #e70; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c42_89 { color: #e9a; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c42_90 { color: #ec4; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c42_91 { color: #eee; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c42_92 { color: #f18; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c42_93 { color: #f42; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c42_94 { color: #f6c; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c42_95 { color: #f96; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c42_96 { color: #fc0; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c42_97 { color: #fea; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c42_98 { color: #015; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c42_99 { color: #03f; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c42_100 { color: #069; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c42_101 { color: #093; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c42_102 { color: #0bd; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c42_103 { color: #0e7; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c42_104 { color: #111; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c42_105 { color: #13b; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c42_106 { color: #165; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c42_107 { color: #18f; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c42_108 { color: #1b9; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c42_109 { color: #1e3; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c42_110 { color: #20d; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c42_111 { color: #237; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c42_112 { color: #261; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c42_113 { color: #28b; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c42_114 { color: #2b5; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c42_115 { color: #2df; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c42_116 { color: #309; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c42_117 { color: #333; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c42_118 { color: #35d; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c42_119 { color: #387; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c42_120 { color: #3b1; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c42_121 { color: #3db; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c42_122 { color: #405; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c42_123 { color: #42f; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c42_124 { color: #459; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c42_125 { color: #483; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c42_126 { color: #4ad; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c42_127 { color: #4d7; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c42_128 { color: #501; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c42_129 { color: #52b; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c42_130 { color: #555; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c42_131 { color: #57f; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c42_132 { color: #5a9; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c42_133 { color: #5d3; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c42_134 { color: #5fd; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c42_135 { color: #627; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c42_136 { color: #651; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c42_137 { color: #67b; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c42_138 { color: #6a5; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c42_139 { color: #6cf; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c42_140 { color: #6f9; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c42_141 { color: #723; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c42_142 { color: #74d; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c42_143 { color: #777; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c42_144 { color: #7a1; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c42_145 { color: #7cb; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c42_146 { color: #7f5; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c42_147 { color: #81f; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c42_148 { color: #849; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c42_149 { color: #873; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c42_150 { color: #89d; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c42_151 { color: #8c7; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c42_152 { color: #8f1; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c42_153 { color: #91b; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c42_154 { color: #945; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c42_155 { color: #96f; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c42_156 { color: #999; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c42_157 { color: #9c3; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c42_158 { color: #9ed; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c42_159 { color: #a17; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c42_160 { color: #a41; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c42_161 { color: #a6b; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c42_162 { color: #a95; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c42_163 { color: #abf; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c42_164 { color: #ae9; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c42_165 { color: #b13; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c42_166 { color: #b3d; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c42_167 { color: #b67; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c42_168 { color: #b91; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c42_169 { color: #bbb; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c42_170 { color: #be5; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c42_171 { color: #c0f; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c42_172 { color: #c39; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c42_173 { color: #c63; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c42_174 { color: #c8d; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c42_175 { color: #cb7; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c42_176 { color: #ce1; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c42_177 { color: #d0b; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c42_178 { color: #d35; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c42_179 { color: #d5f; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c42_180 { color: #d89; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c42_181 { color: #db3; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c42_182 { color: #ddd; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c42_183 { color: #e07; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c42_184 { color: #e31; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c42_185 { color: #e5b; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c42_186 { color: #e85; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c42_187 { color: #eaf; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c42_188 { color: #ed9; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c42_189 { color: #f03; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c42_190 { color: #f2d; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c42_191 { color: #f57; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c42_192 { color: #f81; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c42_193 { color: #fab; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c42_194 { color: #fd5; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c42_195 { color: #000; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c42_196 { color: #02a; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c42_197 { color: #054; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c42_198 { color: #07e; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c42_199 { color: #0a8; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c42_200 { color: #0d2; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c42_201 { color: #0fc; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c42_202 { color: #126; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c42_203 { color: #150; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c42_204 { color: #17a; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c42_205 { color: #1a4; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c42_206 { color: #1ce; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c42_207 { color: #1f8; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c42_208 { color: #222; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c42_209 { color: #24c; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c42_210 { color: #276; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c42_211 { color: #2a0; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c42_212 { color: #2ca; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c42_213 { color: #2f4; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c42_214 { color: #31e; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c42_215 { color: #348; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c42_216 { color: #372; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c42_217 { color: #39c; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c42_218 { color: #3c6; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c42_219 { color: #3f0; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c42_220 { color: #41a; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c42_221 { color: #444; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c42_222 { color: #46e; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c42_223 { color: #498; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c42_224 { color: #4c2; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c42_225 { color: #4ec; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c42_226 { color: #516; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c42_227 { color: #540; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c42_228 { color: #56a; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c42_229 { color: #594; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c42_230 { color: #5be; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c42_231 { color: #5e8; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c42_232 { color: #612; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c42_233 { color: #63c; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c42_234 { color: #666; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c42_235 { color: #690; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c42_236 { color: #6ba; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c42_237 { color: #6e4; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c42_238 { color: #70e; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c42_239 { color: #738; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c42_240 { color: #762; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c42_241 { color: #78c; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c42_242 { color: #7b6; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c42_243 { color: #7e0; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c42_244 { color: #80a; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c42_245 { color: #834; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c42_246 { color: #85e; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c42_247 { color: #888; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c42_248 { color: #8b2; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c42_249 { color: #8dc; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c42_250 { color: #906; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c42_251 { color: #930; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c42_252 { color: #95a; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c42_253 { color: #984; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c42_254 { color: #9ae; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c42_255 { color: #9d8; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c42_256 { color: #a02; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c42_257 { color: #a2c; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c42_258 { color: #a56; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c42_259 { color: #a80; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c42_260 { color: #aaa; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c42_261 { color: #ad4; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c42_262 { color: #afe; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c42_263 { color: #b28; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c42_264 { color: #b52; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c42_265 { color: #b7c; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c42_266 { color: #ba6; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c42_267 { color: #bd0; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c42_268 { color: #bfa; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c42_269 { color: #c24; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c42_270 { color: #c4e; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c42_271 { color: #c78; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c42_272 { color: #ca2; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c42_273 { color: #ccc; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c42_274 { color: #cf6; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c42_275 { color: #d20; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c42_276 { color: #d4a; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c42_277 { color: #d74; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c42_278 { color: #d9e; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c42_279 { color: #dc8; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c42_280 { color: #df2; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c42_281 { color: #e1c; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c42_282 { color: #e46; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c42_283 { color: #e70; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c42_284 { color: #e9a; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c42_285 { color: #ec4; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c42_286 { color: #eee; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c42_287 { color: #f18; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c42_288 { color: #f42; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c42_289 { color: #f6c; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c42_290 { color: #f96; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c42_291 { color: #fc0; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c42_292 { color: #fea; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c42_293 { color: #015; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c42_294 { color: #03f; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c42_295 { color: #069; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c42_296 { color: #093; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c42_297 { color: #0bd; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c42_298 { color: #0e7; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c42_299 { color: #111; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c42_300 { color: #13b; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c42_301 { color: #165; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c42_302 { color: #18f; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c42_303 { color: #1b9; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c42_304 { color: #1e3; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c42_305 { color: #20d; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c42_306 { color: #237; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c42_307 { color: #261; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c42_308 { color: #28b; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c42_309 { color: #2b5; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c42_310 { color: #2df; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c42_311 { color: #309; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c42_312 { color: #333; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c42_313 { color: #35d; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c42_314 { color: #387; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c42_315 { color: #3b1; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c42_316 { color: #3db; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c42_317 { color: #405; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c42_318 { color: #42f; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c42_319 { color: #459; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c42_320 { color: #483; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c42_321 { color: #4ad; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c42_322 { color: #4d7; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c42_323 { color: #501; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c42_324 { color: #52b; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c42_325 { color: #555; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c42_326 { color: #57f; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c42_327 { color: #5a9; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c42_328 { color: #5d3; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c42_329 { color: #5fd; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c42_330 { color: #627; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c42_331 { color: #651; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c42_332 { color: #67b; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c42_333 { color: #6a5; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c42_334 { color: #6cf; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c42_335 { color: #6f9; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c42_336 { color: #723; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c42_337 { color: #74d; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c42_338 { color: #777; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c42_339 { color: #7a1; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c42_340 { color: #7cb; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c42_341 { color: #7f5; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c42_342 { color: #81f; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c42_343 { color: #849; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c42_344 { color: #873; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c42_345 { color: #89d; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c42_346 { color: #8c7; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c42_347 { color: #8f1; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c42_348 { color: #91b; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c42_349 { color: #945; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c42_350 { color: #96f; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c42_351 { color: #999; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c42_352 { color: #9c3; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c42_353 { color: #9ed; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c42_354 { color: #a17; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c42_355 { color: #a41; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c42_356 { color: #a6b; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c42_357 { color: #a95; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c42_358 { color: #abf; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c42_359 { color: #ae9; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c42_360 { color: #b13; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c42_361 { color: #b3d; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c42_362 { color: #b67; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c42_363 { color: #b91; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c42_364 { color: #bbb; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c42_365 { color: #be5; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c42_366 { color: #c0f; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c42_367 { color: #c39; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c42_368 { color: #c63; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c42_369 { color: #c8d; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c42_370 { color: #cb7; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c42_371 { color: #ce1; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c42_372 { color: #d0b; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c42_373 { color: #d35; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c42_374 { color: #d5f; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c42_375 { color: #d89; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c42_376 { color: #db3; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c42_377 { color: #ddd; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c42_378 { color: #e07; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c42_379 { color: #e31; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c42_380 { color: #e5b; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c42_381 { color: #e85; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c42_382 { color: #eaf; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c42_383 { color: #ed9; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c42_384 { color: #f03; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c42_385 { color: #f2d; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c42_386 { color: #f57; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c42_387 { color: #f81; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c42_388 { color: #fab; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c42_389 { color: #fd5; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c42_390 { color: #000; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c42_391 { color: #02a; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c42_392 { color: #054; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c42_393 { color: #07e; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c42_394 { color: #0a8; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c42_395 { color: #0d2; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c42_396 { color: #0fc; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c42_397 { color: #126; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c42_398 { color: #150; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c42_399 { color: #17a; margin: 19px; padding: 9px; border: 1px solid #ccc; }