.c50_0 { color: #000; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c50_1 { color: #032; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c50_2 { color: #064; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c50_3 { color: #096; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c50_4 { color: #0c8; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c50_5 { color: #0fa; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c50_6 { color: #12c; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c50_7 { color: #15e; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c50_8 { color: #190; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c50_9 { color: #1c2; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c50_10 { color: #1f4; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c50_11 { color: #226; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c50_12 { color: #258; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c50_13 { color: #28a; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c50_14 { color: #2bc; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c50_15 { color: #2ee; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c50_16 { color: #320; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c50_17 { color: #352; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c50_18 { color: #384; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c50_19 { color: #3b6; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c50_20 { color: #3e8; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c50_21 { color: #41a; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c50_22 { color: #44c; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c50_23 { color: #47e; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c50_24 { color: #4b0; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c50_25 { color: #4e2; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c50_26 { color: #514; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c50_27 { color: #546; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c50_28 { color: #578; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c50_29 { color: #5aa; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c50_30 { color: #5dc; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c50_31 { color: #60e; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c50_32 { color: #640; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c50_33 { color: #672; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c50_34 { color: #6a4; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c50_35 { color: #6d6; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c50_36 { color: #708; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c50_37 { color: #73a; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c50_38 { color: #76c; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c50_39 { color: #79e; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c50_40 { color: #7d0; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c50_41 { color: #802; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c50_42 { color: #834; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c50_43 { color: #866; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c50_44 { color: #898; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c50_45 { color: #8ca; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c50_46 { color: #8fc; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c50_47 { color: #92e; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c50_48 { color: #960; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c50_49 { color: #992; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c50_50 { color: #9c4; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c50_51 { color: #9f6; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c50_52 { color: #a28; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c50_53 { color: #a5a; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c50_54 { color: #a8c; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c50_55 { color: #abe; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c50_56 { color: #af0; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c50_57 { color: #b22; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c50_58 { color: #b54; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c50_59 { color: #b86; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c50_60 { color: #bb8; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c50_61 { color: #bea; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c50_62 { color: #c1c; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c50_63 { color: #c4e; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c50_64 { color: #c80; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c50_65 { color: #cb2; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c50_66 { color: #ce4; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c50_67 { color: #d16; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c50_68 { color: #d48; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c50_69 { color: #d7a; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c50_70 { color: #dac; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c50_71 { color: #dde; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c50_72 { color: #e10; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c50_73 { color: #e42; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c50_74 { color: #e74; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c50_75 { color: #ea6; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c50_76 { color: #ed8; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c50_77 { color: #f0a; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c50_78 { color: #f3c; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c50_79 { color: #f6e; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c50_80 { color: #fa0; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c50_81 { color: #fd2; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c50_82 { color: #005; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c50_83 { color: #037; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c50_84 { color: #069; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c50_85 { color: #09b; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c50_86 { color: #0cd; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c50_87 { color: #0ff; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c50_88 { color: #131; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c50_89 { color: #163; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c50_90 { color: #195; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c50_91 { color: #1c7; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c50_92 { color: #1f9; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c50_93 { color: #22b; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c50_94 { color: #25d; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c50_95 { color: #28f; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c50_96 { color: #2c1; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c50_97 { color: #2f3; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c50_98 { color: #325; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c50_99 { color: #357; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c50_100 { color: #389; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c50_101 { color: #3bb; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c50_102 { color: #3ed; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c50_103 { color: #41f; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c50_104 { color: #451; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c50_105 { color: #483; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c50_106 { color: #4b5; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c50_107 { color: #4e7; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c50_108 { color: #519; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c50_109 { color: #54b; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c50_110 { color: #57d; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c50_111 { color: #5af; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c50_112 { color: #5e1; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c50_113 { color: #613; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c50_114 { color: #645; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c50_115 { color: #677; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c50_116 { color: #6a9; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c50_117 { color: #6db; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c50_118 { color: #70d; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c50_119 { color: #73f; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c50_120 { color: #771; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c50_121 { color: #7a3; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c50_122 { color: #7d5; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c50_123 { color: #807; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c50_124 { color: #839; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c50_125 { color: #86b; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c50_126 { color: #89d; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c50_127 { color: #8cf; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c50_128 { color: #901; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c50_129 { color: #933; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c50_130 { color: #965; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c50_131 { color: #997; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c50_132 { color: #9c9; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c50_133 { color: #9fb; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c50_134 { color: #a2d; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c50_135 { color: #a5f; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c50_136 { color: #a91; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c50_137 { color: #ac3; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c50_138 { color: #af5; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c50_139 { color: #b27; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c50_140 { color: #b59; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c50_141 { color: #b8b; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c50_142 { color: #bbd; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c50_143 { color: #bef; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c50_144 { color: #c21; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c50_145 { color: #c53; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c50_146 { color: #c85; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c50_147 { color: #cb7; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c50_148 { color: #ce9; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c50_149 { color: #d1b; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c50_150 { color: #d4d; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c50_151 { color: #d7f; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c50_152 { color: #db1; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c50_153 { color: #de3; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c50_154 { color: #e15; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c50_155 { color: #e47; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c50_156 { color: #e79; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c50_157 { color: #eab; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c50_158 { color: #edd; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c50_159 { color: #f0f; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c50_160 { color: #f41; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c50_161 { color: #f73; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c50_162 { color: #fa5; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c50_163 { color: #fd7; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c50_164 { color: #00a; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c50_165 { color: #03c; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c50_166 { color: #06e; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c50_167 { color: #0a0; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c50_168 { color: #0d2; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c50_169 { color: #104; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c50_170 { color: #136; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c50_171 { color: #168; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c50_172 { color: #19a; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c50_173 { color: #1cc; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c50_174 { color: #1fe; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c50_175 { color: #230; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c50_176 { color: #262; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c50_177 { color: #294; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c50_178 { color: #2c6; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c50_179 { color: #2f8; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c50_180 { color: #32a; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c50_181 { color: #35c; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c50_182 { color: #38e; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c50_183 { color: #3c0; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c50_184 { color: #3f2; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c50_185 { color: #424; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c50_186 { color: #456; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c50_187 { color: #488; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c50_188 { color: #4ba; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c50_189 { color: #4ec; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c50_190 { color: #51e; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c50_191 { color: #550; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c50_192 { color: #582; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c50_193 { color: #5b4; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c50_194 { color: #5e6; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c50_195 { color: #618; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c50_196 { color: #64a; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c50_197 { color: #67c; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c50_198 { color: #6ae; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c50_199 { color: #6e0; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c50_200 { color: #712; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c50_201 { color: #744; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c50_202 { color: #776; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c50_203 { color: #7a8; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c50_204 { color: #7da; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c50_205 { color: #80c; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c50_206 { color: #83e; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c50_207 { color: #870; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c50_208 { color: #8a2; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c50_209 { color: #8d4; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c50_210 { color: #906; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c50_211 { color: #938; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c50_212 { color: #96a; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c50_213 { color: #99c; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c50_214 { color: #9ce; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c50_215 { color: #a00; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c50_216 { color: #a32; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c50_217 { color: #a64; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c50_218 { color: #a96; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c50_219 { color: #ac8; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c50_220 { color: #afa; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c50_221 { color: #b2c; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c50_222 { color: #b5e; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c50_223 { color: #b90; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c50_224 { color: #bc2; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c50_225 { color: #bf4; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c50_226 { color: #c26; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c50_227 { color: #c58; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c50_228 { color: #c8a; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c50_229 { color: #cbc; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c50_230 { color: #cee; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c50_231 { color: #d20; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c50_232 { color: #d52; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c50_233 { color: #d84; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c50_234 { color: #db6; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c50_235 { color: #de8; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c50_236 { color: #e1a; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c50_237 { color: #e4c; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c50_238 { color: #e7e; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c50_239 { color: #eb0; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c50_240 { color: #ee2; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c50_241 { color: #f14; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c50_242 { color: #f46; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c50_243 { color: #f78; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c50_244 { color: #faa; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c50_245 { color: #fdc; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c50_246 { color: #00f; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c50_247 { color: #041; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c50_248 { color: #073; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c50_249 { color: #0a5; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c50_250 { color: #0d7; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c50_251 { color: #109; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c50_252 { color: #13b; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c50_253 { color: #16d; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c50_254 { color: #19f; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c50_255 { color: #1d1; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c50_256 { color: #203; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c50_257 { color: #235; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c50_258 { color: #267; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c50_259 { color: #299; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c50_260 { color: #2cb; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c50_261 { color: #2fd; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c50_262 { color: #32f; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c50_263 { color: #361; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c50_264 { color: #393; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c50_265 { color: #3c5; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c50_266 { color: #3f7; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c50_267 { color: #429; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c50_268 { color: #45b; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c50_269 { color: #48d; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c50_270 { color: #4bf; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c50_271 { color: #4f1; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c50_272 { color: #523; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c50_273 { color: #555; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c50_274 { color: #587; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c50_275 { color: #5b9; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c50_276 { color: #5eb; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c50_277 { color: #61d; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c50_278 { color: #64f; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c50_279 { color: #681; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c50_280 { color: #6b3; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c50_281 { color: #6e5; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c50_282 { color: #717; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c50_283 { color: #749; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c50_284 { color: #77b; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c50_285 { color: #7ad; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c50_286 { color: #7df; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c50_287 { color: #811; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c50_288 { color: #843; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c50_289 { color: #875; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c50_290 { color: #8a7; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c50_291 { color: #8d9; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c50_292 { color: #90b; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c50_293 { color: #93d; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c50_294 { color: #96f; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c50_295 { color: #9a1; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c50_296 { color: #9d3; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c50_297 { color: #a05; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c50_298 { color: #a37; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c50_299 { color: #a69; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c50_300 { color: #a9b; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c50_301 { color: #acd; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c50_302 { color: #aff; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c50_303 { color: #b31; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c50_304 { color: #b63; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c50_305 { color: #b95; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c50_306 { color: #bc7; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c50_307 { color: #bf9; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c50_308 { color: #c2b; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c50_309 { color: #c5d; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c50_310 { color: #c8f; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c50_311 { color: #cc1; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c50_312 { color: #cf3; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c50_313 { color: #d25; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c50_314 { color: #d57; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c50_315 { color: #d89; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c50_316 { color: #dbb; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c50_317 { color: #ded; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c50_318 { color: #e1f; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c50_319 { color: #e51; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c50_320 { color: #e83; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c50_321 { color: #eb5; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c50_322 { color: #ee7; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c50_323 { color: #f19; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c50_324 { color: #f4b; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c50_325 { color: #f7d; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c50_326 { color: #faf; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c50_327 { color: #fe1; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c50_328 { color: #014; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c50_329 { color: #046; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c50_330 { color: #078; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c50_331 { color: #0aa; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c50_332 { color: #0dc; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c50_333 { color: #10e; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c50_334 { color: #140; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c50_335 { color: #172; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c50_336 { color: #1a4; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c50_337 { color: #1d6; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c50_338 { color: #208; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c50_339 { color: #23a; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c50_340 { color: #26c; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c50_341 { color: #29e; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c50_342 { color: #2d0; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c50_343 { color: #302; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c50_344 { color: #334; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c50_345 { color: #366; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c50_346 { color: #398; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c50_347 { color: #3ca; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c50_348 { color: #3fc; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c50_349 { color: #42e; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c50_350 { color: #460; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c50_351 { color: #492; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c50_352 { color: #4c4; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c50_353 { color: #4f6; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c50_354 { color: #528; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c50_355 { color: #55a; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c50_356 { color: #58c; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c50_357 { color: #5be; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c50_358 { color: #5f0; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c50_359 { color: #622; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c50_360 { color: #654; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c50_361 { color: #686; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c50_362 { color: #6b8; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c50_363 { color: #6ea; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c50_364 { color: #71c; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c50_365 { color: #74e; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c50_366 { color: #780; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c50_367 { color: #7b2; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c50_368 { color: #7e4; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c50_369 { color: #816; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c50_370 { color: #848; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c50_371 { color: #87a; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c50_372 { color: #8ac; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c50_373 { color: #8de; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c50_374 { color: #910; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c50_375 { color: #942; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c50_376 { color: #974; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c50_377 { color: #9a6; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c50_378 { color: #9d8; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c50_379 { color: #a0a; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c50_380 { color: #a3c; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c50_381 { color: #a6e; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c50_382 { color: #aa0; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c50_383 { color: #ad2; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c50_384 { color: #b04; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c50_385 { color: #b36; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c50_386 { color: #b68; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c50_387 { color: #b9a; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c50_388 { color: #bcc; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c50_389 { color: #bfe; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c50_390 { color: #c30; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c50_391 { color: #c62; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c50_392 { color: #c94; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c50_393 { color: #cc6; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c50_394 { color: #cf8; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c50_395 { color: #d2a; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c50_396 { color: #d5c; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c50_397 { color: #d8e; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c50_398 { color: #dc0; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c50_399 { color: #df2; margin: 19px; padding: 9px; border: 1px solid #ccc; }