.c57_0 { color: #000; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c57_1 { color: #039; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c57_2 { color: #072; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c57_3 { color: #0ab; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c57_4 { color: #0e4; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c57_5 { color: #11d; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c57_6 { color: #156; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c57_7 { color: #18f; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c57_8 { color: #1c8; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c57_9 { color: #201; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c57_10 { color: #23a; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c57_11 { color: #273; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c57_12 { color: #2ac; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c57_13 { color: #2e5; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c57_14 { color: #31e; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c57_15 { color: #357; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c57_16 { color: #390; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c57_17 { color: #3c9; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c57_18 { color: #402; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c57_19 { color: #43b; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c57_20 { color: #474; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c57_21 { color: #4ad; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c57_22 { color: #4e6; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c57_23 { color: #51f; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c57_24 { color: #558; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c57_25 { color: #591; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c57_26 { color: #5ca; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c57_27 { color: #603; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c57_28 { color: #63c; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c57_29 { color: #675; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c57_30 { color: #6ae; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c57_31 { color: #6e7; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c57_32 { color: #720; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c57_33 { color: #759; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c57_34 { color: #792; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c57_35 { color: #7cb; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c57_36 { color: #804; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c57_37 { color: #83d; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c57_38 { color: #876; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c57_39 { color: #8af; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c57_40 { color: #8e8; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c57_41 { color: #921; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c57_42 { color: #95a; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c57_43 { color: #993; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c57_44 { color: #9cc; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c57_45 { color: #a05; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c57_46 { color: #a3e; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c57_47 { color: #a77; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c57_48 { color: #ab0; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c57_49 { color: #ae9; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c57_50 { color: #b22; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c57_51 { color: #b5b; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c57_52 { color: #b94; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c57_53 { color: #bcd; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c57_54 { color: #c06; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c57_55 { color: #c3f; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c57_56 { color: #c78; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c57_57 { color: #cb1; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c57_58 { color: #cea; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c57_59 { color: #d23; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c57_60 { color: #d5c; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c57_61 { color: #d95; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c57_62 { color: #dce; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c57_63 { color: #e07; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c57_64 { color: #e40; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c57_65 { color: #e79; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c57_66 { color: #eb2; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c57_67 { color: #eeb; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c57_68 { color: #f24; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c57_69 { color: #f5d; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c57_70 { color: #f96; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c57_71 { color: #fcf; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c57_72 { color: #009; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c57_73 { color: #042; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c57_74 { color: #07b; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c57_75 { color: #0b4; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c57_76 { color: #0ed; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c57_77 { color: #126; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c57_78 { color: #15f; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c57_79 { color: #198; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c57_80 { color: #1d1; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c57_81 { color: #20a; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c57_82 { color: #243; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c57_83 { color: #27c; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c57_84 { color: #2b5; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c57_85 { color: #2ee; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c57_86 { color: #327; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c57_87 { color: #360; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c57_88 { color: #399; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c57_89 { color: #3d2; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c57_90 { color: #40b; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c57_91 { color: #444; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c57_92 { color: #47d; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c57_93 { color: #4b6; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c57_94 { color: #4ef; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c57_95 { color: #528; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c57_96 { color: #561; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c57_97 { color: #59a; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c57_98 { color: #5d3; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c57_99 { color: #60c; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c57_100 { color: #645; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c57_101 { color: #67e; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c57_102 { color: #6b7; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c57_103 { color: #6f0; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c57_104 { color: #729; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c57_105 { color: #762; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c57_106 { color: #79b; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c57_107 { color: #7d4; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c57_108 { color: #80d; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c57_109 { color: #846; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c57_110 { color: #87f; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c57_111 { color: #8b8; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c57_112 { color: #8f1; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c57_113 { color: #92a; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c57_114 { color: #963; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c57_115 { color: #99c; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c57_116 { color: #9d5; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c57_117 { color: #a0e; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c57_118 { color: #a47; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c57_119 { color: #a80; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c57_120 { color: #ab9; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c57_121 { color: #af2; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c57_122 { color: #b2b; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c57_123 { color: #b64; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c57_124 { color: #b9d; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c57_125 { color: #bd6; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c57_126 { color: #c0f; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c57_127 { color: #c48; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c57_128 { color: #c81; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c57_129 { color: #cba; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c57_130 { color: #cf3; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c57_131 { color: #d2c; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c57_132 { color: #d65; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c57_133 { color: #d9e; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c57_134 { color: #dd7; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c57_135 { color: #e10; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c57_136 { color: #e49; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c57_137 { color: #e82; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c57_138 { color: #ebb; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c57_139 { color: #ef4; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c57_140 { color: #f2d; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c57_141 { color: #f66; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c57_142 { color: #f9f; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c57_143 { color: #fd8; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c57_144 { color: #012; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c57_145 { color: #04b; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c57_146 { color: #084; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c57_147 { color: #0bd; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c57_148 { color: #0f6; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c57_149 { color: #12f; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c57_150 { color: #168; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c57_151 { color: #1a1; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c57_152 { color: #1da; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c57_153 { color: #213; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c57_154 { color: #24c; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c57_155 { color: #285; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c57_156 { color: #2be; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c57_157 { color: #2f7; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c57_158 { color: #330; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c57_159 { color: #369; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c57_160 { color: #3a2; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c57_161 { color: #3db; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c57_162 { color: #414; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c57_163 { color: #44d; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c57_164 { color: #486; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c57_165 { color: #4bf; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c57_166 { color: #4f8; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c57_167 { color: #531; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c57_168 { color: #56a; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c57_169 { color: #5a3; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c57_170 { color: #5dc; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c57_171 { color: #615; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c57_172 { color: #64e; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c57_173 { color: #687; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c57_174 { color: #6c0; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c57_175 { color: #6f9; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c57_176 { color: #732; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c57_177 { color: #76b; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c57_178 { color: #7a4; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c57_179 { color: #7dd; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c57_180 { color: #816; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c57_181 { color: #84f; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c57_182 { color: #888; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c57_183 { color: #8c1; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c57_184 { color: #8fa; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c57_185 { color: #933; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c57_186 { color: #96c; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c57_187 { color: #9a5; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c57_188 { color: #9de; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c57_189 { color: #a17; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c57_190 { color: #a50; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c57_191 { color: #a89; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c57_192 { color: #ac2; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c57_193 { color: #afb; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c57_194 { color: #b34; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c57_195 { color: #b6d; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c57_196 { color: #ba6; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c57_197 { color: #bdf; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c57_198 { color: #c18; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c57_199 { color: #c51; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c57_200 { color: #c8a; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c57_201 { color: #cc3; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c57_202 { color: #cfc; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c57_203 { color: #d35; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c57_204 { color: #d6e; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c57_205 { color: #da7; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c57_206 { color: #de0; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c57_207 { color: #e19; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c57_208 { color: #e52; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c57_209 { color: #e8b; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c57_210 { color: #ec4; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c57_211 { color: #efd; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c57_212 { color: #f36; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c57_213 { color: #f6f; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c57_214 { color: #fa8; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c57_215 { color: #fe1; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c57_216 { color: #01b; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c57_217 { color: #054; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c57_218 { color: #08d; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c57_219 { color: #0c6; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c57_220 { color: #0ff; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c57_221 { color: #138; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c57_222 { color: #171; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c57_223 { color: #1aa; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c57_224 { color: #1e3; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c57_225 { color: #21c; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c57_226 { color: #255; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c57_227 { color: #28e; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c57_228 { color: #2c7; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c57_229 { color: #300; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c57_230 { color: #339; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c57_231 { color: #372; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c57_232 { color: #3ab; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c57_233 { color: #3e4; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c57_234 { color: #41d; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c57_235 { color: #456; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c57_236 { color: #48f; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c57_237 { color: #4c8; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c57_238 { color: #501; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c57_239 { color: #53a; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c57_240 { color: #573; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c57_241 { color: #5ac; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c57_242 { color: #5e5; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c57_243 { color: #61e; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c57_244 { color: #657; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c57_245 { color: #690; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c57_246 { color: #6c9; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c57_247 { color: #702; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c57_248 { color: #73b; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c57_249 { color: #774; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c57_250 { color: #7ad; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c57_251 { color: #7e6; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c57_252 { color: #81f; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c57_253 { color: #858; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c57_254 { color: #891; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c57_255 { color: #8ca; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c57_256 { color: #903; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c57_257 { color: #93c; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c57_258 { color: #975; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c57_259 { color: #9ae; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c57_260 { color: #9e7; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c57_261 { color: #a20; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c57_262 { color: #a59; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c57_263 { color: #a92; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c57_264 { color: #acb; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c57_265 { color: #b04; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c57_266 { color: #b3d; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c57_267 { color: #b76; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c57_268 { color: #baf; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c57_269 { color: #be8; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c57_270 { color: #c21; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c57_271 { color: #c5a; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c57_272 { color: #c93; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c57_273 { color: #ccc; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c57_274 { color: #d05; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c57_275 { color: #d3e; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c57_276 { color: #d77; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c57_277 { color: #db0; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c57_278 { color: #de9; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c57_279 { color: #e22; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c57_280 { color: #e5b; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c57_281 { color: #e94; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c57_282 { color: #ecd; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c57_283 { color: #f06; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c57_284 { color: #f3f; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c57_285 { color: #f78; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c57_286 { color: #fb1; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c57_287 { color: #fea; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c57_288 { color: #024; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c57_289 { color: #05d; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c57_290 { color: #096; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c57_291 { color: #0cf; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c57_292 { color: #108; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c57_293 { color: #141; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c57_294 { color: #17a; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c57_295 { color: #1b3; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c57_296 { color: #1ec; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c57_297 { color: #225; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c57_298 { color: #25e; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c57_299 { color: #297; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c57_300 { color: #2d0; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c57_301 { color: #309; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c57_302 { color: #342; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c57_303 { color: #37b; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c57_304 { color: #3b4; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c57_305 { color: #3ed; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c57_306 { color: #426; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c57_307 { color: #45f; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c57_308 { color: #498; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c57_309 { color: #4d1; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c57_310 { color: #50a; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c57_311 { color: #543; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c57_312 { color: #57c; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c57_313 { color: #5b5; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c57_314 { color: #5ee; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c57_315 { color: #627; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c57_316 { color: #660; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c57_317 { color: #699; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c57_318 { color: #6d2; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c57_319 { color: #70b; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c57_320 { color: #744; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c57_321 { color: #77d; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c57_322 { color: #7b6; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c57_323 { color: #7ef; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c57_324 { color: #828; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c57_325 { color: #861; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c57_326 { color: #89a; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c57_327 { color: #8d3; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c57_328 { color: #90c; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c57_329 { color: #945; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c57_330 { color: #97e; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c57_331 { color: #9b7; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c57_332 { color: #9f0; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c57_333 { color: #a29; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c57_334 { color: #a62; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c57_335 { color: #a9b; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c57_336 { color: #ad4; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c57_337 { color: #b0d; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c57_338 { color: #b46; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c57_339 { color: #b7f; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c57_340 { color: #bb8; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c57_341 { color: #bf1; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c57_342 { color: #c2a; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c57_343 { color: #c63; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c57_344 { color: #c9c; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c57_345 { color: #cd5; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c57_346 { color: #d0e; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c57_347 { color: #d47; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c57_348 { color: #d80; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c57_349 { color: #db9; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c57_350 { color: #df2; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c57_351 { color: #e2b; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c57_352 { color: #e64; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c57_353 { color: #e9d; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c57_354 { color: #ed6; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c57_355 { color: #f0f; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c57_356 { color: #f48; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c57_357 { color: #f81; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c57_358 { color: #fba; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c57_359 { color: #ff3; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c57_360 { color: #02d; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c57_361 { color: #066; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c57_362 { color: #09f; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c57_363 { color: #0d8; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c57_364 { color: #111; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c57_365 { color: #14a; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c57_366 { color: #183; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c57_367 { color: #1bc; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c57_368 { color: #1f5; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c57_369 { color: #22e; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c57_370 { color: #267; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c57_371 { color: #2a0; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c57_372 { color: #2d9; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c57_373 { color: #312; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c57_374 { color: #34b; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c57_375 { color: #384; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c57_376 { color: #3bd; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c57_377 { color: #3f6; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c57_378 { color: #42f; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c57_379 { color: #468; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c57_380 { color: #4a1; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c57_381 { color: #4da; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c57_382 { color: #513; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c57_383 { color: #54c; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c57_384 { color: #585; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c57_385 { color: #5be; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c57_386 { color: #5f7; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c57_387 { color: #630; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c57_388 { color: #669; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c57_389 { color: #6a2; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c57_390 { color: #6db; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c57_391 { color: #714; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c57_392 { color: #74d; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c57_393 { color: #786; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c57_394 { color: #7bf; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c57_395 { color: #7f8; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c57_396 { color: #831; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c57_397 { color: #86a; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c57_398 { color: #8a3; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c57_399 { color: #8dc; margin: 19px; padding: 9px; border: 1px solid #ccc; }