.c60_0 { color: #000; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c60_1 { color: #03c; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c60_2 { color: #078; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c60_3 { color: #0b4; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c60_4 { color: #0f0; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c60_5 { color: #12c; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c60_6 { color: #168; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c60_7 { color: #1a4; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c60_8 { color: #1e0; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c60_9 { color: #21c; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c60_10 { color: #258; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c60_11 { color: #294; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c60_12 { color: #2d0; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c60_13 { color: #30c; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c60_14 { color: #348; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c60_15 { color: #384; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c60_16 { color: #3c0; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c60_17 { color: #3fc; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c60_18 { color: #438; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c60_19 { color: #474; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c60_20 { color: #4b0; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c60_21 { color: #4ec; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c60_22 { color: #528; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c60_23 { color: #564; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c60_24 { color: #5a0; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c60_25 { color: #5dc; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c60_26 { color: #618; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c60_27 { color: #654; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c60_28 { color: #690; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c60_29 { color: #6cc; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c60_30 { color: #708; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c60_31 { color: #744; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c60_32 { color: #780; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c60_33 { color: #7bc; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c60_34 { color: #7f8; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c60_35 { color: #834; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c60_36 { color: #870; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c60_37 { color: #8ac; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c60_38 { color: #8e8; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c60_39 { color: #924; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c60_40 { color: #960; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c60_41 { color: #99c; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c60_42 { color: #9d8; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c60_43 { color: #a14; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c60_44 { color: #a50; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c60_45 { color: #a8c; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c60_46 { color: #ac8; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c60_47 { color: #b04; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c60_48 { color: #b40; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c60_49 { color: #b7c; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c60_50 { color: #bb8; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c60_51 { color: #bf4; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c60_52 { color: #c30; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c60_53 { color: #c6c; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c60_54 { color: #ca8; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c60_55 { color: #ce4; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c60_56 { color: #d20; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c60_57 { color: #d5c; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c60_58 { color: #d98; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c60_59 { color: #dd4; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c60_60 { color: #e10; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c60_61 { color: #e4c; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c60_62 { color: #e88; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c60_63 { color: #ec4; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c60_64 { color: #f00; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c60_65 { color: #f3c; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c60_66 { color: #f78; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c60_67 { color: #fb4; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c60_68 { color: #ff0; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c60_69 { color: #02d; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c60_70 { color: #069; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c60_71 { color: #0a5; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c60_72 { color: #0e1; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c60_73 { color: #11d; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c60_74 { color: #159; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c60_75 { color: #195; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c60_76 { color: #1d1; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c60_77 { color: #20d; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c60_78 { color: #249; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c60_79 { color: #285; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c60_80 { color: #2c1; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c60_81 { color: #2fd; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c60_82 { color: #339; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c60_83 { color: #375; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c60_84 { color: #3b1; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c60_85 { color: #3ed; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c60_86 { color: #429; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c60_87 { color: #465; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c60_88 { color: #4a1; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c60_89 { color: #4dd; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c60_90 { color: #519; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c60_91 { color: #555; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c60_92 { color: #591; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c60_93 { color: #5cd; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c60_94 { color: #609; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c60_95 { color: #645; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c60_96 { color: #681; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c60_97 { color: #6bd; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c60_98 { color: #6f9; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c60_99 { color: #735; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c60_100 { color: #771; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c60_101 { color: #7ad; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c60_102 { color: #7e9; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c60_103 { color: #825; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c60_104 { color: #861; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c60_105 { color: #89d; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c60_106 { color: #8d9; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c60_107 { color: #915; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c60_108 { color: #951; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c60_109 { color: #98d; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c60_110 { color: #9c9; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c60_111 { color: #a05; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c60_112 { color: #a41; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c60_113 { color: #a7d; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c60_114 { color: #ab9; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c60_115 { color: #af5; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c60_116 { color: #b31; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c60_117 { color: #b6d; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c60_118 { color: #ba9; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c60_119 { color: #be5; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c60_120 { color: #c21; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c60_121 { color: #c5d; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c60_122 { color: #c99; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c60_123 { color: #cd5; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c60_124 { color: #d11; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c60_125 { color: #d4d; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c60_126 { color: #d89; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c60_127 { color: #dc5; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c60_128 { color: #e01; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c60_129 { color: #e3d; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c60_130 { color: #e79; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c60_131 { color: #eb5; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c60_132 { color: #ef1; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c60_133 { color: #f2d; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c60_134 { color: #f69; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c60_135 { color: #fa5; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c60_136 { color: #fe1; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c60_137 { color: #01e; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c60_138 { color: #05a; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c60_139 { color: #096; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c60_140 { color: #0d2; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c60_141 { color: #10e; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c60_142 { color: #14a; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c60_143 { color: #186; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c60_144 { color: #1c2; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c60_145 { color: #1fe; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c60_146 { color: #23a; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c60_147 { color: #276; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c60_148 { color: #2b2; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c60_149 { color: #2ee; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c60_150 { color: #32a; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c60_151 { color: #366; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c60_152 { color: #3a2; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c60_153 { color: #3de; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c60_154 { color: #41a; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c60_155 { color: #456; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c60_156 { color: #492; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c60_157 { color: #4ce; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c60_158 { color: #50a; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c60_159 { color: #546; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c60_160 { color: #582; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c60_161 { color: #5be; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c60_162 { color: #5fa; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c60_163 { color: #636; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c60_164 { color: #672; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c60_165 { color: #6ae; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c60_166 { color: #6ea; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c60_167 { color: #726; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c60_168 { color: #762; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c60_169 { color: #79e; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c60_170 { color: #7da; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c60_171 { color: #816; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c60_172 { color: #852; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c60_173 { color: #88e; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c60_174 { color: #8ca; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c60_175 { color: #906; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c60_176 { color: #942; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c60_177 { color: #97e; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c60_178 { color: #9ba; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c60_179 { color: #9f6; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c60_180 { color: #a32; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c60_181 { color: #a6e; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c60_182 { color: #aaa; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c60_183 { color: #ae6; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c60_184 { color: #b22; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c60_185 { color: #b5e; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c60_186 { color: #b9a; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c60_187 { color: #bd6; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c60_188 { color: #c12; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c60_189 { color: #c4e; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c60_190 { color: #c8a; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c60_191 { color: #cc6; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c60_192 { color: #d02; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c60_193 { color: #d3e; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c60_194 { color: #d7a; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c60_195 { color: #db6; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c60_196 { color: #df2; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c60_197 { color: #e2e; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c60_198 { color: #e6a; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c60_199 { color: #ea6; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c60_200 { color: #ee2; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c60_201 { color: #f1e; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c60_202 { color: #f5a; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c60_203 { color: #f96; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c60_204 { color: #fd2; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c60_205 { color: #00f; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c60_206 { color: #04b; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c60_207 { color: #087; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c60_208 { color: #0c3; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c60_209 { color: #0ff; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c60_210 { color: #13b; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c60_211 { color: #177; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c60_212 { color: #1b3; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c60_213 { color: #1ef; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c60_214 { color: #22b; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c60_215 { color: #267; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c60_216 { color: #2a3; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c60_217 { color: #2df; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c60_218 { color: #31b; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c60_219 { color: #357; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c60_220 { color: #393; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c60_221 { color: #3cf; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c60_222 { color: #40b; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c60_223 { color: #447; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c60_224 { color: #483; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c60_225 { color: #4bf; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c60_226 { color: #4fb; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c60_227 { color: #537; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c60_228 { color: #573; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c60_229 { color: #5af; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c60_230 { color: #5eb; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c60_231 { color: #627; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c60_232 { color: #663; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c60_233 { color: #69f; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c60_234 { color: #6db; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c60_235 { color: #717; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c60_236 { color: #753; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c60_237 { color: #78f; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c60_238 { color: #7cb; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c60_239 { color: #807; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c60_240 { color: #843; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c60_241 { color: #87f; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c60_242 { color: #8bb; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c60_243 { color: #8f7; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c60_244 { color: #933; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c60_245 { color: #96f; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c60_246 { color: #9ab; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c60_247 { color: #9e7; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c60_248 { color: #a23; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c60_249 { color: #a5f; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c60_250 { color: #a9b; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c60_251 { color: #ad7; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c60_252 { color: #b13; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c60_253 { color: #b4f; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c60_254 { color: #b8b; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c60_255 { color: #bc7; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c60_256 { color: #c03; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c60_257 { color: #c3f; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c60_258 { color: #c7b; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c60_259 { color: #cb7; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c60_260 { color: #cf3; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c60_261 { color: #d2f; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c60_262 { color: #d6b; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c60_263 { color: #da7; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c60_264 { color: #de3; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c60_265 { color: #e1f; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c60_266 { color: #e5b; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c60_267 { color: #e97; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c60_268 { color: #ed3; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c60_269 { color: #f0f; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c60_270 { color: #f4b; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c60_271 { color: #f87; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c60_272 { color: #fc3; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c60_273 { color: #000; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c60_274 { color: #03c; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c60_275 { color: #078; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c60_276 { color: #0b4; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c60_277 { color: #0f0; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c60_278 { color: #12c; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c60_279 { color: #168; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c60_280 { color: #1a4; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c60_281 { color: #1e0; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c60_282 { color: #21c; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c60_283 { color: #258; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c60_284 { color: #294; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c60_285 { color: #2d0; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c60_286 { color: #30c; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c60_287 { color: #348; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c60_288 { color: #384; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c60_289 { color: #3c0; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c60_290 { color: #3fc; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c60_291 { color: #438; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c60_292 { color: #474; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c60_293 { color: #4b0; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c60_294 { color: #4ec; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c60_295 { color: #528; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c60_296 { color: #564; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c60_297 { color: #5a0; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c60_298 { color: #5dc; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c60_299 { color: #618; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c60_300 { color: #654; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c60_301 { color: #690; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c60_302 { color: #6cc; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c60_303 { color: #708; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c60_304 { color: #744; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c60_305 { color: #780; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c60_306 { color: #7bc; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c60_307 { color: #7f8; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c60_308 { color: #834; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c60_309 { color: #870; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c60_310 { color: #8ac; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c60_311 { color: #8e8; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c60_312 { color: #924; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c60_313 { color: #960; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c60_314 { color: #99c; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c60_315 { color: #9d8; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c60_316 { color: #a14; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c60_317 { color: #a50; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c60_318 { color: #a8c; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c60_319 { color: #ac8; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c60_320 { color: #b04; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c60_321 { color: #b40; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c60_322 { color: #b7c; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c60_323 { color: #bb8; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c60_324 { color: #bf4; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c60_325 { color: #c30; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c60_326 { color: #c6c; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c60_327 { color: #ca8; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c60_328 { color: #ce4; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c60_329 { color: #d20; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c60_330 { color: #d5c; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c60_331 { color: #d98; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c60_332 { color: #dd4; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c60_333 { color: #e10; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c60_334 { color: #e4c; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c60_335 { color: #e88; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c60_336 { color: #ec4; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c60_337 { color: #f00; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c60_338 { color: #f3c; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c60_339 { color: #f78; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c60_340 { color: #fb4; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c60_341 { color: #ff0; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c60_342 { color: #02d; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c60_343 { color: #069; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c60_344 { color: #0a5; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c60_345 { color: #0e1; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c60_346 { color: #11d; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c60_347 { color: #159; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c60_348 { color: #195; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c60_349 { color: #1d1; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c60_350 { color: #20d; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c60_351 { color: #249; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c60_352 { color: #285; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c60_353 { color: #2c1; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c60_354 { color: #2fd; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c60_355 { color: #339; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c60_356 { color: #375; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c60_357 { color: #3b1; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c60_358 { color: #3ed; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c60_359 { color: #429; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c60_360 { color: #465; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c60_361 { color: #4a1; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c60_362 { color: #4dd; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c60_363 { color: #519; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c60_364 { color: #555; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c60_365 { color: #591; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c60_366 { color: #5cd; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c60_367 { color: #609; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c60_368 { color: #645; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c60_369 { color: #681; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c60_370 { color: #6bd; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c60_371 { color: #6f9; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c60_372 { color: #735; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c60_373 { color: #771; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c60_374 { color: #7ad; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c60_375 { color: #7e9; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c60_376 { color: #825; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c60_377 { color: #861; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c60_378 { color: #89d; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c60_379 { color: #8d9; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c60_380 { color: #915; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c60_381 { color: #951; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c60_382 { color: #98d; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c60_383 { color: #9c9; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c60_384 { color: #a05; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c60_385 { color: #a41; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c60_386 { color: #a7d; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c60_387 { color: #ab9; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c60_388 { color: #af5; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c60_389 { color: #b31; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c60_390 { color: #b6d; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c60_391 { color: #ba9; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c60_392 { color: #be5; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c60_393 { color: #c21; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c60_394 { color: #c5d; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c60_395 { color: #c99; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c60_396 { color: #cd5; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c60_397 { color: #d11; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c60_398 { color: #d4d; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c60_399 { color: #d89; margin: 19px; padding: 9px; border: 1px solid #ccc; }