.c64_0 { color: #000; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c64_1 { color: #040; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c64_2 { color: #080; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c64_3 { color: #0c0; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c64_4 { color: #100; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c64_5 { color: #140; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c64_6 { color: #180; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c64_7 { color: #1c0; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c64_8 { color: #200; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c64_9 { color: #240; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c64_10 { color: #280; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c64_11 { color: #2c0; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c64_12 { color: #300; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c64_13 { color: #340; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c64_14 { color: #380; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c64_15 { color: #3c0; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c64_16 { color: #400; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c64_17 { color: #440; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c64_18 { color: #480; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c64_19 { color: #4c0; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c64_20 { color: #500; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c64_21 { color: #540; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c64_22 { color: #580; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c64_23 { color: #5c0; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c64_24 { color: #600; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c64_25 { color: #640; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c64_26 { color: #680; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c64_27 { color: #6c0; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c64_28 { color: #700; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c64_29 { color: #740; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c64_30 { color: #780; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c64_31 { color: #7c0; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c64_32 { color: #800; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c64_33 { color: #840; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c64_34 { color: #880; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c64_35 { color: #8c0; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c64_36 { color: #900; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c64_37 { color: #940; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c64_38 { color: #980; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c64_39 { color: #9c0; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c64_40 { color: #a00; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c64_41 { color: #a40; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c64_42 { color: #a80; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c64_43 { color: #ac0; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c64_44 { color: #b00; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c64_45 { color: #b40; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c64_46 { color: #b80; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c64_47 { color: #bc0; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c64_48 { color: #c00; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c64_49 { color: #c40; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c64_50 { color: #c80; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c64_51 { color: #cc0; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c64_52 { color: #d00; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c64_53 { color: #d40; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c64_54 { color: #d80; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c64_55 { color: #dc0; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c64_56 { color: #e00; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c64_57 { color: #e40; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c64_58 { color: #e80; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c64_59 { color: #ec0; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c64_60 { color: #f00; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c64_61 { color: #f40; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c64_62 { color: #f80; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c64_63 { color: #fc0; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c64_64 { color: #001; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c64_65 { color: #041; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c64_66 { color: #081; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c64_67 { color: #0c1; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c64_68 { color: #101; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c64_69 { color: #141; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c64_70 { color: #181; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c64_71 { color: #1c1; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c64_72 { color: #201; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c64_73 { color: #241; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c64_74 { color: #281; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c64_75 { color: #2c1; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c64_76 { color: #301; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c64_77 { color: #341; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c64_78 { color: #381; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c64_79 { color: #3c1; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c64_80 { color: #401; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c64_81 { color: #441; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c64_82 { color: #481; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c64_83 { color: #4c1; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c64_84 { color: #501; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c64_85 { color: #541; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c64_86 { color: #581; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c64_87 { color: #5c1; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c64_88 { color: #601; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c64_89 { color: #641; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c64_90 { color: #681; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c64_91 { color: #6c1; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c64_92 { color: #701; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c64_93 { color: #741; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c64_94 { color: #781; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c64_95 { color: #7c1; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c64_96 { color: #801; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c64_97 { color: #841; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c64_98 { color: #881; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c64_99 { color: #8c1; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c64_100 { color: #901; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c64_101 { color: #941; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c64_102 { color: #981; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c64_103 { color: #9c1; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c64_104 { color: #a01; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c64_105 { color: #a41; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c64_106 { color: #a81; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c64_107 { color: #ac1; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c64_108 { color: #b01; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c64_109 { color: #b41; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c64_110 { color: #b81; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c64_111 { color: #bc1; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c64_112 { color: #c01; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c64_113 { color: #c41; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c64_114 { color: #c81; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c64_115 { color: #cc1; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c64_116 { color: #d01; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c64_117 { color: #d41; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c64_118 { color: #d81; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c64_119 { color: #dc1; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c64_120 { color: #e01; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c64_121 { color: #e41; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c64_122 { color: #e81; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c64_123 { color: #ec1; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c64_124 { color: #f01; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c64_125 { color: #f41; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c64_126 { color: #f81; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c64_127 { color: #fc1; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c64_128 { color: #002; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c64_129 { color: #042; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c64_130 { color: #082; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c64_131 { color: #0c2; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c64_132 { color: #102; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c64_133 { color: #142; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c64_134 { color: #182; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c64_135 { color: #1c2; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c64_136 { color: #202; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c64_137 { color: #242; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c64_138 { color: #282; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c64_139 { color: #2c2; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c64_140 { color: #302; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c64_141 { color: #342; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c64_142 { color: #382; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c64_143 { color: #3c2; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c64_144 { color: #402; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c64_145 { color: #442; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c64_146 { color: #482; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c64_147 { color: #4c2; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c64_148 { color: #502; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c64_149 { color: #542; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c64_150 { color: #582; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c64_151 { color: #5c2; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c64_152 { color: #602; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c64_153 { color: #642; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c64_154 { color: #682; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c64_155 { color: #6c2; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c64_156 { color: #702; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c64_157 { color: #742; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c64_158 { color: #782; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c64_159 { color: #7c2; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c64_160 { color: #802; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c64_161 { color: #842; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c64_162 { color: #882; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c64_163 { color: #8c2; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c64_164 { color: #902; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c64_165 { color: #942; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c64_166 { color: #982; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c64_167 { color: #9c2; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c64_168 { color: #a02; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c64_169 { color: #a42; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c64_170 { color: #a82; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c64_171 { color: #ac2; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c64_172 { color: #b02; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c64_173 { color: #b42; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c64_174 { color: #b82; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c64_175 { color: #bc2; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c64_176 { color: #c02; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c64_177 { color: #c42; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c64_178 { color: #c82; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c64_179 { color: #cc2; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c64_180 { color: #d02; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c64_181 { color: #d42; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c64_182 { color: #d82; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c64_183 { color: #dc2; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c64_184 { color: #e02; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c64_185 { color: #e42; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c64_186 { color: #e82; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c64_187 { color: #ec2; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c64_188 { color: #f02; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c64_189 { color: #f42; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c64_190 { color: #f82; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c64_191 { color: #fc2; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c64_192 { color: #003; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c64_193 { color: #043; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c64_194 { color: #083; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c64_195 { color: #0c3; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c64_196 { color: #103; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c64_197 { color: #143; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c64_198 { color: #183; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c64_199 { color: #1c3; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c64_200 { color: #203; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c64_201 { color: #243; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c64_202 { color: #283; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c64_203 { color: #2c3; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c64_204 { color: #303; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c64_205 { color: #343; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c64_206 { color: #383; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c64_207 { color: #3c3; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c64_208 { color: #403; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c64_209 { color: #443; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c64_210 { color: #483; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c64_211 { color: #4c3; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c64_212 { color: #503; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c64_213 { color: #543; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c64_214 { color: #583; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c64_215 { color: #5c3; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c64_216 { color: #603; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c64_217 { color: #643; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c64_218 { color: #683; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c64_219 { color: #6c3; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c64_220 { color: #703; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c64_221 { color: #743; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c64_222 { color: #783; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c64_223 { color: #7c3; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c64_224 { color: #803; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c64_225 { color: #843; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c64_226 { color: #883; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c64_227 { color: #8c3; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c64_228 { color: #903; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c64_229 { color: #943; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c64_230 { color: #983; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c64_231 { color: #9c3; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c64_232 { color: #a03; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c64_233 { color: #a43; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c64_234 { color: #a83; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c64_235 { color: #ac3; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c64_236 { color: #b03; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c64_237 { color: #b43; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c64_238 { color: #b83; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c64_239 { color: #bc3; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c64_240 { color: #c03; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c64_241 { color: #c43; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c64_242 { color: #c83; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c64_243 { color: #cc3; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c64_244 { color: #d03; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c64_245 { color: #d43; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c64_246 { color: #d83; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c64_247 { color: #dc3; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c64_248 { color: #e03; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c64_249 { color: #e43; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c64_250 { color: #e83; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c64_251 { color: #ec3; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c64_252 { color: #f03; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c64_253 { color: #f43; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c64_254 { color: #f83; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c64_255 { color: #fc3; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c64_256 { color: #004; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c64_257 { color: #044; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c64_258 { color: #084; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c64_259 { color: #0c4; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c64_260 { color: #104; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c64_261 { color: #144; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c64_262 { color: #184; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c64_263 { color: #1c4; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c64_264 { color: #204; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c64_265 { color: #244; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c64_266 { color: #284; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c64_267 { color: #2c4; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c64_268 { color: #304; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c64_269 { color: #344; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c64_270 { color: #384; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c64_271 { color: #3c4; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c64_272 { color: #404; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c64_273 { color: #444; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c64_274 { color: #484; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c64_275 { color: #4c4; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c64_276 { color: #504; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c64_277 { color: #544; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c64_278 { color: #584; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c64_279 { color: #5c4; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c64_280 { color: #604; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c64_281 { color: #644; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c64_282 { color: #684; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c64_283 { color: #6c4; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c64_284 { color: #704; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c64_285 { color: #744; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c64_286 { color: #784; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c64_287 { color: #7c4; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c64_288 { color: #804; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c64_289 { color: #844; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c64_290 { color: #884; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c64_291 { color: #8c4; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c64_292 { color: #904; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c64_293 { color: #944; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c64_294 { color: #984; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c64_295 { color: #9c4; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c64_296 { color: #a04; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c64_297 { color: #a44; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c64_298 { color: #a84; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c64_299 { color: #ac4; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c64_300 { color: #b04; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c64_301 { color: #b44; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c64_302 { color: #b84; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c64_303 { color: #bc4; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c64_304 { color: #c04; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c64_305 { color: #c44; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c64_306 { color: #c84; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c64_307 { color: #cc4; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c64_308 { color: #d04; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c64_309 { color: #d44; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c64_310 { color: #d84; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c64_311 { color: #dc4; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c64_312 { color: #e04; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c64_313 { color: #e44; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c64_314 { color: #e84; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c64_315 { color: #ec4; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c64_316 { color: #f04; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c64_317 { color: #f44; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c64_318 { color: #f84; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c64_319 { color: #fc4; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c64_320 { color: #005; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c64_321 { color: #045; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c64_322 { color: #085; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c64_323 { color: #0c5; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c64_324 { color: #105; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c64_325 { color: #145; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c64_326 { color: #185; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c64_327 { color: #1c5; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c64_328 { color: #205; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c64_329 { color: #245; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c64_330 { color: #285; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c64_331 { color: #2c5; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c64_332 { color: #305; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c64_333 { color: #345; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c64_334 { color: #385; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c64_335 { color: #3c5; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c64_336 { color: #405; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c64_337 { color: #445; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c64_338 { color: #485; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c64_339 { color: #4c5; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c64_340 { color: #505; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c64_341 { color: #545; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c64_342 { color: #585; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c64_343 { color: #5c5; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c64_344 { color: #605; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c64_345 { color: #645; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c64_346 { color: #685; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c64_347 { color: #6c5; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c64_348 { color: #705; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c64_349 { color: #745; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c64_350 { color: #785; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c64_351 { color: #7c5; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c64_352 { color: #805; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c64_353 { color: #845; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c64_354 { color: #885; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c64_355 { color: #8c5; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c64_356 { color: #905; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c64_357 { color: #945; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c64_358 { color: #985; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c64_359 { color: #9c5; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c64_360 { color: #a05; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c64_361 { color: #a45; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c64_362 { color: #a85; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c64_363 { color: #ac5; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c64_364 { color: #b05; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c64_365 { color: #b45; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c64_366 { color: #b85; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c64_367 { color: #bc5; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c64_368 { color: #c05; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c64_369 { color: #c45; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c64_370 { color: #c85; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c64_371 { color: #cc5; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c64_372 { color: #d05; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c64_373 { color: #d45; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c64_374 { color: #d85; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c64_375 { color: #dc5; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c64_376 { color: #e05; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c64_377 { color: #e45; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c64_378 { color: #e85; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c64_379 { color: #ec5; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c64_380 { color: #f05; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c64_381 { color: #f45; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c64_382 { color: #f85; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c64_383 { color: #fc5; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c64_384 { color: #006; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c64_385 { color: #046; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c64_386 { color: #086; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c64_387 { color: #0c6; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c64_388 { color: #106; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c64_389 { color: #146; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c64_390 { color: #186; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c64_391 { color: #1c6; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c64_392 { color: #206; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c64_393 { color: #246; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c64_394 { color: #286; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c64_395 { color: #2c6; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c64_396 { color: #306; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c64_397 { color: #346; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c64_398 { color: #386; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c64_399 { color: #3c6; margin: 19px; padding: 9px; border: 1px solid #ccc; }