.c66_0 { color: #000; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c66_1 { color: #042; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c66_2 { color: #084; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c66_3 { color: #0c6; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c66_4 { color: #108; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c66_5 { color: #14a; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c66_6 { color: #18c; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c66_7 { color: #1ce; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c66_8 { color: #210; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c66_9 { color: #252; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c66_10 { color: #294; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c66_11 { color: #2d6; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c66_12 { color: #318; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c66_13 { color: #35a; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c66_14 { color: #39c; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c66_15 { color: #3de; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c66_16 { color: #420; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c66_17 { color: #462; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c66_18 { color: #4a4; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c66_19 { color: #4e6; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c66_20 { color: #528; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c66_21 { color: #56a; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c66_22 { color: #5ac; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c66_23 { color: #5ee; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c66_24 { color: #630; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c66_25 { color: #672; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c66_26 { color: #6b4; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c66_27 { color: #6f6; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c66_28 { color: #738; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c66_29 { color: #77a; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c66_30 { color: #7bc; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c66_31 { color: #7fe; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c66_32 { color: #840; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c66_33 { color: #882; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c66_34 { color: #8c4; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c66_35 { color: #906; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c66_36 { color: #948; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c66_37 { color: #98a; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c66_38 { color: #9cc; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c66_39 { color: #a0e; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c66_40 { color: #a50; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c66_41 { color: #a92; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c66_42 { color: #ad4; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c66_43 { color: #b16; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c66_44 { color: #b58; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c66_45 { color: #b9a; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c66_46 { color: #bdc; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c66_47 { color: #c1e; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c66_48 { color: #c60; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c66_49 { color: #ca2; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c66_50 { color: #ce4; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c66_51 { color: #d26; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c66_52 { color: #d68; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c66_53 { color: #daa; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c66_54 { color: #dec; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c66_55 { color: #e2e; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c66_56 { color: #e70; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c66_57 { color: #eb2; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c66_58 { color: #ef4; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c66_59 { color: #f36; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c66_60 { color: #f78; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c66_61 { color: #fba; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c66_62 { color: #ffc; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c66_63 { color: #03f; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c66_64 { color: #081; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c66_65 { color: #0c3; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c66_66 { color: #105; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c66_67 { color: #147; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c66_68 { color: #189; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c66_69 { color: #1cb; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c66_70 { color: #20d; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c66_71 { color: #24f; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c66_72 { color: #291; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c66_73 { color: #2d3; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c66_74 { color: #315; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c66_75 { color: #357; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c66_76 { color: #399; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c66_77 { color: #3db; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c66_78 { color: #41d; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c66_79 { color: #45f; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c66_80 { color: #4a1; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c66_81 { color: #4e3; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c66_82 { color: #525; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c66_83 { color: #567; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c66_84 { color: #5a9; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c66_85 { color: #5eb; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c66_86 { color: #62d; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c66_87 { color: #66f; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c66_88 { color: #6b1; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c66_89 { color: #6f3; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c66_90 { color: #735; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c66_91 { color: #777; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c66_92 { color: #7b9; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c66_93 { color: #7fb; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c66_94 { color: #83d; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c66_95 { color: #87f; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c66_96 { color: #8c1; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c66_97 { color: #903; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c66_98 { color: #945; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c66_99 { color: #987; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c66_100 { color: #9c9; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c66_101 { color: #a0b; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c66_102 { color: #a4d; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c66_103 { color: #a8f; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c66_104 { color: #ad1; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c66_105 { color: #b13; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c66_106 { color: #b55; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c66_107 { color: #b97; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c66_108 { color: #bd9; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c66_109 { color: #c1b; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c66_110 { color: #c5d; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c66_111 { color: #c9f; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c66_112 { color: #ce1; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c66_113 { color: #d23; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c66_114 { color: #d65; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c66_115 { color: #da7; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c66_116 { color: #de9; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c66_117 { color: #e2b; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c66_118 { color: #e6d; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c66_119 { color: #eaf; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c66_120 { color: #ef1; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c66_121 { color: #f33; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c66_122 { color: #f75; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c66_123 { color: #fb7; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c66_124 { color: #ff9; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c66_125 { color: #03c; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c66_126 { color: #07e; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c66_127 { color: #0c0; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c66_128 { color: #102; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c66_129 { color: #144; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c66_130 { color: #186; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c66_131 { color: #1c8; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c66_132 { color: #20a; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c66_133 { color: #24c; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c66_134 { color: #28e; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c66_135 { color: #2d0; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c66_136 { color: #312; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c66_137 { color: #354; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c66_138 { color: #396; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c66_139 { color: #3d8; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c66_140 { color: #41a; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c66_141 { color: #45c; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c66_142 { color: #49e; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c66_143 { color: #4e0; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c66_144 { color: #522; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c66_145 { color: #564; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c66_146 { color: #5a6; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c66_147 { color: #5e8; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c66_148 { color: #62a; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c66_149 { color: #66c; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c66_150 { color: #6ae; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c66_151 { color: #6f0; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c66_152 { color: #732; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c66_153 { color: #774; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c66_154 { color: #7b6; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c66_155 { color: #7f8; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c66_156 { color: #83a; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c66_157 { color: #87c; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c66_158 { color: #8be; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c66_159 { color: #900; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c66_160 { color: #942; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c66_161 { color: #984; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c66_162 { color: #9c6; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c66_163 { color: #a08; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c66_164 { color: #a4a; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c66_165 { color: #a8c; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c66_166 { color: #ace; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c66_167 { color: #b10; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c66_168 { color: #b52; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c66_169 { color: #b94; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c66_170 { color: #bd6; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c66_171 { color: #c18; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c66_172 { color: #c5a; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c66_173 { color: #c9c; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c66_174 { color: #cde; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c66_175 { color: #d20; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c66_176 { color: #d62; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c66_177 { color: #da4; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c66_178 { color: #de6; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c66_179 { color: #e28; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c66_180 { color: #e6a; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c66_181 { color: #eac; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c66_182 { color: #eee; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c66_183 { color: #f30; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c66_184 { color: #f72; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c66_185 { color: #fb4; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c66_186 { color: #ff6; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c66_187 { color: #039; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c66_188 { color: #07b; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c66_189 { color: #0bd; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c66_190 { color: #0ff; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c66_191 { color: #141; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c66_192 { color: #183; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c66_193 { color: #1c5; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c66_194 { color: #207; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c66_195 { color: #249; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c66_196 { color: #28b; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c66_197 { color: #2cd; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c66_198 { color: #30f; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c66_199 { color: #351; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c66_200 { color: #393; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c66_201 { color: #3d5; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c66_202 { color: #417; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c66_203 { color: #459; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c66_204 { color: #49b; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c66_205 { color: #4dd; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c66_206 { color: #51f; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c66_207 { color: #561; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c66_208 { color: #5a3; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c66_209 { color: #5e5; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c66_210 { color: #627; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c66_211 { color: #669; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c66_212 { color: #6ab; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c66_213 { color: #6ed; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c66_214 { color: #72f; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c66_215 { color: #771; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c66_216 { color: #7b3; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c66_217 { color: #7f5; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c66_218 { color: #837; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c66_219 { color: #879; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c66_220 { color: #8bb; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c66_221 { color: #8fd; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c66_222 { color: #93f; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c66_223 { color: #981; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c66_224 { color: #9c3; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c66_225 { color: #a05; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c66_226 { color: #a47; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c66_227 { color: #a89; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c66_228 { color: #acb; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c66_229 { color: #b0d; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c66_230 { color: #b4f; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c66_231 { color: #b91; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c66_232 { color: #bd3; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c66_233 { color: #c15; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c66_234 { color: #c57; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c66_235 { color: #c99; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c66_236 { color: #cdb; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c66_237 { color: #d1d; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c66_238 { color: #d5f; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c66_239 { color: #da1; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c66_240 { color: #de3; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c66_241 { color: #e25; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c66_242 { color: #e67; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c66_243 { color: #ea9; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c66_244 { color: #eeb; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c66_245 { color: #f2d; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c66_246 { color: #f6f; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c66_247 { color: #fb1; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c66_248 { color: #ff3; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c66_249 { color: #036; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c66_250 { color: #078; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c66_251 { color: #0ba; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c66_252 { color: #0fc; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c66_253 { color: #13e; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c66_254 { color: #180; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c66_255 { color: #1c2; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c66_256 { color: #204; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c66_257 { color: #246; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c66_258 { color: #288; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c66_259 { color: #2ca; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c66_260 { color: #30c; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c66_261 { color: #34e; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c66_262 { color: #390; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c66_263 { color: #3d2; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c66_264 { color: #414; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c66_265 { color: #456; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c66_266 { color: #498; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c66_267 { color: #4da; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c66_268 { color: #51c; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c66_269 { color: #55e; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c66_270 { color: #5a0; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c66_271 { color: #5e2; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c66_272 { color: #624; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c66_273 { color: #666; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c66_274 { color: #6a8; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c66_275 { color: #6ea; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c66_276 { color: #72c; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c66_277 { color: #76e; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c66_278 { color: #7b0; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c66_279 { color: #7f2; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c66_280 { color: #834; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c66_281 { color: #876; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c66_282 { color: #8b8; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c66_283 { color: #8fa; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c66_284 { color: #93c; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c66_285 { color: #97e; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c66_286 { color: #9c0; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c66_287 { color: #a02; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c66_288 { color: #a44; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c66_289 { color: #a86; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c66_290 { color: #ac8; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c66_291 { color: #b0a; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c66_292 { color: #b4c; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c66_293 { color: #b8e; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c66_294 { color: #bd0; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c66_295 { color: #c12; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c66_296 { color: #c54; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c66_297 { color: #c96; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c66_298 { color: #cd8; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c66_299 { color: #d1a; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c66_300 { color: #d5c; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c66_301 { color: #d9e; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c66_302 { color: #de0; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c66_303 { color: #e22; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c66_304 { color: #e64; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c66_305 { color: #ea6; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c66_306 { color: #ee8; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c66_307 { color: #f2a; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c66_308 { color: #f6c; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c66_309 { color: #fae; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c66_310 { color: #ff0; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c66_311 { color: #033; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c66_312 { color: #075; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c66_313 { color: #0b7; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c66_314 { color: #0f9; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c66_315 { color: #13b; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c66_316 { color: #17d; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c66_317 { color: #1bf; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c66_318 { color: #201; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c66_319 { color: #243; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c66_320 { color: #285; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c66_321 { color: #2c7; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c66_322 { color: #309; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c66_323 { color: #34b; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c66_324 { color: #38d; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c66_325 { color: #3cf; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c66_326 { color: #411; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c66_327 { color: #453; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c66_328 { color: #495; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c66_329 { color: #4d7; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c66_330 { color: #519; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c66_331 { color: #55b; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c66_332 { color: #59d; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c66_333 { color: #5df; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c66_334 { color: #621; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c66_335 { color: #663; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c66_336 { color: #6a5; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c66_337 { color: #6e7; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c66_338 { color: #729; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c66_339 { color: #76b; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c66_340 { color: #7ad; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c66_341 { color: #7ef; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c66_342 { color: #831; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c66_343 { color: #873; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c66_344 { color: #8b5; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c66_345 { color: #8f7; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c66_346 { color: #939; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c66_347 { color: #97b; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c66_348 { color: #9bd; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c66_349 { color: #9ff; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c66_350 { color: #a41; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c66_351 { color: #a83; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c66_352 { color: #ac5; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c66_353 { color: #b07; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c66_354 { color: #b49; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c66_355 { color: #b8b; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c66_356 { color: #bcd; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c66_357 { color: #c0f; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c66_358 { color: #c51; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c66_359 { color: #c93; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c66_360 { color: #cd5; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c66_361 { color: #d17; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c66_362 { color: #d59; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c66_363 { color: #d9b; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c66_364 { color: #ddd; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c66_365 { color: #e1f; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c66_366 { color: #e61; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c66_367 { color: #ea3; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c66_368 { color: #ee5; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c66_369 { color: #f27; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c66_370 { color: #f69; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c66_371 { color: #fab; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c66_372 { color: #fed; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c66_373 { color: #030; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c66_374 { color: #072; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c66_375 { color: #0b4; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c66_376 { color: #0f6; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c66_377 { color: #138; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c66_378 { color: #17a; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c66_379 { color: #1bc; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c66_380 { color: #1fe; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c66_381 { color: #240; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c66_382 { color: #282; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c66_383 { color: #2c4; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c66_384 { color: #306; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c66_385 { color: #348; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c66_386 { color: #38a; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c66_387 { color: #3cc; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c66_388 { color: #40e; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c66_389 { color: #450; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c66_390 { color: #492; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c66_391 { color: #4d4; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c66_392 { color: #516; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c66_393 { color: #558; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c66_394 { color: #59a; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c66_395 { color: #5dc; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c66_396 { color: #61e; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c66_397 { color: #660; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c66_398 { color: #6a2; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c66_399 { color: #6e4; margin: 19px; padding: 9px; border: 1px solid #ccc; }