.c68_0 { color: #000; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c68_1 { color: #044; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c68_2 { color: #088; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c68_3 { color: #0cc; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c68_4 { color: #110; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c68_5 { color: #154; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c68_6 { color: #198; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c68_7 { color: #1dc; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c68_8 { color: #220; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c68_9 { color: #264; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c68_10 { color: #2a8; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c68_11 { color: #2ec; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c68_12 { color: #330; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c68_13 { color: #374; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c68_14 { color: #3b8; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c68_15 { color: #3fc; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c68_16 { color: #440; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c68_17 { color: #484; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c68_18 { color: #4c8; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c68_19 { color: #50c; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c68_20 { color: #550; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c68_21 { color: #594; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c68_22 { color: #5d8; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c68_23 { color: #61c; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c68_24 { color: #660; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c68_25 { color: #6a4; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c68_26 { color: #6e8; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c68_27 { color: #72c; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c68_28 { color: #770; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c68_29 { color: #7b4; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c68_30 { color: #7f8; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c68_31 { color: #83c; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c68_32 { color: #880; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c68_33 { color: #8c4; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c68_34 { color: #908; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c68_35 { color: #94c; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c68_36 { color: #990; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c68_37 { color: #9d4; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c68_38 { color: #a18; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c68_39 { color: #a5c; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c68_40 { color: #aa0; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c68_41 { color: #ae4; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c68_42 { color: #b28; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c68_43 { color: #b6c; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c68_44 { color: #bb0; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c68_45 { color: #bf4; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c68_46 { color: #c38; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c68_47 { color: #c7c; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c68_48 { color: #cc0; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c68_49 { color: #d04; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c68_50 { color: #d48; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c68_51 { color: #d8c; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c68_52 { color: #dd0; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c68_53 { color: #e14; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c68_54 { color: #e58; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c68_55 { color: #e9c; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c68_56 { color: #ee0; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c68_57 { color: #f24; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c68_58 { color: #f68; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c68_59 { color: #fac; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c68_60 { color: #ff0; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c68_61 { color: #035; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c68_62 { color: #079; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c68_63 { color: #0bd; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c68_64 { color: #101; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c68_65 { color: #145; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c68_66 { color: #189; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c68_67 { color: #1cd; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c68_68 { color: #211; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c68_69 { color: #255; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c68_70 { color: #299; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c68_71 { color: #2dd; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c68_72 { color: #321; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c68_73 { color: #365; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c68_74 { color: #3a9; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c68_75 { color: #3ed; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c68_76 { color: #431; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c68_77 { color: #475; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c68_78 { color: #4b9; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c68_79 { color: #4fd; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c68_80 { color: #541; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c68_81 { color: #585; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c68_82 { color: #5c9; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c68_83 { color: #60d; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c68_84 { color: #651; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c68_85 { color: #695; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c68_86 { color: #6d9; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c68_87 { color: #71d; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c68_88 { color: #761; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c68_89 { color: #7a5; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c68_90 { color: #7e9; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c68_91 { color: #82d; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c68_92 { color: #871; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c68_93 { color: #8b5; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c68_94 { color: #8f9; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c68_95 { color: #93d; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c68_96 { color: #981; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c68_97 { color: #9c5; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c68_98 { color: #a09; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c68_99 { color: #a4d; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c68_100 { color: #a91; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c68_101 { color: #ad5; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c68_102 { color: #b19; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c68_103 { color: #b5d; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c68_104 { color: #ba1; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c68_105 { color: #be5; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c68_106 { color: #c29; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c68_107 { color: #c6d; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c68_108 { color: #cb1; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c68_109 { color: #cf5; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c68_110 { color: #d39; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c68_111 { color: #d7d; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c68_112 { color: #dc1; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c68_113 { color: #e05; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c68_114 { color: #e49; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c68_115 { color: #e8d; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c68_116 { color: #ed1; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c68_117 { color: #f15; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c68_118 { color: #f59; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c68_119 { color: #f9d; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c68_120 { color: #fe1; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c68_121 { color: #026; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c68_122 { color: #06a; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c68_123 { color: #0ae; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c68_124 { color: #0f2; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c68_125 { color: #136; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c68_126 { color: #17a; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c68_127 { color: #1be; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c68_128 { color: #202; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c68_129 { color: #246; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c68_130 { color: #28a; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c68_131 { color: #2ce; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c68_132 { color: #312; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c68_133 { color: #356; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c68_134 { color: #39a; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c68_135 { color: #3de; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c68_136 { color: #422; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c68_137 { color: #466; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c68_138 { color: #4aa; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c68_139 { color: #4ee; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c68_140 { color: #532; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c68_141 { color: #576; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c68_142 { color: #5ba; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c68_143 { color: #5fe; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c68_144 { color: #642; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c68_145 { color: #686; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c68_146 { color: #6ca; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c68_147 { color: #70e; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c68_148 { color: #752; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c68_149 { color: #796; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c68_150 { color: #7da; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c68_151 { color: #81e; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c68_152 { color: #862; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c68_153 { color: #8a6; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c68_154 { color: #8ea; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c68_155 { color: #92e; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c68_156 { color: #972; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c68_157 { color: #9b6; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c68_158 { color: #9fa; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c68_159 { color: #a3e; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c68_160 { color: #a82; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c68_161 { color: #ac6; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c68_162 { color: #b0a; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c68_163 { color: #b4e; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c68_164 { color: #b92; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c68_165 { color: #bd6; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c68_166 { color: #c1a; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c68_167 { color: #c5e; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c68_168 { color: #ca2; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c68_169 { color: #ce6; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c68_170 { color: #d2a; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c68_171 { color: #d6e; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c68_172 { color: #db2; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c68_173 { color: #df6; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c68_174 { color: #e3a; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c68_175 { color: #e7e; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c68_176 { color: #ec2; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c68_177 { color: #f06; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c68_178 { color: #f4a; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c68_179 { color: #f8e; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c68_180 { color: #fd2; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c68_181 { color: #017; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c68_182 { color: #05b; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c68_183 { color: #09f; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c68_184 { color: #0e3; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c68_185 { color: #127; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c68_186 { color: #16b; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c68_187 { color: #1af; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c68_188 { color: #1f3; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c68_189 { color: #237; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c68_190 { color: #27b; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c68_191 { color: #2bf; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c68_192 { color: #303; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c68_193 { color: #347; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c68_194 { color: #38b; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c68_195 { color: #3cf; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c68_196 { color: #413; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c68_197 { color: #457; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c68_198 { color: #49b; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c68_199 { color: #4df; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c68_200 { color: #523; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c68_201 { color: #567; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c68_202 { color: #5ab; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c68_203 { color: #5ef; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c68_204 { color: #633; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c68_205 { color: #677; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c68_206 { color: #6bb; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c68_207 { color: #6ff; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c68_208 { color: #743; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c68_209 { color: #787; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c68_210 { color: #7cb; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c68_211 { color: #80f; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c68_212 { color: #853; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c68_213 { color: #897; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c68_214 { color: #8db; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c68_215 { color: #91f; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c68_216 { color: #963; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c68_217 { color: #9a7; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c68_218 { color: #9eb; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c68_219 { color: #a2f; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c68_220 { color: #a73; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c68_221 { color: #ab7; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c68_222 { color: #afb; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c68_223 { color: #b3f; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c68_224 { color: #b83; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c68_225 { color: #bc7; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c68_226 { color: #c0b; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c68_227 { color: #c4f; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c68_228 { color: #c93; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c68_229 { color: #cd7; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c68_230 { color: #d1b; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c68_231 { color: #d5f; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c68_232 { color: #da3; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c68_233 { color: #de7; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c68_234 { color: #e2b; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c68_235 { color: #e6f; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c68_236 { color: #eb3; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c68_237 { color: #ef7; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c68_238 { color: #f3b; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c68_239 { color: #f7f; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c68_240 { color: #fc3; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c68_241 { color: #008; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c68_242 { color: #04c; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c68_243 { color: #090; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c68_244 { color: #0d4; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c68_245 { color: #118; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c68_246 { color: #15c; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c68_247 { color: #1a0; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c68_248 { color: #1e4; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c68_249 { color: #228; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c68_250 { color: #26c; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c68_251 { color: #2b0; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c68_252 { color: #2f4; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c68_253 { color: #338; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c68_254 { color: #37c; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c68_255 { color: #3c0; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c68_256 { color: #404; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c68_257 { color: #448; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c68_258 { color: #48c; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c68_259 { color: #4d0; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c68_260 { color: #514; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c68_261 { color: #558; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c68_262 { color: #59c; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c68_263 { color: #5e0; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c68_264 { color: #624; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c68_265 { color: #668; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c68_266 { color: #6ac; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c68_267 { color: #6f0; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c68_268 { color: #734; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c68_269 { color: #778; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c68_270 { color: #7bc; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c68_271 { color: #800; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c68_272 { color: #844; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c68_273 { color: #888; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c68_274 { color: #8cc; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c68_275 { color: #910; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c68_276 { color: #954; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c68_277 { color: #998; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c68_278 { color: #9dc; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c68_279 { color: #a20; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c68_280 { color: #a64; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c68_281 { color: #aa8; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c68_282 { color: #aec; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c68_283 { color: #b30; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c68_284 { color: #b74; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c68_285 { color: #bb8; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c68_286 { color: #bfc; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c68_287 { color: #c40; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c68_288 { color: #c84; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c68_289 { color: #cc8; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c68_290 { color: #d0c; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c68_291 { color: #d50; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c68_292 { color: #d94; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c68_293 { color: #dd8; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c68_294 { color: #e1c; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c68_295 { color: #e60; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c68_296 { color: #ea4; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c68_297 { color: #ee8; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c68_298 { color: #f2c; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c68_299 { color: #f70; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c68_300 { color: #fb4; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c68_301 { color: #ff8; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c68_302 { color: #03d; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c68_303 { color: #081; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c68_304 { color: #0c5; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c68_305 { color: #109; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c68_306 { color: #14d; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c68_307 { color: #191; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c68_308 { color: #1d5; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c68_309 { color: #219; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c68_310 { color: #25d; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c68_311 { color: #2a1; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c68_312 { color: #2e5; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c68_313 { color: #329; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c68_314 { color: #36d; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c68_315 { color: #3b1; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c68_316 { color: #3f5; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c68_317 { color: #439; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c68_318 { color: #47d; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c68_319 { color: #4c1; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c68_320 { color: #505; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c68_321 { color: #549; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c68_322 { color: #58d; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c68_323 { color: #5d1; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c68_324 { color: #615; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c68_325 { color: #659; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c68_326 { color: #69d; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c68_327 { color: #6e1; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c68_328 { color: #725; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c68_329 { color: #769; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c68_330 { color: #7ad; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c68_331 { color: #7f1; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c68_332 { color: #835; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c68_333 { color: #879; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c68_334 { color: #8bd; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c68_335 { color: #901; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c68_336 { color: #945; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c68_337 { color: #989; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c68_338 { color: #9cd; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c68_339 { color: #a11; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c68_340 { color: #a55; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c68_341 { color: #a99; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c68_342 { color: #add; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c68_343 { color: #b21; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c68_344 { color: #b65; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c68_345 { color: #ba9; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c68_346 { color: #bed; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c68_347 { color: #c31; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c68_348 { color: #c75; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c68_349 { color: #cb9; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c68_350 { color: #cfd; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c68_351 { color: #d41; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c68_352 { color: #d85; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c68_353 { color: #dc9; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c68_354 { color: #e0d; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c68_355 { color: #e51; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c68_356 { color: #e95; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c68_357 { color: #ed9; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c68_358 { color: #f1d; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c68_359 { color: #f61; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c68_360 { color: #fa5; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c68_361 { color: #fe9; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c68_362 { color: #02e; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c68_363 { color: #072; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c68_364 { color: #0b6; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c68_365 { color: #0fa; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c68_366 { color: #13e; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c68_367 { color: #182; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c68_368 { color: #1c6; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c68_369 { color: #20a; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c68_370 { color: #24e; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c68_371 { color: #292; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c68_372 { color: #2d6; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c68_373 { color: #31a; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c68_374 { color: #35e; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c68_375 { color: #3a2; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c68_376 { color: #3e6; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c68_377 { color: #42a; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c68_378 { color: #46e; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c68_379 { color: #4b2; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c68_380 { color: #4f6; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c68_381 { color: #53a; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c68_382 { color: #57e; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c68_383 { color: #5c2; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c68_384 { color: #606; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c68_385 { color: #64a; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c68_386 { color: #68e; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c68_387 { color: #6d2; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c68_388 { color: #716; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c68_389 { color: #75a; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c68_390 { color: #79e; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c68_391 { color: #7e2; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c68_392 { color: #826; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c68_393 { color: #86a; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c68_394 { color: #8ae; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c68_395 { color: #8f2; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c68_396 { color: #936; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c68_397 { color: #97a; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c68_398 { color: #9be; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c68_399 { color: #a02; margin: 19px; padding: 9px; border: 1px solid #ccc; }