.c69_0 { color: #000; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c69_1 { color: #045; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c69_2 { color: #08a; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c69_3 { color: #0cf; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c69_4 { color: #114; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c69_5 { color: #159; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c69_6 { color: #19e; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c69_7 { color: #1e3; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c69_8 { color: #228; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c69_9 { color: #26d; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c69_10 { color: #2b2; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c69_11 { color: #2f7; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c69_12 { color: #33c; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c69_13 { color: #381; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c69_14 { color: #3c6; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c69_15 { color: #40b; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c69_16 { color: #450; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c69_17 { color: #495; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c69_18 { color: #4da; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c69_19 { color: #51f; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c69_20 { color: #564; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c69_21 { color: #5a9; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c69_22 { color: #5ee; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c69_23 { color: #633; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c69_24 { color: #678; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c69_25 { color: #6bd; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c69_26 { color: #702; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c69_27 { color: #747; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c69_28 { color: #78c; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c69_29 { color: #7d1; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c69_30 { color: #816; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c69_31 { color: #85b; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c69_32 { color: #8a0; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c69_33 { color: #8e5; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c69_34 { color: #92a; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c69_35 { color: #96f; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c69_36 { color: #9b4; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c69_37 { color: #9f9; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c69_38 { color: #a3e; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c69_39 { color: #a83; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c69_40 { color: #ac8; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c69_41 { color: #b0d; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c69_42 { color: #b52; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c69_43 { color: #b97; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c69_44 { color: #bdc; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c69_45 { color: #c21; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c69_46 { color: #c66; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c69_47 { color: #cab; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c69_48 { color: #cf0; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c69_49 { color: #d35; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c69_50 { color: #d7a; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c69_51 { color: #dbf; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c69_52 { color: #e04; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c69_53 { color: #e49; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c69_54 { color: #e8e; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c69_55 { color: #ed3; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c69_56 { color: #f18; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c69_57 { color: #f5d; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c69_58 { color: #fa2; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c69_59 { color: #fe7; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c69_60 { color: #02d; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c69_61 { color: #072; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c69_62 { color: #0b7; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c69_63 { color: #0fc; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c69_64 { color: #141; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c69_65 { color: #186; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c69_66 { color: #1cb; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c69_67 { color: #210; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c69_68 { color: #255; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c69_69 { color: #29a; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c69_70 { color: #2df; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c69_71 { color: #324; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c69_72 { color: #369; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c69_73 { color: #3ae; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c69_74 { color: #3f3; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c69_75 { color: #438; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c69_76 { color: #47d; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c69_77 { color: #4c2; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c69_78 { color: #507; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c69_79 { color: #54c; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c69_80 { color: #591; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c69_81 { color: #5d6; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c69_82 { color: #61b; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c69_83 { color: #660; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c69_84 { color: #6a5; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c69_85 { color: #6ea; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c69_86 { color: #72f; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c69_87 { color: #774; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c69_88 { color: #7b9; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c69_89 { color: #7fe; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c69_90 { color: #843; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c69_91 { color: #888; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c69_92 { color: #8cd; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c69_93 { color: #912; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c69_94 { color: #957; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c69_95 { color: #99c; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c69_96 { color: #9e1; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c69_97 { color: #a26; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c69_98 { color: #a6b; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c69_99 { color: #ab0; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c69_100 { color: #af5; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c69_101 { color: #b3a; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c69_102 { color: #b7f; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c69_103 { color: #bc4; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c69_104 { color: #c09; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c69_105 { color: #c4e; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c69_106 { color: #c93; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c69_107 { color: #cd8; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c69_108 { color: #d1d; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c69_109 { color: #d62; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c69_110 { color: #da7; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c69_111 { color: #dec; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c69_112 { color: #e31; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c69_113 { color: #e76; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c69_114 { color: #ebb; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c69_115 { color: #f00; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c69_116 { color: #f45; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c69_117 { color: #f8a; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c69_118 { color: #fcf; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c69_119 { color: #015; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c69_120 { color: #05a; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c69_121 { color: #09f; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c69_122 { color: #0e4; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c69_123 { color: #129; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c69_124 { color: #16e; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c69_125 { color: #1b3; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c69_126 { color: #1f8; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c69_127 { color: #23d; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c69_128 { color: #282; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c69_129 { color: #2c7; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c69_130 { color: #30c; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c69_131 { color: #351; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c69_132 { color: #396; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c69_133 { color: #3db; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c69_134 { color: #420; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c69_135 { color: #465; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c69_136 { color: #4aa; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c69_137 { color: #4ef; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c69_138 { color: #534; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c69_139 { color: #579; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c69_140 { color: #5be; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c69_141 { color: #603; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c69_142 { color: #648; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c69_143 { color: #68d; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c69_144 { color: #6d2; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c69_145 { color: #717; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c69_146 { color: #75c; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c69_147 { color: #7a1; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c69_148 { color: #7e6; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c69_149 { color: #82b; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c69_150 { color: #870; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c69_151 { color: #8b5; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c69_152 { color: #8fa; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c69_153 { color: #93f; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c69_154 { color: #984; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c69_155 { color: #9c9; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c69_156 { color: #a0e; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c69_157 { color: #a53; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c69_158 { color: #a98; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c69_159 { color: #add; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c69_160 { color: #b22; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c69_161 { color: #b67; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c69_162 { color: #bac; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c69_163 { color: #bf1; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c69_164 { color: #c36; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c69_165 { color: #c7b; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c69_166 { color: #cc0; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c69_167 { color: #d05; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c69_168 { color: #d4a; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c69_169 { color: #d8f; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c69_170 { color: #dd4; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c69_171 { color: #e19; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c69_172 { color: #e5e; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c69_173 { color: #ea3; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c69_174 { color: #ee8; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c69_175 { color: #f2d; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c69_176 { color: #f72; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c69_177 { color: #fb7; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c69_178 { color: #ffc; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c69_179 { color: #042; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c69_180 { color: #087; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c69_181 { color: #0cc; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c69_182 { color: #111; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c69_183 { color: #156; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c69_184 { color: #19b; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c69_185 { color: #1e0; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c69_186 { color: #225; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c69_187 { color: #26a; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c69_188 { color: #2af; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c69_189 { color: #2f4; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c69_190 { color: #339; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c69_191 { color: #37e; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c69_192 { color: #3c3; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c69_193 { color: #408; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c69_194 { color: #44d; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c69_195 { color: #492; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c69_196 { color: #4d7; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c69_197 { color: #51c; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c69_198 { color: #561; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c69_199 { color: #5a6; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c69_200 { color: #5eb; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c69_201 { color: #630; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c69_202 { color: #675; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c69_203 { color: #6ba; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c69_204 { color: #6ff; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c69_205 { color: #744; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c69_206 { color: #789; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c69_207 { color: #7ce; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c69_208 { color: #813; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c69_209 { color: #858; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c69_210 { color: #89d; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c69_211 { color: #8e2; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c69_212 { color: #927; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c69_213 { color: #96c; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c69_214 { color: #9b1; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c69_215 { color: #9f6; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c69_216 { color: #a3b; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c69_217 { color: #a80; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c69_218 { color: #ac5; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c69_219 { color: #b0a; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c69_220 { color: #b4f; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c69_221 { color: #b94; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c69_222 { color: #bd9; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c69_223 { color: #c1e; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c69_224 { color: #c63; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c69_225 { color: #ca8; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c69_226 { color: #ced; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c69_227 { color: #d32; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c69_228 { color: #d77; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c69_229 { color: #dbc; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c69_230 { color: #e01; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c69_231 { color: #e46; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c69_232 { color: #e8b; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c69_233 { color: #ed0; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c69_234 { color: #f15; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c69_235 { color: #f5a; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c69_236 { color: #f9f; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c69_237 { color: #fe4; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c69_238 { color: #02a; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c69_239 { color: #06f; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c69_240 { color: #0b4; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c69_241 { color: #0f9; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c69_242 { color: #13e; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c69_243 { color: #183; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c69_244 { color: #1c8; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c69_245 { color: #20d; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c69_246 { color: #252; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c69_247 { color: #297; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c69_248 { color: #2dc; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c69_249 { color: #321; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c69_250 { color: #366; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c69_251 { color: #3ab; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c69_252 { color: #3f0; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c69_253 { color: #435; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c69_254 { color: #47a; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c69_255 { color: #4bf; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c69_256 { color: #504; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c69_257 { color: #549; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c69_258 { color: #58e; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c69_259 { color: #5d3; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c69_260 { color: #618; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c69_261 { color: #65d; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c69_262 { color: #6a2; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c69_263 { color: #6e7; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c69_264 { color: #72c; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c69_265 { color: #771; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c69_266 { color: #7b6; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c69_267 { color: #7fb; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c69_268 { color: #840; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c69_269 { color: #885; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c69_270 { color: #8ca; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c69_271 { color: #90f; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c69_272 { color: #954; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c69_273 { color: #999; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c69_274 { color: #9de; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c69_275 { color: #a23; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c69_276 { color: #a68; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c69_277 { color: #aad; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c69_278 { color: #af2; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c69_279 { color: #b37; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c69_280 { color: #b7c; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c69_281 { color: #bc1; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c69_282 { color: #c06; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c69_283 { color: #c4b; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c69_284 { color: #c90; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c69_285 { color: #cd5; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c69_286 { color: #d1a; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c69_287 { color: #d5f; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c69_288 { color: #da4; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c69_289 { color: #de9; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c69_290 { color: #e2e; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c69_291 { color: #e73; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c69_292 { color: #eb8; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c69_293 { color: #efd; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c69_294 { color: #f42; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c69_295 { color: #f87; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c69_296 { color: #fcc; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c69_297 { color: #012; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c69_298 { color: #057; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c69_299 { color: #09c; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c69_300 { color: #0e1; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c69_301 { color: #126; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c69_302 { color: #16b; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c69_303 { color: #1b0; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c69_304 { color: #1f5; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c69_305 { color: #23a; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c69_306 { color: #27f; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c69_307 { color: #2c4; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c69_308 { color: #309; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c69_309 { color: #34e; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c69_310 { color: #393; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c69_311 { color: #3d8; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c69_312 { color: #41d; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c69_313 { color: #462; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c69_314 { color: #4a7; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c69_315 { color: #4ec; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c69_316 { color: #531; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c69_317 { color: #576; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c69_318 { color: #5bb; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c69_319 { color: #600; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c69_320 { color: #645; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c69_321 { color: #68a; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c69_322 { color: #6cf; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c69_323 { color: #714; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c69_324 { color: #759; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c69_325 { color: #79e; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c69_326 { color: #7e3; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c69_327 { color: #828; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c69_328 { color: #86d; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c69_329 { color: #8b2; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c69_330 { color: #8f7; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c69_331 { color: #93c; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c69_332 { color: #981; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c69_333 { color: #9c6; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c69_334 { color: #a0b; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c69_335 { color: #a50; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c69_336 { color: #a95; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c69_337 { color: #ada; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c69_338 { color: #b1f; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c69_339 { color: #b64; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c69_340 { color: #ba9; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c69_341 { color: #bee; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c69_342 { color: #c33; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c69_343 { color: #c78; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c69_344 { color: #cbd; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c69_345 { color: #d02; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c69_346 { color: #d47; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c69_347 { color: #d8c; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c69_348 { color: #dd1; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c69_349 { color: #e16; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c69_350 { color: #e5b; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c69_351 { color: #ea0; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c69_352 { color: #ee5; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c69_353 { color: #f2a; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c69_354 { color: #f6f; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c69_355 { color: #fb4; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c69_356 { color: #ff9; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c69_357 { color: #03f; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c69_358 { color: #084; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c69_359 { color: #0c9; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c69_360 { color: #10e; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c69_361 { color: #153; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c69_362 { color: #198; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c69_363 { color: #1dd; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c69_364 { color: #222; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c69_365 { color: #267; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c69_366 { color: #2ac; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c69_367 { color: #2f1; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c69_368 { color: #336; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c69_369 { color: #37b; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c69_370 { color: #3c0; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c69_371 { color: #405; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c69_372 { color: #44a; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c69_373 { color: #48f; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c69_374 { color: #4d4; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c69_375 { color: #519; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c69_376 { color: #55e; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c69_377 { color: #5a3; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c69_378 { color: #5e8; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c69_379 { color: #62d; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c69_380 { color: #672; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c69_381 { color: #6b7; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c69_382 { color: #6fc; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c69_383 { color: #741; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c69_384 { color: #786; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c69_385 { color: #7cb; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c69_386 { color: #810; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c69_387 { color: #855; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c69_388 { color: #89a; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c69_389 { color: #8df; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c69_390 { color: #924; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c69_391 { color: #969; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c69_392 { color: #9ae; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c69_393 { color: #9f3; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c69_394 { color: #a38; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c69_395 { color: #a7d; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c69_396 { color: #ac2; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c69_397 { color: #b07; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c69_398 { color: #b4c; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c69_399 { color: #b91; margin: 19px; padding: 9px; border: 1px solid #ccc; }