.c71_0 { color: #000; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c71_1 { color: #047; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c71_2 { color: #08e; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c71_3 { color: #0d5; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c71_4 { color: #11c; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c71_5 { color: #163; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c71_6 { color: #1aa; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c71_7 { color: #1f1; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c71_8 { color: #238; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c71_9 { color: #27f; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c71_10 { color: #2c6; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c71_11 { color: #30d; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c71_12 { color: #354; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c71_13 { color: #39b; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c71_14 { color: #3e2; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c71_15 { color: #429; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c71_16 { color: #470; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c71_17 { color: #4b7; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c71_18 { color: #4fe; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c71_19 { color: #545; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c71_20 { color: #58c; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c71_21 { color: #5d3; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c71_22 { color: #61a; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c71_23 { color: #661; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c71_24 { color: #6a8; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c71_25 { color: #6ef; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c71_26 { color: #736; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c71_27 { color: #77d; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c71_28 { color: #7c4; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c71_29 { color: #80b; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c71_30 { color: #852; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c71_31 { color: #899; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c71_32 { color: #8e0; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c71_33 { color: #927; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c71_34 { color: #96e; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c71_35 { color: #9b5; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c71_36 { color: #9fc; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c71_37 { color: #a43; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c71_38 { color: #a8a; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c71_39 { color: #ad1; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c71_40 { color: #b18; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c71_41 { color: #b5f; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c71_42 { color: #ba6; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c71_43 { color: #bed; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c71_44 { color: #c34; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c71_45 { color: #c7b; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c71_46 { color: #cc2; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c71_47 { color: #d09; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c71_48 { color: #d50; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c71_49 { color: #d97; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c71_50 { color: #dde; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c71_51 { color: #e25; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c71_52 { color: #e6c; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c71_53 { color: #eb3; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c71_54 { color: #efa; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c71_55 { color: #f41; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c71_56 { color: #f88; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c71_57 { color: #fcf; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c71_58 { color: #017; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c71_59 { color: #05e; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c71_60 { color: #0a5; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c71_61 { color: #0ec; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c71_62 { color: #133; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c71_63 { color: #17a; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c71_64 { color: #1c1; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c71_65 { color: #208; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c71_66 { color: #24f; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c71_67 { color: #296; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c71_68 { color: #2dd; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c71_69 { color: #324; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c71_70 { color: #36b; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c71_71 { color: #3b2; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c71_72 { color: #3f9; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c71_73 { color: #440; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c71_74 { color: #487; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c71_75 { color: #4ce; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c71_76 { color: #515; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c71_77 { color: #55c; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c71_78 { color: #5a3; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c71_79 { color: #5ea; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c71_80 { color: #631; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c71_81 { color: #678; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c71_82 { color: #6bf; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c71_83 { color: #706; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c71_84 { color: #74d; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c71_85 { color: #794; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c71_86 { color: #7db; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c71_87 { color: #822; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c71_88 { color: #869; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c71_89 { color: #8b0; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c71_90 { color: #8f7; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c71_91 { color: #93e; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c71_92 { color: #985; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c71_93 { color: #9cc; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c71_94 { color: #a13; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c71_95 { color: #a5a; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c71_96 { color: #aa1; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c71_97 { color: #ae8; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c71_98 { color: #b2f; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c71_99 { color: #b76; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c71_100 { color: #bbd; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c71_101 { color: #c04; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c71_102 { color: #c4b; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c71_103 { color: #c92; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c71_104 { color: #cd9; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c71_105 { color: #d20; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c71_106 { color: #d67; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c71_107 { color: #dae; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c71_108 { color: #df5; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c71_109 { color: #e3c; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c71_110 { color: #e83; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c71_111 { color: #eca; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c71_112 { color: #f11; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c71_113 { color: #f58; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c71_114 { color: #f9f; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c71_115 { color: #fe6; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c71_116 { color: #02e; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c71_117 { color: #075; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c71_118 { color: #0bc; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c71_119 { color: #103; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c71_120 { color: #14a; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c71_121 { color: #191; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c71_122 { color: #1d8; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c71_123 { color: #21f; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c71_124 { color: #266; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c71_125 { color: #2ad; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c71_126 { color: #2f4; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c71_127 { color: #33b; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c71_128 { color: #382; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c71_129 { color: #3c9; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c71_130 { color: #410; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c71_131 { color: #457; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c71_132 { color: #49e; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c71_133 { color: #4e5; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c71_134 { color: #52c; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c71_135 { color: #573; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c71_136 { color: #5ba; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c71_137 { color: #601; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c71_138 { color: #648; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c71_139 { color: #68f; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c71_140 { color: #6d6; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c71_141 { color: #71d; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c71_142 { color: #764; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c71_143 { color: #7ab; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c71_144 { color: #7f2; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c71_145 { color: #839; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c71_146 { color: #880; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c71_147 { color: #8c7; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c71_148 { color: #90e; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c71_149 { color: #955; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c71_150 { color: #99c; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c71_151 { color: #9e3; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c71_152 { color: #a2a; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c71_153 { color: #a71; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c71_154 { color: #ab8; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c71_155 { color: #aff; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c71_156 { color: #b46; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c71_157 { color: #b8d; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c71_158 { color: #bd4; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c71_159 { color: #c1b; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c71_160 { color: #c62; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c71_161 { color: #ca9; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c71_162 { color: #cf0; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c71_163 { color: #d37; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c71_164 { color: #d7e; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c71_165 { color: #dc5; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c71_166 { color: #e0c; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c71_167 { color: #e53; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c71_168 { color: #e9a; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c71_169 { color: #ee1; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c71_170 { color: #f28; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c71_171 { color: #f6f; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c71_172 { color: #fb6; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c71_173 { color: #ffd; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c71_174 { color: #045; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c71_175 { color: #08c; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c71_176 { color: #0d3; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c71_177 { color: #11a; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c71_178 { color: #161; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c71_179 { color: #1a8; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c71_180 { color: #1ef; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c71_181 { color: #236; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c71_182 { color: #27d; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c71_183 { color: #2c4; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c71_184 { color: #30b; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c71_185 { color: #352; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c71_186 { color: #399; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c71_187 { color: #3e0; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c71_188 { color: #427; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c71_189 { color: #46e; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c71_190 { color: #4b5; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c71_191 { color: #4fc; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c71_192 { color: #543; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c71_193 { color: #58a; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c71_194 { color: #5d1; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c71_195 { color: #618; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c71_196 { color: #65f; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c71_197 { color: #6a6; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c71_198 { color: #6ed; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c71_199 { color: #734; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c71_200 { color: #77b; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c71_201 { color: #7c2; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c71_202 { color: #809; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c71_203 { color: #850; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c71_204 { color: #897; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c71_205 { color: #8de; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c71_206 { color: #925; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c71_207 { color: #96c; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c71_208 { color: #9b3; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c71_209 { color: #9fa; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c71_210 { color: #a41; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c71_211 { color: #a88; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c71_212 { color: #acf; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c71_213 { color: #b16; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c71_214 { color: #b5d; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c71_215 { color: #ba4; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c71_216 { color: #beb; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c71_217 { color: #c32; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c71_218 { color: #c79; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c71_219 { color: #cc0; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c71_220 { color: #d07; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c71_221 { color: #d4e; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c71_222 { color: #d95; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c71_223 { color: #ddc; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c71_224 { color: #e23; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c71_225 { color: #e6a; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c71_226 { color: #eb1; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c71_227 { color: #ef8; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c71_228 { color: #f3f; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c71_229 { color: #f86; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c71_230 { color: #fcd; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c71_231 { color: #015; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c71_232 { color: #05c; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c71_233 { color: #0a3; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c71_234 { color: #0ea; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c71_235 { color: #131; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c71_236 { color: #178; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c71_237 { color: #1bf; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c71_238 { color: #206; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c71_239 { color: #24d; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c71_240 { color: #294; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c71_241 { color: #2db; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c71_242 { color: #322; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c71_243 { color: #369; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c71_244 { color: #3b0; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c71_245 { color: #3f7; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c71_246 { color: #43e; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c71_247 { color: #485; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c71_248 { color: #4cc; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c71_249 { color: #513; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c71_250 { color: #55a; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c71_251 { color: #5a1; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c71_252 { color: #5e8; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c71_253 { color: #62f; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c71_254 { color: #676; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c71_255 { color: #6bd; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c71_256 { color: #704; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c71_257 { color: #74b; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c71_258 { color: #792; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c71_259 { color: #7d9; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c71_260 { color: #820; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c71_261 { color: #867; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c71_262 { color: #8ae; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c71_263 { color: #8f5; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c71_264 { color: #93c; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c71_265 { color: #983; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c71_266 { color: #9ca; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c71_267 { color: #a11; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c71_268 { color: #a58; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c71_269 { color: #a9f; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c71_270 { color: #ae6; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c71_271 { color: #b2d; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c71_272 { color: #b74; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c71_273 { color: #bbb; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c71_274 { color: #c02; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c71_275 { color: #c49; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c71_276 { color: #c90; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c71_277 { color: #cd7; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c71_278 { color: #d1e; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c71_279 { color: #d65; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c71_280 { color: #dac; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c71_281 { color: #df3; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c71_282 { color: #e3a; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c71_283 { color: #e81; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c71_284 { color: #ec8; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c71_285 { color: #f0f; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c71_286 { color: #f56; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c71_287 { color: #f9d; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c71_288 { color: #fe4; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c71_289 { color: #02c; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c71_290 { color: #073; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c71_291 { color: #0ba; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c71_292 { color: #101; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c71_293 { color: #148; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c71_294 { color: #18f; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c71_295 { color: #1d6; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c71_296 { color: #21d; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c71_297 { color: #264; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c71_298 { color: #2ab; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c71_299 { color: #2f2; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c71_300 { color: #339; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c71_301 { color: #380; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c71_302 { color: #3c7; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c71_303 { color: #40e; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c71_304 { color: #455; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c71_305 { color: #49c; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c71_306 { color: #4e3; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c71_307 { color: #52a; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c71_308 { color: #571; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c71_309 { color: #5b8; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c71_310 { color: #5ff; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c71_311 { color: #646; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c71_312 { color: #68d; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c71_313 { color: #6d4; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c71_314 { color: #71b; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c71_315 { color: #762; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c71_316 { color: #7a9; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c71_317 { color: #7f0; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c71_318 { color: #837; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c71_319 { color: #87e; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c71_320 { color: #8c5; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c71_321 { color: #90c; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c71_322 { color: #953; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c71_323 { color: #99a; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c71_324 { color: #9e1; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c71_325 { color: #a28; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c71_326 { color: #a6f; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c71_327 { color: #ab6; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c71_328 { color: #afd; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c71_329 { color: #b44; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c71_330 { color: #b8b; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c71_331 { color: #bd2; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c71_332 { color: #c19; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c71_333 { color: #c60; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c71_334 { color: #ca7; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c71_335 { color: #cee; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c71_336 { color: #d35; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c71_337 { color: #d7c; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c71_338 { color: #dc3; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c71_339 { color: #e0a; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c71_340 { color: #e51; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c71_341 { color: #e98; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c71_342 { color: #edf; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c71_343 { color: #f26; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c71_344 { color: #f6d; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c71_345 { color: #fb4; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c71_346 { color: #ffb; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c71_347 { color: #043; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c71_348 { color: #08a; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c71_349 { color: #0d1; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c71_350 { color: #118; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c71_351 { color: #15f; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c71_352 { color: #1a6; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c71_353 { color: #1ed; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c71_354 { color: #234; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c71_355 { color: #27b; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c71_356 { color: #2c2; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c71_357 { color: #309; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c71_358 { color: #350; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c71_359 { color: #397; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c71_360 { color: #3de; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c71_361 { color: #425; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c71_362 { color: #46c; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c71_363 { color: #4b3; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c71_364 { color: #4fa; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c71_365 { color: #541; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c71_366 { color: #588; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c71_367 { color: #5cf; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c71_368 { color: #616; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c71_369 { color: #65d; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c71_370 { color: #6a4; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c71_371 { color: #6eb; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c71_372 { color: #732; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c71_373 { color: #779; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c71_374 { color: #7c0; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c71_375 { color: #807; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c71_376 { color: #84e; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c71_377 { color: #895; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c71_378 { color: #8dc; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c71_379 { color: #923; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c71_380 { color: #96a; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c71_381 { color: #9b1; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c71_382 { color: #9f8; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c71_383 { color: #a3f; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c71_384 { color: #a86; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c71_385 { color: #acd; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c71_386 { color: #b14; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c71_387 { color: #b5b; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c71_388 { color: #ba2; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c71_389 { color: #be9; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c71_390 { color: #c30; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c71_391 { color: #c77; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c71_392 { color: #cbe; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c71_393 { color: #d05; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c71_394 { color: #d4c; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c71_395 { color: #d93; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c71_396 { color: #dda; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c71_397 { color: #e21; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c71_398 { color: #e68; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c71_399 { color: #eaf; margin: 19px; padding: 9px; border: 1px solid #ccc; }