.c79_0 { color: #000; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c79_1 { color: #04f; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c79_2 { color: #09e; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c79_3 { color: #0ed; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c79_4 { color: #13c; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c79_5 { color: #18b; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c79_6 { color: #1da; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c79_7 { color: #229; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c79_8 { color: #278; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c79_9 { color: #2c7; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c79_10 { color: #316; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c79_11 { color: #365; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c79_12 { color: #3b4; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c79_13 { color: #403; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c79_14 { color: #452; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c79_15 { color: #4a1; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c79_16 { color: #4f0; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c79_17 { color: #53f; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c79_18 { color: #58e; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c79_19 { color: #5dd; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c79_20 { color: #62c; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c79_21 { color: #67b; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c79_22 { color: #6ca; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c79_23 { color: #719; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c79_24 { color: #768; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c79_25 { color: #7b7; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c79_26 { color: #806; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c79_27 { color: #855; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c79_28 { color: #8a4; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c79_29 { color: #8f3; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c79_30 { color: #942; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c79_31 { color: #991; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c79_32 { color: #9e0; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c79_33 { color: #a2f; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c79_34 { color: #a7e; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c79_35 { color: #acd; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c79_36 { color: #b1c; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c79_37 { color: #b6b; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c79_38 { color: #bba; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c79_39 { color: #c09; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c79_40 { color: #c58; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c79_41 { color: #ca7; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c79_42 { color: #cf6; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c79_43 { color: #d45; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c79_44 { color: #d94; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c79_45 { color: #de3; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c79_46 { color: #e32; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c79_47 { color: #e81; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c79_48 { color: #ed0; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c79_49 { color: #f1f; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c79_50 { color: #f6e; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c79_51 { color: #fbd; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c79_52 { color: #00d; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c79_53 { color: #05c; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c79_54 { color: #0ab; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c79_55 { color: #0fa; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c79_56 { color: #149; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c79_57 { color: #198; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c79_58 { color: #1e7; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c79_59 { color: #236; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c79_60 { color: #285; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c79_61 { color: #2d4; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c79_62 { color: #323; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c79_63 { color: #372; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c79_64 { color: #3c1; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c79_65 { color: #410; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c79_66 { color: #45f; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c79_67 { color: #4ae; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c79_68 { color: #4fd; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c79_69 { color: #54c; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c79_70 { color: #59b; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c79_71 { color: #5ea; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c79_72 { color: #639; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c79_73 { color: #688; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c79_74 { color: #6d7; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c79_75 { color: #726; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c79_76 { color: #775; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c79_77 { color: #7c4; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c79_78 { color: #813; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c79_79 { color: #862; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c79_80 { color: #8b1; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c79_81 { color: #900; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c79_82 { color: #94f; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c79_83 { color: #99e; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c79_84 { color: #9ed; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c79_85 { color: #a3c; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c79_86 { color: #a8b; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c79_87 { color: #ada; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c79_88 { color: #b29; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c79_89 { color: #b78; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c79_90 { color: #bc7; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c79_91 { color: #c16; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c79_92 { color: #c65; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c79_93 { color: #cb4; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c79_94 { color: #d03; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c79_95 { color: #d52; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c79_96 { color: #da1; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c79_97 { color: #df0; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c79_98 { color: #e3f; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c79_99 { color: #e8e; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c79_100 { color: #edd; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c79_101 { color: #f2c; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c79_102 { color: #f7b; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c79_103 { color: #fca; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c79_104 { color: #01a; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c79_105 { color: #069; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c79_106 { color: #0b8; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c79_107 { color: #107; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c79_108 { color: #156; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c79_109 { color: #1a5; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c79_110 { color: #1f4; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c79_111 { color: #243; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c79_112 { color: #292; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c79_113 { color: #2e1; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c79_114 { color: #330; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c79_115 { color: #37f; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c79_116 { color: #3ce; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c79_117 { color: #41d; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c79_118 { color: #46c; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c79_119 { color: #4bb; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c79_120 { color: #50a; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c79_121 { color: #559; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c79_122 { color: #5a8; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c79_123 { color: #5f7; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c79_124 { color: #646; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c79_125 { color: #695; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c79_126 { color: #6e4; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c79_127 { color: #733; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c79_128 { color: #782; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c79_129 { color: #7d1; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c79_130 { color: #820; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c79_131 { color: #86f; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c79_132 { color: #8be; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c79_133 { color: #90d; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c79_134 { color: #95c; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c79_135 { color: #9ab; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c79_136 { color: #9fa; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c79_137 { color: #a49; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c79_138 { color: #a98; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c79_139 { color: #ae7; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c79_140 { color: #b36; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c79_141 { color: #b85; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c79_142 { color: #bd4; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c79_143 { color: #c23; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c79_144 { color: #c72; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c79_145 { color: #cc1; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c79_146 { color: #d10; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c79_147 { color: #d5f; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c79_148 { color: #dae; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c79_149 { color: #dfd; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c79_150 { color: #e4c; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c79_151 { color: #e9b; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c79_152 { color: #eea; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c79_153 { color: #f39; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c79_154 { color: #f88; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c79_155 { color: #fd7; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c79_156 { color: #027; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c79_157 { color: #076; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c79_158 { color: #0c5; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c79_159 { color: #114; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c79_160 { color: #163; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c79_161 { color: #1b2; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c79_162 { color: #201; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c79_163 { color: #250; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c79_164 { color: #29f; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c79_165 { color: #2ee; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c79_166 { color: #33d; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c79_167 { color: #38c; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c79_168 { color: #3db; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c79_169 { color: #42a; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c79_170 { color: #479; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c79_171 { color: #4c8; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c79_172 { color: #517; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c79_173 { color: #566; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c79_174 { color: #5b5; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c79_175 { color: #604; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c79_176 { color: #653; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c79_177 { color: #6a2; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c79_178 { color: #6f1; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c79_179 { color: #740; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c79_180 { color: #78f; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c79_181 { color: #7de; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c79_182 { color: #82d; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c79_183 { color: #87c; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c79_184 { color: #8cb; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c79_185 { color: #91a; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c79_186 { color: #969; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c79_187 { color: #9b8; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c79_188 { color: #a07; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c79_189 { color: #a56; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c79_190 { color: #aa5; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c79_191 { color: #af4; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c79_192 { color: #b43; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c79_193 { color: #b92; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c79_194 { color: #be1; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c79_195 { color: #c30; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c79_196 { color: #c7f; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c79_197 { color: #cce; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c79_198 { color: #d1d; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c79_199 { color: #d6c; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c79_200 { color: #dbb; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c79_201 { color: #e0a; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c79_202 { color: #e59; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c79_203 { color: #ea8; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c79_204 { color: #ef7; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c79_205 { color: #f46; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c79_206 { color: #f95; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c79_207 { color: #fe4; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c79_208 { color: #034; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c79_209 { color: #083; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c79_210 { color: #0d2; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c79_211 { color: #121; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c79_212 { color: #170; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c79_213 { color: #1bf; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c79_214 { color: #20e; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c79_215 { color: #25d; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c79_216 { color: #2ac; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c79_217 { color: #2fb; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c79_218 { color: #34a; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c79_219 { color: #399; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c79_220 { color: #3e8; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c79_221 { color: #437; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c79_222 { color: #486; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c79_223 { color: #4d5; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c79_224 { color: #524; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c79_225 { color: #573; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c79_226 { color: #5c2; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c79_227 { color: #611; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c79_228 { color: #660; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c79_229 { color: #6af; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c79_230 { color: #6fe; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c79_231 { color: #74d; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c79_232 { color: #79c; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c79_233 { color: #7eb; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c79_234 { color: #83a; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c79_235 { color: #889; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c79_236 { color: #8d8; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c79_237 { color: #927; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c79_238 { color: #976; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c79_239 { color: #9c5; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c79_240 { color: #a14; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c79_241 { color: #a63; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c79_242 { color: #ab2; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c79_243 { color: #b01; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c79_244 { color: #b50; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c79_245 { color: #b9f; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c79_246 { color: #bee; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c79_247 { color: #c3d; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c79_248 { color: #c8c; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c79_249 { color: #cdb; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c79_250 { color: #d2a; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c79_251 { color: #d79; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c79_252 { color: #dc8; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c79_253 { color: #e17; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c79_254 { color: #e66; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c79_255 { color: #eb5; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c79_256 { color: #f04; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c79_257 { color: #f53; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c79_258 { color: #fa2; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c79_259 { color: #ff1; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c79_260 { color: #041; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c79_261 { color: #090; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c79_262 { color: #0df; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c79_263 { color: #12e; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c79_264 { color: #17d; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c79_265 { color: #1cc; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c79_266 { color: #21b; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c79_267 { color: #26a; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c79_268 { color: #2b9; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c79_269 { color: #308; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c79_270 { color: #357; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c79_271 { color: #3a6; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c79_272 { color: #3f5; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c79_273 { color: #444; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c79_274 { color: #493; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c79_275 { color: #4e2; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c79_276 { color: #531; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c79_277 { color: #580; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c79_278 { color: #5cf; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c79_279 { color: #61e; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c79_280 { color: #66d; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c79_281 { color: #6bc; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c79_282 { color: #70b; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c79_283 { color: #75a; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c79_284 { color: #7a9; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c79_285 { color: #7f8; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c79_286 { color: #847; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c79_287 { color: #896; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c79_288 { color: #8e5; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c79_289 { color: #934; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c79_290 { color: #983; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c79_291 { color: #9d2; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c79_292 { color: #a21; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c79_293 { color: #a70; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c79_294 { color: #abf; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c79_295 { color: #b0e; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c79_296 { color: #b5d; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c79_297 { color: #bac; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c79_298 { color: #bfb; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c79_299 { color: #c4a; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c79_300 { color: #c99; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c79_301 { color: #ce8; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c79_302 { color: #d37; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c79_303 { color: #d86; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c79_304 { color: #dd5; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c79_305 { color: #e24; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c79_306 { color: #e73; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c79_307 { color: #ec2; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c79_308 { color: #f11; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c79_309 { color: #f60; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c79_310 { color: #faf; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c79_311 { color: #ffe; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c79_312 { color: #04e; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c79_313 { color: #09d; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c79_314 { color: #0ec; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c79_315 { color: #13b; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c79_316 { color: #18a; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c79_317 { color: #1d9; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c79_318 { color: #228; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c79_319 { color: #277; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c79_320 { color: #2c6; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c79_321 { color: #315; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c79_322 { color: #364; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c79_323 { color: #3b3; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c79_324 { color: #402; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c79_325 { color: #451; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c79_326 { color: #4a0; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c79_327 { color: #4ef; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c79_328 { color: #53e; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c79_329 { color: #58d; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c79_330 { color: #5dc; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c79_331 { color: #62b; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c79_332 { color: #67a; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c79_333 { color: #6c9; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c79_334 { color: #718; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c79_335 { color: #767; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c79_336 { color: #7b6; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c79_337 { color: #805; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c79_338 { color: #854; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c79_339 { color: #8a3; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c79_340 { color: #8f2; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c79_341 { color: #941; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c79_342 { color: #990; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c79_343 { color: #9df; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c79_344 { color: #a2e; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c79_345 { color: #a7d; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c79_346 { color: #acc; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c79_347 { color: #b1b; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c79_348 { color: #b6a; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c79_349 { color: #bb9; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c79_350 { color: #c08; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c79_351 { color: #c57; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c79_352 { color: #ca6; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c79_353 { color: #cf5; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c79_354 { color: #d44; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c79_355 { color: #d93; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c79_356 { color: #de2; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c79_357 { color: #e31; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c79_358 { color: #e80; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c79_359 { color: #ecf; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c79_360 { color: #f1e; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c79_361 { color: #f6d; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c79_362 { color: #fbc; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c79_363 { color: #00c; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c79_364 { color: #05b; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c79_365 { color: #0aa; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c79_366 { color: #0f9; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c79_367 { color: #148; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c79_368 { color: #197; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c79_369 { color: #1e6; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c79_370 { color: #235; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c79_371 { color: #284; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c79_372 { color: #2d3; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c79_373 { color: #322; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c79_374 { color: #371; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c79_375 { color: #3c0; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c79_376 { color: #40f; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c79_377 { color: #45e; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c79_378 { color: #4ad; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c79_379 { color: #4fc; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c79_380 { color: #54b; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c79_381 { color: #59a; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c79_382 { color: #5e9; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c79_383 { color: #638; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c79_384 { color: #687; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c79_385 { color: #6d6; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c79_386 { color: #725; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c79_387 { color: #774; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c79_388 { color: #7c3; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c79_389 { color: #812; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c79_390 { color: #861; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c79_391 { color: #8b0; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c79_392 { color: #8ff; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c79_393 { color: #94e; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c79_394 { color: #99d; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c79_395 { color: #9ec; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c79_396 { color: #a3b; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c79_397 { color: #a8a; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c79_398 { color: #ad9; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c79_399 { color: #b28; margin: 19px; padding: 9px; border: 1px solid #ccc; }