.c8_0 { color: #000; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c8_1 { color: #008; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c8_2 { color: #010; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c8_3 { color: #018; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c8_4 { color: #020; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c8_5 { color: #028; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c8_6 { color: #030; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c8_7 { color: #038; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c8_8 { color: #040; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c8_9 { color: #048; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c8_10 { color: #050; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c8_11 { color: #058; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c8_12 { color: #060; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c8_13 { color: #068; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c8_14 { color: #070; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c8_15 { color: #078; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c8_16 { color: #080; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c8_17 { color: #088; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c8_18 { color: #090; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c8_19 { color: #098; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c8_20 { color: #0a0; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c8_21 { color: #0a8; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c8_22 { color: #0b0; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c8_23 { color: #0b8; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c8_24 { color: #0c0; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c8_25 { color: #0c8; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c8_26 { color: #0d0; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c8_27 { color: #0d8; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c8_28 { color: #0e0; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c8_29 { color: #0e8; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c8_30 { color: #0f0; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c8_31 { color: #0f8; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c8_32 { color: #100; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c8_33 { color: #108; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c8_34 { color: #110; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c8_35 { color: #118; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c8_36 { color: #120; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c8_37 { color: #128; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c8_38 { color: #130; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c8_39 { color: #138; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c8_40 { color: #140; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c8_41 { color: #148; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c8_42 { color: #150; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c8_43 { color: #158; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c8_44 { color: #160; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c8_45 { color: #168; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c8_46 { color: #170; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c8_47 { color: #178; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c8_48 { color: #180; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c8_49 { color: #188; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c8_50 { color: #190; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c8_51 { color: #198; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c8_52 { color: #1a0; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c8_53 { color: #1a8; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c8_54 { color: #1b0; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c8_55 { color: #1b8; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c8_56 { color: #1c0; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c8_57 { color: #1c8; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c8_58 { color: #1d0; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c8_59 { color: #1d8; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c8_60 { color: #1e0; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c8_61 { color: #1e8; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c8_62 { color: #1f0; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c8_63 { color: #1f8; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c8_64 { color: #200; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c8_65 { color: #208; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c8_66 { color: #210; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c8_67 { color: #218; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c8_68 { color: #220; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c8_69 { color: #228; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c8_70 { color: #230; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c8_71 { color: #238; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c8_72 { color: #240; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c8_73 { color: #248; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c8_74 { color: #250; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c8_75 { color: #258; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c8_76 { color: #260; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c8_77 { color: #268; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c8_78 { color: #270; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c8_79 { color: #278; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c8_80 { color: #280; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c8_81 { color: #288; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c8_82 { color: #290; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c8_83 { color: #298; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c8_84 { color: #2a0; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c8_85 { color: #2a8; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c8_86 { color: #2b0; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c8_87 { color: #2b8; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c8_88 { color: #2c0; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c8_89 { color: #2c8; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c8_90 { color: #2d0; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c8_91 { color: #2d8; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c8_92 { color: #2e0; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c8_93 { color: #2e8; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c8_94 { color: #2f0; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c8_95 { color: #2f8; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c8_96 { color: #300; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c8_97 { color: #308; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c8_98 { color: #310; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c8_99 { color: #318; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c8_100 { color: #320; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c8_101 { color: #328; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c8_102 { color: #330; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c8_103 { color: #338; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c8_104 { color: #340; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c8_105 { color: #348; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c8_106 { color: #350; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c8_107 { color: #358; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c8_108 { color: #360; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c8_109 { color: #368; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c8_110 { color: #370; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c8_111 { color: #378; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c8_112 { color: #380; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c8_113 { color: #388; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c8_114 { color: #390; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c8_115 { color: #398; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c8_116 { color: #3a0; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c8_117 { color: #3a8; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c8_118 { color: #3b0; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c8_119 { color: #3b8; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c8_120 { color: #3c0; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c8_121 { color: #3c8; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c8_122 { color: #3d0; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c8_123 { color: #3d8; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c8_124 { color: #3e0; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c8_125 { color: #3e8; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c8_126 { color: #3f0; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c8_127 { color: #3f8; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c8_128 { color: #400; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c8_129 { color: #408; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c8_130 { color: #410; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c8_131 { color: #418; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c8_132 { color: #420; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c8_133 { color: #428; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c8_134 { color: #430; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c8_135 { color: #438; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c8_136 { color: #440; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c8_137 { color: #448; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c8_138 { color: #450; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c8_139 { color: #458; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c8_140 { color: #460; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c8_141 { color: #468; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c8_142 { color: #470; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c8_143 { color: #478; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c8_144 { color: #480; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c8_145 { color: #488; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c8_146 { color: #490; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c8_147 { color: #498; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c8_148 { color: #4a0; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c8_149 { color: #4a8; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c8_150 { color: #4b0; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c8_151 { color: #4b8; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c8_152 { color: #4c0; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c8_153 { color: #4c8; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c8_154 { color: #4d0; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c8_155 { color: #4d8; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c8_156 { color: #4e0; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c8_157 { color: #4e8; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c8_158 { color: #4f0; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c8_159 { color: #4f8; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c8_160 { color: #500; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c8_161 { color: #508; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c8_162 { color: #510; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c8_163 { color: #518; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c8_164 { color: #520; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c8_165 { color: #528; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c8_166 { color: #530; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c8_167 { color: #538; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c8_168 { color: #540; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c8_169 { color: #548; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c8_170 { color: #550; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c8_171 { color: #558; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c8_172 { color: #560; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c8_173 { color: #568; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c8_174 { color: #570; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c8_175 { color: #578; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c8_176 { color: #580; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c8_177 { color: #588; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c8_178 { color: #590; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c8_179 { color: #598; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c8_180 { color: #5a0; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c8_181 { color: #5a8; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c8_182 { color: #5b0; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c8_183 { color: #5b8; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c8_184 { color: #5c0; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c8_185 { color: #5c8; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c8_186 { color: #5d0; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c8_187 { color: #5d8; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c8_188 { color: #5e0; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c8_189 { color: #5e8; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c8_190 { color: #5f0; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c8_191 { color: #5f8; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c8_192 { color: #600; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c8_193 { color: #608; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c8_194 { color: #610; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c8_195 { color: #618; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c8_196 { color: #620; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c8_197 { color: #628; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c8_198 { color: #630; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c8_199 { color: #638; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c8_200 { color: #640; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c8_201 { color: #648; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c8_202 { color: #650; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c8_203 { color: #658; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c8_204 { color: #660; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c8_205 { color: #668; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c8_206 { color: #670; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c8_207 { color: #678; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c8_208 { color: #680; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c8_209 { color: #688; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c8_210 { color: #690; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c8_211 { color: #698; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c8_212 { color: #6a0; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c8_213 { color: #6a8; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c8_214 { color: #6b0; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c8_215 { color: #6b8; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c8_216 { color: #6c0; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c8_217 { color: #6c8; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c8_218 { color: #6d0; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c8_219 { color: #6d8; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c8_220 { color: #6e0; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c8_221 { color: #6e8; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c8_222 { color: #6f0; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c8_223 { color: #6f8; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c8_224 { color: #700; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c8_225 { color: #708; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c8_226 { color: #710; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c8_227 { color: #718; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c8_228 { color: #720; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c8_229 { color: #728; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c8_230 { color: #730; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c8_231 { color: #738; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c8_232 { color: #740; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c8_233 { color: #748; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c8_234 { color: #750; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c8_235 { color: #758; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c8_236 { color: #760; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c8_237 { color: #768; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c8_238 { color: #770; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c8_239 { color: #778; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c8_240 { color: #780; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c8_241 { color: #788; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c8_242 { color: #790; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c8_243 { color: #798; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c8_244 { color: #7a0; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c8_245 { color: #7a8; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c8_246 { color: #7b0; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c8_247 { color: #7b8; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c8_248 { color: #7c0; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c8_249 { color: #7c8; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c8_250 { color: #7d0; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c8_251 { color: #7d8; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c8_252 { color: #7e0; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c8_253 { color: #7e8; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c8_254 { color: #7f0; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c8_255 { color: #7f8; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c8_256 { color: #800; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c8_257 { color: #808; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c8_258 { color: #810; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c8_259 { color: #818; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c8_260 { color: #820; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c8_261 { color: #828; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c8_262 { color: #830; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c8_263 { color: #838; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c8_264 { color: #840; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c8_265 { color: #848; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c8_266 { color: #850; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c8_267 { color: #858; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c8_268 { color: #860; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c8_269 { color: #868; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c8_270 { color: #870; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c8_271 { color: #878; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c8_272 { color: #880; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c8_273 { color: #888; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c8_274 { color: #890; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c8_275 { color: #898; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c8_276 { color: #8a0; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c8_277 { color: #8a8; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c8_278 { color: #8b0; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c8_279 { color: #8b8; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c8_280 { color: #8c0; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c8_281 { color: #8c8; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c8_282 { color: #8d0; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c8_283 { color: #8d8; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c8_284 { color: #8e0; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c8_285 { color: #8e8; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c8_286 { color: #8f0; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c8_287 { color: #8f8; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c8_288 { color: #900; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c8_289 { color: #908; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c8_290 { color: #910; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c8_291 { color: #918; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c8_292 { color: #920; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c8_293 { color: #928; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c8_294 { color: #930; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c8_295 { color: #938; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c8_296 { color: #940; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c8_297 { color: #948; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c8_298 { color: #950; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c8_299 { color: #958; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c8_300 { color: #960; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c8_301 { color: #968; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c8_302 { color: #970; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c8_303 { color: #978; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c8_304 { color: #980; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c8_305 { color: #988; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c8_306 { color: #990; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c8_307 { color: #998; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c8_308 { color: #9a0; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c8_309 { color: #9a8; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c8_310 { color: #9b0; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c8_311 { color: #9b8; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c8_312 { color: #9c0; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c8_313 { color: #9c8; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c8_314 { color: #9d0; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c8_315 { color: #9d8; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c8_316 { color: #9e0; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c8_317 { color: #9e8; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c8_318 { color: #9f0; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c8_319 { color: #9f8; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c8_320 { color: #a00; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c8_321 { color: #a08; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c8_322 { color: #a10; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c8_323 { color: #a18; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c8_324 { color: #a20; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c8_325 { color: #a28; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c8_326 { color: #a30; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c8_327 { color: #a38; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c8_328 { color: #a40; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c8_329 { color: #a48; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c8_330 { color: #a50; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c8_331 { color: #a58; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c8_332 { color: #a60; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c8_333 { color: #a68; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c8_334 { color: #a70; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c8_335 { color: #a78; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c8_336 { color: #a80; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c8_337 { color: #a88; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c8_338 { color: #a90; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c8_339 { color: #a98; margin: 19px; padding: 9px; border: 1px solid #ccc; }
.c8_340 { color: #aa0; margin: 0px; padding: 10px; border: 1px solid #ccc; }
.c8_341 { color: #aa8; margin: 1px; padding: 11px; border: 1px solid #ccc; }
.c8_342 { color: #ab0; margin: 2px; padding: 12px; border: 1px solid #ccc; }
.c8_343 { color: #ab8; margin: 3px; padding: 13px; border: 1px solid #ccc; }
.c8_344 { color: #ac0; margin: 4px; padding: 14px; border: 1px solid #ccc; }
.c8_345 { color: #ac8; margin: 5px; padding: 0px; border: 1px solid #ccc; }
.c8_346 { color: #ad0; margin: 6px; padding: 1px; border: 1px solid #ccc; }
.c8_347 { color: #ad8; margin: 7px; padding: 2px; border: 1px solid #ccc; }
.c8_348 { color: #ae0; margin: 8px; padding: 3px; border: 1px solid #ccc; }
.c8_349 { color: #ae8; margin: 9px; padding: 4px; border: 1px solid #ccc; }
.c8_350 { color: #af0; margin: 10px; padding: 5px; border: 1px solid #ccc; }
.c8_351 { color: #af8; margin: 11px; padding: 6px; border: 1px solid #ccc; }
.c8_352 { color: #b00; margin: 12px; padding: 7px; border: 1px solid #ccc; }
.c8_353 { color: #b08; margin: 13px; padding: 8px; border: 1px solid #ccc; }
.c8_354 { color: #b10; margin: 14px; padding: 9px; border: 1px solid #ccc; }
.c8_355 { color: #b18; margin: 15px; padding: 10px; border: 1px solid #ccc; }
.c8_356 { color: #b20; margin: 16px; padding: 11px; border: 1px solid #ccc; }
.c8_357 { color: #b28; margin: 17px; padding: 12px; border: 1px solid #ccc; }
.c8_358 { color: #b30; margin: 18px; padding: 13px; border: 1px solid #ccc; }
.c8_359 { color: #b38; margin: 19px; padding: 14px; border: 1px solid #ccc; }
.c8_360 { color: #b40; margin: 0px; padding: 0px; border: 1px solid #ccc; }
.c8_361 { color: #b48; margin: 1px; padding: 1px; border: 1px solid #ccc; }
.c8_362 { color: #b50; margin: 2px; padding: 2px; border: 1px solid #ccc; }
.c8_363 { color: #b58; margin: 3px; padding: 3px; border: 1px solid #ccc; }
.c8_364 { color: #b60; margin: 4px; padding: 4px; border: 1px solid #ccc; }
.c8_365 { color: #b68; margin: 5px; padding: 5px; border: 1px solid #ccc; }
.c8_366 { color: #b70; margin: 6px; padding: 6px; border: 1px solid #ccc; }
.c8_367 { color: #b78; margin: 7px; padding: 7px; border: 1px solid #ccc; }
.c8_368 { color: #b80; margin: 8px; padding: 8px; border: 1px solid #ccc; }
.c8_369 { color: #b88; margin: 9px; padding: 9px; border: 1px solid #ccc; }
.c8_370 { color: #b90; margin: 10px; padding: 10px; border: 1px solid #ccc; }
.c8_371 { color: #b98; margin: 11px; padding: 11px; border: 1px solid #ccc; }
.c8_372 { color: #ba0; margin: 12px; padding: 12px; border: 1px solid #ccc; }
.c8_373 { color: #ba8; margin: 13px; padding: 13px; border: 1px solid #ccc; }
.c8_374 { color: #bb0; margin: 14px; padding: 14px; border: 1px solid #ccc; }
.c8_375 { color: #bb8; margin: 15px; padding: 0px; border: 1px solid #ccc; }
.c8_376 { color: #bc0; margin: 16px; padding: 1px; border: 1px solid #ccc; }
.c8_377 { color: #bc8; margin: 17px; padding: 2px; border: 1px solid #ccc; }
.c8_378 { color: #bd0; margin: 18px; padding: 3px; border: 1px solid #ccc; }
.c8_379 { color: #bd8; margin: 19px; padding: 4px; border: 1px solid #ccc; }
.c8_380 { color: #be0; margin: 0px; padding: 5px; border: 1px solid #ccc; }
.c8_381 { color: #be8; margin: 1px; padding: 6px; border: 1px solid #ccc; }
.c8_382 { color: #bf0; margin: 2px; padding: 7px; border: 1px solid #ccc; }
.c8_383 { color: #bf8; margin: 3px; padding: 8px; border: 1px solid #ccc; }
.c8_384 { color: #c00; margin: 4px; padding: 9px; border: 1px solid #ccc; }
.c8_385 { color: #c08; margin: 5px; padding: 10px; border: 1px solid #ccc; }
.c8_386 { color: #c10; margin: 6px; padding: 11px; border: 1px solid #ccc; }
.c8_387 { color: #c18; margin: 7px; padding: 12px; border: 1px solid #ccc; }
.c8_388 { color: #c20; margin: 8px; padding: 13px; border: 1px solid #ccc; }
.c8_389 { color: #c28; margin: 9px; padding: 14px; border: 1px solid #ccc; }
.c8_390 { color: #c30; margin: 10px; padding: 0px; border: 1px solid #ccc; }
.c8_391 { color: #c38; margin: 11px; padding: 1px; border: 1px solid #ccc; }
.c8_392 { color: #c40; margin: 12px; padding: 2px; border: 1px solid #ccc; }
.c8_393 { color: #c48; margin: 13px; padding: 3px; border: 1px solid #ccc; }
.c8_394 { color: #c50; margin: 14px; padding: 4px; border: 1px solid #ccc; }
.c8_395 { color: #c58; margin: 15px; padding: 5px; border: 1px solid #ccc; }
.c8_396 { color: #c60; margin: 16px; padding: 6px; border: 1px solid #ccc; }
.c8_397 { color: #c68; margin: 17px; padding: 7px; border: 1px solid #ccc; }
.c8_398 { color: #c70; margin: 18px; padding: 8px; border: 1px solid #ccc; }
.c8_399 { color: #c78; margin: 19px; padding: 9px; border: 1px solid #ccc; }